*::-webkit-input-placeholder { /* WebKit, Blink, Edge */ color: #535353; font-family: "Source Sans Pro", sans-serif; }
*:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ color: #535353; font-family: "Source Sans Pro", sans-serif; opacity: 1; }
*::-moz-placeholder { /* Mozilla Firefox 19+ */ color: #535353; font-family: "Source Sans Pro", sans-serif; opacity: 1; }
*:-ms-input-placeholder { /* Internet Explorer 10-11 */ color: #535353; font-family: "Source Sans Pro", sans-serif; }
.banner-text, figcaption { font-family: 'Open Sans',sans-serif;}
.container { max-width: 1100px;}

@font-face { font-family: "Japan"; font-style: normal; font-weight: 400; src: url(fonts/Japan.ttf) format("truetype"); }

#masthead { padding: 20px 0;}
#masthead .left { max-width: 50%; display: inline-block; }
#masthead .right { max-width: 50%; float: right; display: inline-block;}
#masthead .site-title h1 { margin:0; line-height: 1.5; font-size: 30px;}
#masthead .site-title h1 a {color: #303030; font-family: "Japan";}
#masthead .site-title h1 a:hover,
#masthead .site-title h1 a:focus { text-decoration: none; outline: none; }
#masthead .menu #navbar ul.navbar-nav li { float: unset; display: inline-block;}
#masthead .menu #navbar ul.navbar-nav li.active { box-shadow: 0 3px 0 0 #56b6ee; color: #303030;}
#masthead .menu #navbar ul.navbar-nav li a { color: #303030; font-size: 16px;  transition: all 300ms ease 0s;}
#masthead .menu #navbar ul.navbar-nav li a:hover,
#masthead .menu #navbar ul.navbar-nav li a:focus { background: transparent; box-shadow: 0 3px 0 0 #56b6ee; color: #303030; transition: all 300ms ease 0s;}
#banner { background-image: url('img/banner.jpg'); background-repeat: no-repeat; background-position: center center; background-size: cover; padding: 180px 0;}
#banner .banner-text { text-align: center; color: #ffffff;}
#banner .banner-text h1 { font-family: "Japan"; font-size: 60px; margin: 0px;}
#banner .banner-text h2 { font-family: "Japan"; font-size: 36px; margin: 0px;}
/*#banner .banner-text h2:before {  background: #ffffff; content: ""; display: block; height: 1px; left: 20%; max-width: 150px; position: absolute; right: 0; top: 50%; z-index: -1;}
#banner .banner-text h2::after {  background: #ffffff; content: ""; display: block; height: 1px; left: 705px; max-width: 150px;
    position: absolute; right: 0; top: 50%; z-index: -1;}*/
/*#banner .banner-text h2 span { color: #ffffff; padding: 0 20px; z-index: 99;}*/
#banner .banner-text h3 {  font-size: 20px; font-style: italic;}
#banner .banner-btn { text-align: center; padding: 30px 0;}
#banner .banner-btn .btn.btn-primary { background-color: #65265d; border: 0px; border-radius: 20px;  font-size: 32px; font-weight: 700; min-width: 300px; padding: 20px 30px; text-transform: uppercase;}
#banner .banner-btn .btn.btn-primary:hover{color:#65265d; background-color: #FFF; }
#packages { margin-top: -50px; margin-bottom: 40px; background-image: url('img/banner-2.jpg'); background-repeat: no-repeat; background-position: center center; background-size: cover; }
#packages .package { background-color: #ebebeb; border: 1px solid #a7a7a7; border-radius: 2px; display: table; margin-bottom: 30px; /*margin-top: -70px;*/ padding: 15px; width: 100%;}
#packages .package .package__img { background-size: cover; height: 150px; position: relative; text-align: center; vertical-align: top; width: 100%;}
#packages .package .package__img figcaption {font-family: "Japan"; background-color: rgba(31, 7, 46, 0.8); bottom: 0; color: #fff; font-size: 32px; left: 0; padding: 5px 0; position: absolute; width: 100%;}
#packages .package .package__details { display: table-row; text-align: center; vertical-align: top; width: 100%;}
#packages .package .package__details h1 { color: #3c3c3c; font-size: 16px; }
#packages .package .package__details h2 { color: #2c6a8f; font-weight: 700; margin: 20px 0; font-size: 27px;}
#packages .package .package__details h2 span { color: #2c6a8f; font-size: 16px; font-weight: 400; display: block; }
#book-travel-form { background-image: url('img/map.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center; padding: 50px 0;}
#packages .package .package__details p {  font-size: 12px; line-height: 13px; margin-bottom: 20px; color: #3c3c3c;}
#packages .package .package__details a { background-color: #b142a3; border: 1px solid #b142a3; color: #fff; display: block; font-size: 24px; font-weight: 700; padding: 5px 0; text-transform: uppercase; transition: all 300ms ease 0s;  }
#packages .package .package__details a:hover{background-color: #FFF; color:#b142a3; text-decoration: none;}
#book-travel-form h1 {font-family: "Japan"; font-size: 50px; text-align: center; color: #414141; margin-bottom: 30px;}
#book-travel-form .form-group label {  font-size: 19px; color: #525252; font-weight: 400;}
#book-travel-form .form-group input { background-color: #ffffff; box-shadow: none; border-radius: 0; padding: 15px 10px; border: 1px solid #ffffff; height: auto;  font-size: 16px;}
#book-travel-form .radio { margin: 20px;}
#book-travel-form .radio label { font-size: 19px; color: #525252; }
#book-travel-form .btn.btn-primary { background-color: #b142a3; padding: 15px 30px;  font-size: 20px; font-weight: 700; text-transform: uppercase; border-radius: 0; border:0; margin: 30px 0; border:solid 1px #b142a3; transition: all 300ms ease 0s; }
#book-travel-form .btn.btn-primary:hover{background-color: #FFF; color: #b142a3;}
#gallery h1 { margin: 50px 0 20px; font-family: "Japan"; text-align: center; color: #535353; font-size: 50px;}
#gallery .home-slider .main-slider .slick-next,
#gallery .home-slider .main-slider .slick-prev { background-color: #303030; background-position: center center; background-repeat: no-repeat; border-radius: 0; color: transparent; display: inline-block; height: 52px; position: absolute; top: 45%; transform: translateY(-45%); width: 86px; z-index: 99;}
#gallery .home-slider .main-slider .slick-prev { background-image: url("img/prev.png"); left: -5px;}
#gallery .home-slider .main-slider .slick-next { background-image: url("img/next.png"); right: -5px;}
#gallery .home-slider .main-slider .slick-prev::before,
#gallery .home-slider .main-slider .slick-next::before { display: none;}
#gallery .home-slider .main-slider .slide { margin-bottom: 40px; margin-left: 20px; margin-right: 20px;}
#gallery .home-slider .nav-slider .slide { margin-bottom: 40px; margin-left: 20px; margin-right: 20px; cursor: pointer;}
#footer { padding: 20px 0;}
#footer .social-icons { text-align: center;}
#footer .social-icons ul { margin: 0;}
#footer .social-icons ul li { background-color: #dd9afc; border-radius: 50%; border:solid 1px #dd9afc; font-size: 20px; height: 40px; width: 40px; line-height: 38px; transition:all 300ms ease 0s; }
#footer .social-icons ul li:hover{background-color: #FFF;}
#footer .social-icons ul li a i { color: #FFF;}
#footer .social-icons ul li:hover a i{color:#dd9afc; }
#footer .copyright h4 { color: #7f7f7f; font-weight: 300; font-size: 16px;}

#navbar > ul li:hover > ul { display: block; }
#navbar > ul ul li a { padding:8px 30px; }

@media screen and (min-width: 992px) and (max-width: 1199px) {
	#banner .banner-text h2:before { left: 140px; max-width: 150px;}
	#banner .banner-text h2:after { left: 650px; max-width: 150px;} 
}
@media screen and (min-width: 768px) and (max-width: 991px) {
	.container { width: auto;}
	#masthead .site-title h1 { text-align: center; line-height: normal; font-size: 32px;}
	#banner .banner-text h1,
	#banner .banner-text h2 { font-size: 48px; margin: 0;}
	#banner .banner-text h2:before,
	#banner .banner-text h2:after { visibility: hidden;}
	#banner .banner-text h3 { font-size: 26px;}
	#banner .banner-btn .btn.btn-primary { font-size: 26px; min-width: 250px; padding: 12px;}
	#packages .package .package__img { height: 135px;}
	#book-travel-form h1,
	#gallery h1 { font-size: 32px;}
}
@media screen and (max-width: 767px) {
	#masthead .site-title h1 { text-align: center; font-size: 32px; line-height: normal;}
	#masthead #mobile-menu { position: relative;}
	#masthead .menu .navbar-header .navbar-toggle { background: #303030;}
	#masthead .menu .navbar-header .navbar-toggle .icon-bar { background: #ffffff;}
	#masthead .menu-mobile #navbar2 { margin: 20px 0; border:0;}
	#masthead .menu-mobile #navbar2 ul { margin: 0; border-top: 1px solid #d1d1d1;}
	#masthead .menu-mobile #navbar2 ul li { border-bottom: 1px solid #d1d1d1;}
	#masthead .menu-mobile #navbar2 ul li.active { font-weight: 700; color: #303030;  }
	#masthead .menu-mobile #navbar2 ul li a { font-size: 16px; color: #303030;}
	#banner { padding: 70px 0;}
	#banner .banner-text h1,
	#banner .banner-text h2 { font-size: 40px; margin: 0;}
	#banner .banner-text h2:before,
	#banner .banner-text h2:after { visibility: hidden;}
	#banner .banner-text h3 { font-size: 16px;}
	#banner .banner-btn .btn.btn-primary { font-size: 24px; min-width: 200px; padding: 15px;}
	#book-travel-form h1,
	#gallery h1 { font-size: 32px;}
}
@media screen and (min-width: 420px) and (max-width: 481px){
	#masthead .site-title h1 { text-align: center; font-size: 26px; line-height: normal;}
}
@media screen and (max-width: 419px) {
	#masthead .site-title h1 { text-align: center; font-size: 22px; line-height: normal;}
}
