body.red-template .banner__overlay__subheader { color: #c0392b; }

body.red-template .banner__overlay__subheader { color: #c0392b; }

body.red-template .btn-success { background-color: #c0392b; border-color: #c0392b; color: #fff; }

body.red-template .btn-success:hover, body.red-template .btn-success:focus { background-color: #962d22; border-color: #962d22; }

body.red-template .has-decor--green::after { content: url("../images/decor-red-template.png"); }

body.red-template .section__header small { color: #c0392b; }

body.red-template .section--cta .section__header small { color: #fff; }

body.red-template .sd-global-soc-icons > ul > li > a { background-color: #c0392b; }

body.orange-template .banner__overlay__subheader { color: #f39c12; }

body.orange-template .banner__overlay__subheader { color: #f39c12; }

body.orange-template .btn-success { background-color: #f39c12; border-color: #f39c12; color: #fff; }

body.orange-template .btn-success:hover, body.orange-template .btn-success:focus { background-color: #c87f0a; border-color: #c87f0a; }

body.orange-template .has-decor--green::after { content: url("../images/decor-orange-template.png"); }

body.orange-template .section__header small { color: #f39c12; }

body.orange-template .section--cta .section__header small { color: #fff; }

body.orange-template .sd-global-soc-icons > ul > li > a { background-color: #f39c12; }

body.yellow-template .banner__overlay__subheader { color: #f1c40f; }

body.yellow-template .banner__overlay__subheader { color: #f1c40f; }

body.yellow-template .btn-success { background-color: #f1c40f; border-color: #f1c40f; color: #fff; }

body.yellow-template .btn-success:hover, body.yellow-template .btn-success:focus { background-color: #c29d0b; border-color: #c29d0b; }

body.yellow-template .has-decor--green::after { content: url("../images/decor-yellow-template.png"); }

body.yellow-template .section__header small { color: #f1c40f; }

body.yellow-template .section--cta .section__header small { color: #fff; }

body.yellow-template .sd-global-soc-icons > ul > li > a { background-color: #f1c40f; }

body.green-template .banner__overlay__subheader { color: #16a085; }

body.green-template .banner__overlay__subheader { color: #16a085; }

body.green-template .btn-success { background-color: #16a085; border-color: #16a085; color: #fff; }

body.green-template .btn-success:hover, body.green-template .btn-success:focus { background-color: #107360; border-color: #107360; }

body.green-template .has-decor--green::after { content: url("../images/decor-green-template.png"); }

body.green-template .section__header small { color: #16a085; }

body.green-template .section--cta .section__header small { color: #fff; }

body.green-template .sd-global-soc-icons > ul > li > a { background-color: #16a085; }

body.blue-template .banner__overlay__subheader { color: #2980b9; }

body.blue-template .banner__overlay__subheader { color: #2980b9; }

body.blue-template .btn-success { background-color: #2980b9; border-color: #2980b9; color: #fff; }

body.blue-template .btn-success:hover, body.blue-template .btn-success:focus { background-color: #20638f; border-color: #20638f; }

body.blue-template .has-decor--green::after { content: url("../images/decor-blue-template.png"); }

body.blue-template .section__header small { color: #2980b9; }

body.blue-template .section--cta .section__header small { color: #fff; }

body.blue-template .sd-global-soc-icons > ul > li > a { background-color: #2980b9; }

body.indigo-template .banner__overlay__subheader { color: #8e44ad; }

body.indigo-template .banner__overlay__subheader { color: #8e44ad; }

body.indigo-template .btn-success { background-color: #8e44ad; border-color: #8e44ad; color: #fff; }

body.indigo-template .btn-success:hover, body.indigo-template .btn-success:focus { background-color: #703688; border-color: #703688; }

body.indigo-template .has-decor--green::after { content: url("../images/decor-indigo-template.png"); }

body.indigo-template .section__header small { color: #8e44ad; }

body.indigo-template .section--cta .section__header small { color: #fff; }

body.indigo-template .sd-global-soc-icons > ul > li > a { background-color: #8e44ad; }

body.violet-template .banner__overlay__subheader { color: #9b59b6; }

body.violet-template .banner__overlay__subheader { color: #9b59b6; }

body.violet-template .btn-success { background-color: #9b59b6; border-color: #9b59b6; color: #fff; }

body.violet-template .btn-success:hover, body.violet-template .btn-success:focus { background-color: #804399; border-color: #804399; }

body.violet-template .has-decor--green::after { content: url("../images/decor-violet-template.png"); }

body.violet-template .section__header small { color: #9b59b6; }

body.violet-template .section--cta .section__header small { color: #fff; }

body.violet-template .sd-global-soc-icons > ul > li > a { background-color: #9b59b6; }
