@mixin colorchanger($color, $color-name){
    body.#{$color-name}{
        #masthead .menu #navbar ul.navbar-nav li.active, #masthead .menu #navbar ul.navbar-nav li a:hover, #masthead .menu #navbar ul.navbar-nav li a:focus{box-shadow: 0 3px 0 0 $color;}
        #book-travel-form{background-color: $color;}
        #book-travel-form .btn.btn-primary{background-color: darken($color,15%); border-color: darken($color,15%);}
        #book-travel-form .btn.btn-primary:hover{background-color: #fff; color: $color;}
        #banner .banner-text .border h1, #banner .banner-text .border h1 span{text-shadow: 2px 2px 4px lighten($color, 5%), -3px 4px 0 lighten($color, 5%), 5px -1px 0 lighten($color, 5%), 2px -1px 1px lighten($color, 5%);}
        #packages{background: url('../img/map-#{$color-name}.jpg'); background-position: center center;}
        #packages h1{ color: #fff;}
        #packages .list .package .package__details h2, #packages .list .package .package__details h2 span{ color: $color;}
        #packages .list .package .package__details a{background-color: $color; border-color: $color;}
        #packages .list .package .package__img figcaption{background-color: $color; opacity: .8;}
        #gallery .home-slider .main-slider .slick-prev,#gallery .home-slider .main-slider .slick-next{background-color: $color;}
        #footer .social-icons ul li{background-color: $color;}
        .sd-global-soc-icons > ul > li > a{ background-color: $color;}
    }
}


@include colorchanger(#c0392b, 'red-template');

@include colorchanger(#f39c12, 'orange-template');

@include colorchanger(#f1c40f, 'yellow-template');

@include colorchanger(#16a085, 'green-template');

@include colorchanger(#2980b9, 'blue-template');

@include colorchanger(#8e44ad, 'indigo-template');

@include colorchanger(#9b59b6, 'violet-template');
