@mixin colorchanger($color, $color-name){
    body.#{$color-name}{
      #masthead .menu #navbar ul.navbar-nav li.active{box-shadow: 0 3px 0 0 $color;}
      #masthead .menu #navbar ul.navbar-nav li a:hover, #masthead .menu #navbar ul.navbar-nav li a:focus{box-shadow: 0 3px 0 0 $color;}
      #banner .banner-btn .btn.btn-primary{background-color: $color; border-color: $color;}
      #banner .banner-btn .btn.btn-primary:hover{background-color: #fff; color: $color; border-color: $color;}
      #packages .package .package__details h2, #packages .package .package__details h2 span{color: $color;}
      #packages .package .package__details a{background-color: $color; border: 1px solid $color;}
      #packages .package .package__img figcaption{background-color: $color; opacity: .8;}
      #book-travel-form{background: url('../img/map-#{$color-name}.jpg');}
      #book-travel-form .btn.btn-primary{border: 1px solid $color; background-color: darken($color, 10%);}
      #book-travel-form .btn.btn-primary:hover{background-color: #fff; color: $color;}
      #gallery .home-slider .main-slider .slick-prev{background-color: $color;}
      #gallery .home-slider .main-slider .slick-next{background-color: $color;}
      #footer .social-icons ul li{background-color: $color; border-color: $color;}
      .sd-global-soc-icons > ul > li > a{ background-color: $color;}
    }
}


@include colorchanger(#c0392b, 'red-template');

@include colorchanger(#f39c12, 'orange-template');

@include colorchanger(#f1c40f, 'yellow-template');

@include colorchanger(#16a085, 'green-template');

@include colorchanger(#2980b9, 'blue-template');

@include colorchanger(#8e44ad, 'indigo-template');

@include colorchanger(#9b59b6, 'violet-template');
