*::-webkit-input-placeholder { /* WebKit, Blink, Edge */ color: #535353; font-family: "Source Sans Pro", sans-serif; }
*:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ color: #535353; font-family: "Source Sans Pro", sans-serif; opacity: 1; }
*::-moz-placeholder { /* Mozilla Firefox 19+ */ color: #535353; font-family: "Source Sans Pro", sans-serif; opacity: 1; }
*:-ms-input-placeholder { /* Internet Explorer 10-11 */ color: #535353; font-family: "Source Sans Pro", sans-serif; }
.banner-text, figcaption, h1 { font-family: "Times New Roman";}

@font-face { font-family: "AxureHandwriting"; font-style: normal; font-weight: 400; src: url(fonts/AxureHandwriting.ttf) format("truetype"); }


.container { max-width: 1100px;}

#masthead { padding: 20px 0;}
#masthead .site-title h1 { margin:0; line-height: 1.5; font-size: 40px;}
#masthead .site-title h1 a { text-transform: capitalize; color: #303030; letter-spacing: -1px;font-family: "AxureHandwriting";}
#masthead .site-title h1 a:hover,
#masthead .site-title h1 a:focus { text-decoration: none; outline: none; }
#masthead .menu #navbar ul.navbar-nav li { float: unset; display: inline-block;}
#masthead .menu #navbar ul.navbar-nav li.active { box-shadow: 0 3px 0 0 #6bbc49; color: #303030;}
#masthead .menu #navbar ul.navbar-nav li a { color: #303030; font-size: 16px; font-family: 'Open Sans',sans-serif; transition: all 300ms ease 0s;}
#masthead .menu #navbar ul.navbar-nav li a:hover,
#masthead .menu #navbar ul.navbar-nav li a:focus { background: transparent; box-shadow: 0 3px 0 0 #56b6ee; color: #303030; transition: all 300ms ease 0s;}
#banner { background-image: url('img/banner.jpg'); background-repeat: no-repeat; background-position: center center; background-size: cover; padding: 50px 0;}
#banner .banner-text { text-align: center;margin: 105px auto; /*max-width: 350px;*/ position: relative;padding-left: 115px;}
/*#banner .banner-text .border::before,
#banner .banner-text .border::after,
#banner .banner-text .border h1::before,
#banner .banner-text .border h1::after { background-color: #ffffff; content: ""; display: block; height: 3px; position: absolute; width: 90%;}
#banner .banner-text .border:before { left: 50%;transform: translateX(-50%); width: 60%;}
#banner .banner-text .border:after {left: 50%; transform: translateX(-50%); width: 60%;}*/
#banner .banner-text .border h1 { font-size: 72px; color: #ffffff; margin:0; padding: 15px 20px; font-family: "AxureHandwriting";text-shadow: 2px 2px 4px #568741, -3px 4px 0 #568741, 5px -1px 0 #568741, 2px -1px 1px #568741;}
#banner .banner-text .border h1 span { font-size: 98px; color: #ffffff;font-family: "AxureHandwriting";text-shadow: 2px 2px 4px #568741, -3px 4px 0 #568741, 5px -1px 0 #568741, 2px -1px 1px #568741;}

#banner .banner-btn { text-align: center; padding: 30px 0;}
#banner .banner-btn .btn.btn-primary { background-color: #56b6ee; border: 1px solid #4aaae2; border-radius: 20px; font-family: 'Open Sans',sans-serif; font-size: 32px; font-weight: 700; min-width: 300px; padding: 20px 30px; text-transform: uppercase;}
#packages { margin: 0 auto; background: url('img/background.jpg'); background-position: center center; background-size: cover; background-repeat: no-repeat; position: relative; padding: 50px 0;}
#packages h1 { text-align: center; color: #494949; text-transform: capitalize; font-size: 40px; margin: 0 0 30px;font-family: "AxureHandwriting";}
#packages .list { margin: 0 auto; max-width: 950px;}
#packages .list .package { background-color: #ebebeb; border: 1px solid #a7a7a7; display: table; margin-bottom: 30px; width: 100%; padding: 15px;}
#packages .list .package .package__img { display: table-cell; position: relative; text-align: center; vertical-align: top; width: 50%; background-position: center center; background-size: cover; background-repeat: no-repeat;}
#packages .list .package .package__img figcaption { background-color: rgba(85, 143, 174, 0.8); bottom: 0; color: #ffffff; font-family: "Open Sans",sans-serif; font-size: 18px; left: 0; padding: 5px 0; position: absolute; width: 100%;}
#packages .list .package .package__details { display: table-cell; padding-left: 15px; text-align: center; vertical-align: top; width: 50%;}
#packages .list .package .package__details h1 { color: #3c3c3c; font-size: 14px; font-family: 'Open Sans',sans-serif;}
#packages .list .package .package__details h2 { color: #2c6a8f; font-weight: 700; margin: 15px 0; font-family: 'Open Sans',sans-serif;}
#packages .list .package .package__details h2 span { color: #2c6a8f; font-size: 15px; font-family: 'Open Sans',sans-serif; }
#packages .list .package .package__details p { font-family: 'Open Sans',sans-serif; font-size: 12px; line-height: 13px; margin-bottom: 20px;}
#packages .list .package .package__details a { background-color: #6cbc49; border: 1px solid #6cbc49; color: #fff; display: block; font-size: 18px; font-weight: 700; padding: 5px 0; text-transform: uppercase; transition: all 300ms ease 0s; font-family: 'Open Sans',sans-serif; }
#book-travel-form { background-color: #6cbc49; padding: 20px;}
#book-travel-form h1 { font-size: 32px; text-align: center; text-transform: capitalize; color: #ffffff; margin: 0 0 10px;font-family: "AxureHandwriting";}
#book-travel-form .form-group { margin-bottom: 5px;}
#book-travel-form .form-group label { font-family: 'Open Sans',sans-serif; font-size: 14px; color: #ffffff; font-weight: 400;}
#book-travel-form .form-group input { background-color: #ffffff; box-shadow: none; border-radius: 0; padding: 8px 10px; border: 1px solid #ffffff; height: auto; font-family: 'Open Sans',sans-serif; font-size: 12px;}
#book-travel-form .radio { margin: 5px 10px; display: inline-block;}
#book-travel-form .radio label { font-size: 16px; color: #ffffff; font-family: 'Open Sans',sans-serif;}
#book-travel-form .btn.btn-primary { background-color: #238594; padding: 10px 30px; font-family: 'Open Sans',sans-serif; font-size: 16px; font-weight: 700; text-transform: uppercase; border-radius: 0; border: 1px solid #255978; margin: 10px 0 0;}
#book-travel-form .btn.btn-primary:hover,
#book-travel-form .btn.btn-primary:focus { background-color: #ffffff; color: #238594; border: 1px solid #238594; outline: none; text-decoration: none; }
#gallery h1 { margin: 50px 0 20px; text-align: center; color: #535353; font-size: 40px;font-family: "AxureHandwriting";}
#gallery .home-slider .main-slider .slick-next,
#gallery .home-slider .main-slider .slick-prev { background-color: #303030; background-position: center center; background-repeat: no-repeat; border-radius: 0; color: transparent; display: inline-block; height: 52px; position: absolute; top: 45%; transform: translateY(-45%); width: 86px; z-index: 99;}
#gallery .home-slider .main-slider .slick-prev { background-image: url("img/prev.png"); left: -5px;}
#gallery .home-slider .main-slider .slick-next { background-image: url("img/next.png"); right: -5px;}
#gallery .home-slider .main-slider .slick-prev::before,
#gallery .home-slider .main-slider .slick-next::before { display: none;}
#gallery .home-slider .main-slider .slide { margin-bottom: 40px; margin-left: 20px; margin-right: 20px;}
#gallery .home-slider .nav-slider .slide { margin-bottom: 40px; margin-left: 20px; margin-right: 20px; cursor: pointer;}
#footer { padding: 20px 0;}
#footer .social-icons { text-align: center;}
#footer .social-icons ul { margin: 0;}
#footer .social-icons ul li { background-color: #56b6ee; border-radius: 50%; font-size: 20px; height: 40px; width: 40px; line-height: 42px;}
#footer .social-icons ul li a i { color: #ffffff;}
#footer .copyright h4 { color: #7f7f7f; font-family: 'Open Sans',sans-serif; font-weight: 300; font-size: 16px;}

#navbar > ul li:hover > ul { display: block; }
#navbar > ul ul li a { padding:8px 30px; }

@media screen and (min-width: 992px) and (max-width: 1199px) {
	#banner .banner-text h2:before { left: 140px; max-width: 150px;}
	#banner .banner-text h2:after { left: 650px; max-width: 150px;} 
}
@media screen and (min-width: 768px) and (max-width: 991px) {
	.container { width: auto;}
	#masthead .site-title h1 { text-align: center; line-height: normal; font-size: 32px;}
	#banner .banner-text h1,
	#banner .banner-text h2 { font-size: 48px; margin: 0;}
	#banner .banner-text h2:before,
	#banner .banner-text h2:after { visibility: hidden;}
	#banner .banner-text h3 { font-size: 26px;}
	#banner .banner-btn .btn.btn-primary { font-size: 26px; min-width: 250px; padding: 12px;}
	#packages .package .package__img { height: 135px;}
	#book-travel-form h1,
	#gallery h1 { font-size: 32px;}
}
@media screen and (max-width: 767px) {
	#masthead .site-title h1 { text-align: center; font-size: 32px; line-height: normal;}
	#masthead #mobile-menu { position: relative;}
	#masthead .menu .navbar-header .navbar-toggle { background: #303030;}
	#masthead .menu .navbar-header .navbar-toggle .icon-bar { background: #ffffff;}
	#masthead .menu-mobile #navbar2 { margin: 20px 0; border:0;}
	#masthead .menu-mobile #navbar2 ul { margin: 0; border-top: 1px solid #d1d1d1;}
	#masthead .menu-mobile #navbar2 ul li { border-bottom: 1px solid #d1d1d1;}
	#masthead .menu-mobile #navbar2 ul li.active { font-weight: 700; color: #303030;  }
	#masthead .menu-mobile #navbar2 ul li a { font-family: 'Open Sans',sans-serif; font-size: 16px; color: #303030;}
	#banner { padding: 70px 0;}
	#banner .banner-text h1,
	#banner .banner-text h2 { font-size: 40px; margin: 0;}
	#banner .banner-text h2:before,
	#banner .banner-text h2:after { visibility: hidden;}
	#banner .banner-text h3 { font-size: 16px;}
	#banner .banner-btn .btn.btn-primary { font-size: 24px; min-width: 200px; padding: 15px;}
	#book-travel-form h1,
	#gallery h1 { font-size: 32px;}
}
@media screen and (min-width: 420px) and (max-width: 481px){
	#masthead .site-title h1 { text-align: center; font-size: 26px; line-height: normal;}
}
@media screen and (max-width: 419px) {
	#masthead .site-title h1 { text-align: center; font-size: 22px; line-height: normal;}
}
