body.red-template #masthead .menu #navbar ul.navbar-nav li.active, body.red-template #masthead .menu #navbar ul.navbar-nav li a:hover, body.red-template #masthead .menu #navbar ul.navbar-nav li a:focus { -webkit-box-shadow: 0 3px 0 0 #c0392b; box-shadow: 0 3px 0 0 #c0392b; }

body.red-template #book-travel-form { background-color: #c0392b; }

body.red-template #book-travel-form .btn.btn-primary { background-color: #81261d; border-color: #81261d; }

body.red-template #book-travel-form .btn.btn-primary:hover { background-color: #fff; color: #c0392b; }

body.red-template #banner .banner-text .border h1, body.red-template #banner .banner-text .border h1 span { text-shadow: 2px 2px 4px #d14233, -3px 4px 0 #d14233, 5px -1px 0 #d14233, 2px -1px 1px #d14233; }

body.red-template #packages { background: url("../img/map-red-template.jpg"); background-position: center center; }

body.red-template #packages h1 { color: #fff; }

body.red-template #packages .list .package .package__details h2, body.red-template #packages .list .package .package__details h2 span { color: #c0392b; }

body.red-template #packages .list .package .package__details a { background-color: #c0392b; border-color: #c0392b; }

body.red-template #packages .list .package .package__img figcaption { background-color: #c0392b; opacity: .8; }

body.red-template #gallery .home-slider .main-slider .slick-prev, body.red-template #gallery .home-slider .main-slider .slick-next { background-color: #c0392b; }

body.red-template #footer .social-icons ul li { background-color: #c0392b; }

body.red-template .sd-global-soc-icons > ul > li > a { background-color: #c0392b; }

body.orange-template #masthead .menu #navbar ul.navbar-nav li.active, body.orange-template #masthead .menu #navbar ul.navbar-nav li a:hover, body.orange-template #masthead .menu #navbar ul.navbar-nav li a:focus { -webkit-box-shadow: 0 3px 0 0 #f39c12; box-shadow: 0 3px 0 0 #f39c12; }

body.orange-template #book-travel-form { background-color: #f39c12; }

body.orange-template #book-travel-form .btn.btn-primary { background-color: #b06f09; border-color: #b06f09; }

body.orange-template #book-travel-form .btn.btn-primary:hover { background-color: #fff; color: #f39c12; }

body.orange-template #banner .banner-text .border h1, body.orange-template #banner .banner-text .border h1 span { text-shadow: 2px 2px 4px #f4a62a, -3px 4px 0 #f4a62a, 5px -1px 0 #f4a62a, 2px -1px 1px #f4a62a; }

body.orange-template #packages { background: url("../img/map-orange-template.jpg"); background-position: center center; }

body.orange-template #packages h1 { color: #fff; }

body.orange-template #packages .list .package .package__details h2, body.orange-template #packages .list .package .package__details h2 span { color: #f39c12; }

body.orange-template #packages .list .package .package__details a { background-color: #f39c12; border-color: #f39c12; }

body.orange-template #packages .list .package .package__img figcaption { background-color: #f39c12; opacity: .8; }

body.orange-template #gallery .home-slider .main-slider .slick-prev, body.orange-template #gallery .home-slider .main-slider .slick-next { background-color: #f39c12; }

body.orange-template #footer .social-icons ul li { background-color: #f39c12; }

body.orange-template .sd-global-soc-icons > ul > li > a { background-color: #f39c12; }

body.yellow-template #masthead .menu #navbar ul.navbar-nav li.active, body.yellow-template #masthead .menu #navbar ul.navbar-nav li a:hover, body.yellow-template #masthead .menu #navbar ul.navbar-nav li a:focus { -webkit-box-shadow: 0 3px 0 0 #f1c40f; box-shadow: 0 3px 0 0 #f1c40f; }

body.yellow-template #book-travel-form { background-color: #f1c40f; }

body.yellow-template #book-travel-form .btn.btn-primary { background-color: #aa8a0a; border-color: #aa8a0a; }

body.yellow-template #book-travel-form .btn.btn-primary:hover { background-color: #fff; color: #f1c40f; }

body.yellow-template #banner .banner-text .border h1, body.yellow-template #banner .banner-text .border h1 span { text-shadow: 2px 2px 4px #f2ca27, -3px 4px 0 #f2ca27, 5px -1px 0 #f2ca27, 2px -1px 1px #f2ca27; }

body.yellow-template #packages { background: url("../img/map-yellow-template.jpg"); background-position: center center; }

body.yellow-template #packages h1 { color: #fff; }

body.yellow-template #packages .list .package .package__details h2, body.yellow-template #packages .list .package .package__details h2 span { color: #f1c40f; }

body.yellow-template #packages .list .package .package__details a { background-color: #f1c40f; border-color: #f1c40f; }

body.yellow-template #packages .list .package .package__img figcaption { background-color: #f1c40f; opacity: .8; }

body.yellow-template #gallery .home-slider .main-slider .slick-prev, body.yellow-template #gallery .home-slider .main-slider .slick-next { background-color: #f1c40f; }

body.yellow-template #footer .social-icons ul li { background-color: #f1c40f; }

body.yellow-template .sd-global-soc-icons > ul > li > a { background-color: #f1c40f; }

body.green-template #masthead .menu #navbar ul.navbar-nav li.active, body.green-template #masthead .menu #navbar ul.navbar-nav li a:hover, body.green-template #masthead .menu #navbar ul.navbar-nav li a:focus { -webkit-box-shadow: 0 3px 0 0 #16a085; box-shadow: 0 3px 0 0 #16a085; }

body.green-template #book-travel-form { background-color: #16a085; }

body.green-template #book-travel-form .btn.btn-primary { background-color: #0d5d4d; border-color: #0d5d4d; }

body.green-template #book-travel-form .btn.btn-primary:hover { background-color: #fff; color: #16a085; }

body.green-template #banner .banner-text .border h1, body.green-template #banner .banner-text .border h1 span { text-shadow: 2px 2px 4px #19b698, -3px 4px 0 #19b698, 5px -1px 0 #19b698, 2px -1px 1px #19b698; }

body.green-template #packages { background: url("../img/map-green-template.jpg"); background-position: center center; }

body.green-template #packages h1 { color: #fff; }

body.green-template #packages .list .package .package__details h2, body.green-template #packages .list .package .package__details h2 span { color: #16a085; }

body.green-template #packages .list .package .package__details a { background-color: #16a085; border-color: #16a085; }

body.green-template #packages .list .package .package__img figcaption { background-color: #16a085; opacity: .8; }

body.green-template #gallery .home-slider .main-slider .slick-prev, body.green-template #gallery .home-slider .main-slider .slick-next { background-color: #16a085; }

body.green-template #footer .social-icons ul li { background-color: #16a085; }

body.green-template .sd-global-soc-icons > ul > li > a { background-color: #16a085; }

body.blue-template #masthead .menu #navbar ul.navbar-nav li.active, body.blue-template #masthead .menu #navbar ul.navbar-nav li a:hover, body.blue-template #masthead .menu #navbar ul.navbar-nav li a:focus { -webkit-box-shadow: 0 3px 0 0 #2980b9; box-shadow: 0 3px 0 0 #2980b9; }

body.blue-template #book-travel-form { background-color: #2980b9; }

body.blue-template #book-travel-form .btn.btn-primary { background-color: #1b557a; border-color: #1b557a; }

body.blue-template #book-travel-form .btn.btn-primary:hover { background-color: #fff; color: #2980b9; }

body.blue-template #banner .banner-text .border h1, body.blue-template #banner .banner-text .border h1 span { text-shadow: 2px 2px 4px #2e8ece, -3px 4px 0 #2e8ece, 5px -1px 0 #2e8ece, 2px -1px 1px #2e8ece; }

body.blue-template #packages { background: url("../img/map-blue-template.jpg"); background-position: center center; }

body.blue-template #packages h1 { color: #fff; }

body.blue-template #packages .list .package .package__details h2, body.blue-template #packages .list .package .package__details h2 span { color: #2980b9; }

body.blue-template #packages .list .package .package__details a { background-color: #2980b9; border-color: #2980b9; }

body.blue-template #packages .list .package .package__img figcaption { background-color: #2980b9; opacity: .8; }

body.blue-template #gallery .home-slider .main-slider .slick-prev, body.blue-template #gallery .home-slider .main-slider .slick-next { background-color: #2980b9; }

body.blue-template #footer .social-icons ul li { background-color: #2980b9; }

body.blue-template .sd-global-soc-icons > ul > li > a { background-color: #2980b9; }

body.indigo-template #masthead .menu #navbar ul.navbar-nav li.active, body.indigo-template #masthead .menu #navbar ul.navbar-nav li a:hover, body.indigo-template #masthead .menu #navbar ul.navbar-nav li a:focus { -webkit-box-shadow: 0 3px 0 0 #8e44ad; box-shadow: 0 3px 0 0 #8e44ad; }

body.indigo-template #book-travel-form { background-color: #8e44ad; }

body.indigo-template #book-travel-form .btn.btn-primary { background-color: #612e76; border-color: #612e76; }

body.indigo-template #book-travel-form .btn.btn-primary:hover { background-color: #fff; color: #8e44ad; }

body.indigo-template #banner .banner-text .border h1, body.indigo-template #banner .banner-text .border h1 span { text-shadow: 2px 2px 4px #9b50ba, -3px 4px 0 #9b50ba, 5px -1px 0 #9b50ba, 2px -1px 1px #9b50ba; }

body.indigo-template #packages { background: url("../img/map-indigo-template.jpg"); background-position: center center; }

body.indigo-template #packages h1 { color: #fff; }

body.indigo-template #packages .list .package .package__details h2, body.indigo-template #packages .list .package .package__details h2 span { color: #8e44ad; }

body.indigo-template #packages .list .package .package__details a { background-color: #8e44ad; border-color: #8e44ad; }

body.indigo-template #packages .list .package .package__img figcaption { background-color: #8e44ad; opacity: .8; }

body.indigo-template #gallery .home-slider .main-slider .slick-prev, body.indigo-template #gallery .home-slider .main-slider .slick-next { background-color: #8e44ad; }

body.indigo-template #footer .social-icons ul li { background-color: #8e44ad; }

body.indigo-template .sd-global-soc-icons > ul > li > a { background-color: #8e44ad; }

body.violet-template #masthead .menu #navbar ul.navbar-nav li.active, body.violet-template #masthead .menu #navbar ul.navbar-nav li a:hover, body.violet-template #masthead .menu #navbar ul.navbar-nav li a:focus { -webkit-box-shadow: 0 3px 0 0 #9b59b6; box-shadow: 0 3px 0 0 #9b59b6; }

body.violet-template #book-travel-form { background-color: #9b59b6; }

body.violet-template #book-travel-form .btn.btn-primary { background-color: #713b87; border-color: #713b87; }

body.violet-template #book-travel-form .btn.btn-primary:hover { background-color: #fff; color: #9b59b6; }

body.violet-template #banner .banner-text .border h1, body.violet-template #banner .banner-text .border h1 span { text-shadow: 2px 2px 4px #a66bbe, -3px 4px 0 #a66bbe, 5px -1px 0 #a66bbe, 2px -1px 1px #a66bbe; }

body.violet-template #packages { background: url("../img/map-violet-template.jpg"); background-position: center center; }

body.violet-template #packages h1 { color: #fff; }

body.violet-template #packages .list .package .package__details h2, body.violet-template #packages .list .package .package__details h2 span { color: #9b59b6; }

body.violet-template #packages .list .package .package__details a { background-color: #9b59b6; border-color: #9b59b6; }

body.violet-template #packages .list .package .package__img figcaption { background-color: #9b59b6; opacity: .8; }

body.violet-template #gallery .home-slider .main-slider .slick-prev, body.violet-template #gallery .home-slider .main-slider .slick-next { background-color: #9b59b6; }

body.violet-template #footer .social-icons ul li { background-color: #9b59b6; }

body.violet-template .sd-global-soc-icons > ul > li > a { background-color: #9b59b6; }
