body.red-template #masthead .menu #navbar ul.navbar-nav li a:hover, body.red-template #masthead .menu #navbar ul.navbar-nav li a:focus {
  -webkit-box-shadow: 0 3px 0 0 #c0392b;
  box-shadow: 0 3px 0 0 #c0392b; }

body.red-template #masthead .menu #navbar ul.navbar-nav li.active {
  -webkit-box-shadow: 0 3px 0 0 #c0392b;
  box-shadow: 0 3px 0 0 #c0392b; }

body.red-template #banner {
  background-image: url("../img/banner-red-template.jpg"); }

body.red-template #book-travel-form {
  background-color: #c0392b; }

body.red-template #book-travel-form .btn.btn-primary {
  background-color: #6d2018;
  border-color: #6d2018; }

body.red-template #book-travel-form .btn.btn-primary:hover {
  background-color: #ffffff;
  border-color: #6d2018;
  color: #6d2018; }

body.red-template #packages .package .package__details a {
  background-color: #c0392b;
  border-color: #c0392b; }

body.red-template #packages .package .package__img figcaption {
  background-color: rgba(192, 57, 43, 0.8); }

body.red-template #packages .package .package__details h2 {
  color: #d14233; }

body.red-template #packages .package .package__details h2 span {
  color: #d14233; }

body.red-template #gallery .home-slider .main-slider .slick-next, body.red-template #gallery .home-slider .main-slider .slick-prev {
  background-color: #962d22; }

body.red-template #footer .social-icons ul li {
  background-color: #c0392b;
  border: 1px solid #c0392b; }

body.red-template #footer .social-icons ul li:hover {
  background-color: #ffffff;
  border-color: #c0392b; }

body.red-template #footer .social-icons ul li:hover a i, body.red-template #footer .social-icons ul li:focus a i {
  color: #c0392b; }

body.red-template .sd-global-soc-icons > ul > li > a {
  background-color: #c0392b; }

body.orange-template #masthead .menu #navbar ul.navbar-nav li a:hover, body.orange-template #masthead .menu #navbar ul.navbar-nav li a:focus {
  -webkit-box-shadow: 0 3px 0 0 #f39c12;
  box-shadow: 0 3px 0 0 #f39c12; }

body.orange-template #masthead .menu #navbar ul.navbar-nav li.active {
  -webkit-box-shadow: 0 3px 0 0 #f39c12;
  box-shadow: 0 3px 0 0 #f39c12; }

body.orange-template #banner {
  background-image: url("../img/banner-orange-template.jpg"); }

body.orange-template #book-travel-form {
  background-color: #f39c12; }

body.orange-template #book-travel-form .btn.btn-primary {
  background-color: #976008;
  border-color: #976008; }

body.orange-template #book-travel-form .btn.btn-primary:hover {
  background-color: #ffffff;
  border-color: #976008;
  color: #976008; }

body.orange-template #packages .package .package__details a {
  background-color: #f39c12;
  border-color: #f39c12; }

body.orange-template #packages .package .package__img figcaption {
  background-color: rgba(243, 156, 18, 0.8); }

body.orange-template #packages .package .package__details h2 {
  color: #f4a62a; }

body.orange-template #packages .package .package__details h2 span {
  color: #f4a62a; }

body.orange-template #gallery .home-slider .main-slider .slick-next, body.orange-template #gallery .home-slider .main-slider .slick-prev {
  background-color: #c87f0a; }

body.orange-template #footer .social-icons ul li {
  background-color: #f39c12;
  border: 1px solid #f39c12; }

body.orange-template #footer .social-icons ul li:hover {
  background-color: #ffffff;
  border-color: #f39c12; }

body.orange-template #footer .social-icons ul li:hover a i, body.orange-template #footer .social-icons ul li:focus a i {
  color: #f39c12; }

body.orange-template .sd-global-soc-icons > ul > li > a {
  background-color: #f39c12; }

body.yellow-template #masthead .menu #navbar ul.navbar-nav li a:hover, body.yellow-template #masthead .menu #navbar ul.navbar-nav li a:focus {
  -webkit-box-shadow: 0 3px 0 0 #f1c40f;
  box-shadow: 0 3px 0 0 #f1c40f; }

body.yellow-template #masthead .menu #navbar ul.navbar-nav li.active {
  -webkit-box-shadow: 0 3px 0 0 #f1c40f;
  box-shadow: 0 3px 0 0 #f1c40f; }

body.yellow-template #banner {
  background-image: url("../img/banner-yellow-template.jpg"); }

body.yellow-template #book-travel-form {
  background-color: #f1c40f; }

body.yellow-template #book-travel-form .btn.btn-primary {
  background-color: #927608;
  border-color: #927608; }

body.yellow-template #book-travel-form .btn.btn-primary:hover {
  background-color: #ffffff;
  border-color: #927608;
  color: #927608; }

body.yellow-template #packages .package .package__details a {
  background-color: #f1c40f;
  border-color: #f1c40f; }

body.yellow-template #packages .package .package__img figcaption {
  background-color: rgba(241, 196, 15, 0.8); }

body.yellow-template #packages .package .package__details h2 {
  color: #f2ca27; }

body.yellow-template #packages .package .package__details h2 span {
  color: #f2ca27; }

body.yellow-template #gallery .home-slider .main-slider .slick-next, body.yellow-template #gallery .home-slider .main-slider .slick-prev {
  background-color: #c29d0b; }

body.yellow-template #footer .social-icons ul li {
  background-color: #f1c40f;
  border: 1px solid #f1c40f; }

body.yellow-template #footer .social-icons ul li:hover {
  background-color: #ffffff;
  border-color: #f1c40f; }

body.yellow-template #footer .social-icons ul li:hover a i, body.yellow-template #footer .social-icons ul li:focus a i {
  color: #f1c40f; }

body.yellow-template .sd-global-soc-icons > ul > li > a {
  background-color: #f1c40f; }

body.green-template #masthead .menu #navbar ul.navbar-nav li a:hover, body.green-template #masthead .menu #navbar ul.navbar-nav li a:focus {
  -webkit-box-shadow: 0 3px 0 0 #16a085;
  box-shadow: 0 3px 0 0 #16a085; }

body.green-template #masthead .menu #navbar ul.navbar-nav li.active {
  -webkit-box-shadow: 0 3px 0 0 #16a085;
  box-shadow: 0 3px 0 0 #16a085; }

body.green-template #banner {
  background-image: url("../img/banner-green-template.jpg"); }

body.green-template #book-travel-form {
  background-color: #16a085; }

body.green-template #book-travel-form .btn.btn-primary {
  background-color: #0a463a;
  border-color: #0a463a; }

body.green-template #book-travel-form .btn.btn-primary:hover {
  background-color: #ffffff;
  border-color: #0a463a;
  color: #0a463a; }

body.green-template #packages .package .package__details a {
  background-color: #16a085;
  border-color: #16a085; }

body.green-template #packages .package .package__img figcaption {
  background-color: rgba(22, 160, 133, 0.8); }

body.green-template #packages .package .package__details h2 {
  color: #19b698; }

body.green-template #packages .package .package__details h2 span {
  color: #19b698; }

body.green-template #gallery .home-slider .main-slider .slick-next, body.green-template #gallery .home-slider .main-slider .slick-prev {
  background-color: #107360; }

body.green-template #footer .social-icons ul li {
  background-color: #16a085;
  border: 1px solid #16a085; }

body.green-template #footer .social-icons ul li:hover {
  background-color: #ffffff;
  border-color: #16a085; }

body.green-template #footer .social-icons ul li:hover a i, body.green-template #footer .social-icons ul li:focus a i {
  color: #16a085; }

body.green-template .sd-global-soc-icons > ul > li > a {
  background-color: #16a085; }

body.blue-template #masthead .menu #navbar ul.navbar-nav li a:hover, body.blue-template #masthead .menu #navbar ul.navbar-nav li a:focus {
  -webkit-box-shadow: 0 3px 0 0 #2980b9;
  box-shadow: 0 3px 0 0 #2980b9; }

body.blue-template #masthead .menu #navbar ul.navbar-nav li.active {
  -webkit-box-shadow: 0 3px 0 0 #2980b9;
  box-shadow: 0 3px 0 0 #2980b9; }

body.blue-template #banner {
  background-image: url("../img/banner-blue-template.jpg"); }

body.blue-template #book-travel-form {
  background-color: #2980b9; }

body.blue-template #book-travel-form .btn.btn-primary {
  background-color: #164666;
  border-color: #164666; }

body.blue-template #book-travel-form .btn.btn-primary:hover {
  background-color: #ffffff;
  border-color: #164666;
  color: #164666; }

body.blue-template #packages .package .package__details a {
  background-color: #2980b9;
  border-color: #2980b9; }

body.blue-template #packages .package .package__img figcaption {
  background-color: rgba(41, 128, 185, 0.8); }

body.blue-template #packages .package .package__details h2 {
  color: #2e8ece; }

body.blue-template #packages .package .package__details h2 span {
  color: #2e8ece; }

body.blue-template #gallery .home-slider .main-slider .slick-next, body.blue-template #gallery .home-slider .main-slider .slick-prev {
  background-color: #20638f; }

body.blue-template #footer .social-icons ul li {
  background-color: #2980b9;
  border: 1px solid #2980b9; }

body.blue-template #footer .social-icons ul li:hover {
  background-color: #ffffff;
  border-color: #2980b9; }

body.blue-template #footer .social-icons ul li:hover a i, body.blue-template #footer .social-icons ul li:focus a i {
  color: #2980b9; }

body.blue-template .sd-global-soc-icons > ul > li > a {
  background-color: #2980b9; }

body.indigo-template #masthead .menu #navbar ul.navbar-nav li a:hover, body.indigo-template #masthead .menu #navbar ul.navbar-nav li a:focus {
  -webkit-box-shadow: 0 3px 0 0 #8e44ad;
  box-shadow: 0 3px 0 0 #8e44ad; }

body.indigo-template #masthead .menu #navbar ul.navbar-nav li.active {
  -webkit-box-shadow: 0 3px 0 0 #8e44ad;
  box-shadow: 0 3px 0 0 #8e44ad; }

body.indigo-template #banner {
  background-image: url("../img/banner-indigo-template.jpg"); }

body.indigo-template #book-travel-form {
  background-color: #8e44ad; }

body.indigo-template #book-travel-form .btn.btn-primary {
  background-color: #522764;
  border-color: #522764; }

body.indigo-template #book-travel-form .btn.btn-primary:hover {
  background-color: #ffffff;
  border-color: #522764;
  color: #522764; }

body.indigo-template #packages .package .package__details a {
  background-color: #8e44ad;
  border-color: #8e44ad; }

body.indigo-template #packages .package .package__img figcaption {
  background-color: rgba(142, 68, 173, 0.8); }

body.indigo-template #packages .package .package__details h2 {
  color: #9b50ba; }

body.indigo-template #packages .package .package__details h2 span {
  color: #9b50ba; }

body.indigo-template #gallery .home-slider .main-slider .slick-next, body.indigo-template #gallery .home-slider .main-slider .slick-prev {
  background-color: #703688; }

body.indigo-template #footer .social-icons ul li {
  background-color: #8e44ad;
  border: 1px solid #8e44ad; }

body.indigo-template #footer .social-icons ul li:hover {
  background-color: #ffffff;
  border-color: #8e44ad; }

body.indigo-template #footer .social-icons ul li:hover a i, body.indigo-template #footer .social-icons ul li:focus a i {
  color: #8e44ad; }

body.indigo-template .sd-global-soc-icons > ul > li > a {
  background-color: #8e44ad; }

body.violet-template #masthead .menu #navbar ul.navbar-nav li a:hover, body.violet-template #masthead .menu #navbar ul.navbar-nav li a:focus {
  -webkit-box-shadow: 0 3px 0 0 #9b59b6;
  box-shadow: 0 3px 0 0 #9b59b6; }

body.violet-template #masthead .menu #navbar ul.navbar-nav li.active {
  -webkit-box-shadow: 0 3px 0 0 #9b59b6;
  box-shadow: 0 3px 0 0 #9b59b6; }

body.violet-template #banner {
  background-image: url("../img/banner-violet-template.jpg"); }

body.violet-template #book-travel-form {
  background-color: #9b59b6; }

body.violet-template #book-travel-form .btn.btn-primary {
  background-color: #623475;
  border-color: #623475; }

body.violet-template #book-travel-form .btn.btn-primary:hover {
  background-color: #ffffff;
  border-color: #623475;
  color: #623475; }

body.violet-template #packages .package .package__details a {
  background-color: #9b59b6;
  border-color: #9b59b6; }

body.violet-template #packages .package .package__img figcaption {
  background-color: rgba(155, 89, 182, 0.8); }

body.violet-template #packages .package .package__details h2 {
  color: #a66bbe; }

body.violet-template #packages .package .package__details h2 span {
  color: #a66bbe; }

body.violet-template #gallery .home-slider .main-slider .slick-next, body.violet-template #gallery .home-slider .main-slider .slick-prev {
  background-color: #804399; }

body.violet-template #footer .social-icons ul li {
  background-color: #9b59b6;
  border: 1px solid #9b59b6; }

body.violet-template #footer .social-icons ul li:hover {
  background-color: #ffffff;
  border-color: #9b59b6; }

body.violet-template #footer .social-icons ul li:hover a i, body.violet-template #footer .social-icons ul li:focus a i {
  color: #9b59b6; }

body.violet-template .sd-global-soc-icons > ul > li > a {
  background-color: #9b59b6; }
