
@import "fonts/Stem/stem.css";
@import "fonts/metropolis/metropolis.css";
@import "fonts/museo/museo.css";

/*header*/
body{background-color: #EEEEEE !important;}
#content-descript {
    margin-top: 0;
}
.yellow-template .header-banner { background-color: #F7DC6F }
.red-template .header-banner { background-color: #DF7C72 }
.orange-template .header-banner { background-color: #F8C573 }
.green-template .header-banner { background-color: #38E4C2 }
.blue-template .header-banner { background-color: #6AB0DE }
.indigo-template .header-banner { background-color: #BA87D0 }
.violet-template .header-banner { background-color: #C6A0D5 }
.default-template .header-banner { background-color: #EEBEFC }
#header {height: auto;}
#header img {padding: 23px;}
#header .searchbox {width: 467px;height: 54px;margin-top: 14px;margin-left: 50px;background-color: #E4E4E4;border: 2px solid #E4E4E4;padding-left: 10px;}
#content-categories h2{color: black;
 font-size: 24px;
font-family: 'Archivo Black', sans-serif;margin-top: -1px;
margin-bottom: 19px;}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {color: #fff;background-color: black;}
.img-container:hover {cursor: pointer;}
#header .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li:hover {background-color: #333333;}
#header .navbar-inverse .navbar-nav > li > a {color: WHITE;font-family: 'Museo Sans 500';}
#header .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {border-color: black;background-color: black;border-radius: 0px;}
#header .navbar-inverse {background-color: black;border-color: #080808;}
#header .navbar {border-radius: 0px;}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */color: #797979;font-size: 18px;font-family: 'Lato', sans-serif;}
::-moz-placeholder { /* Firefox 19+ */color: #797979;font-size: 18px;font-family: 'Lato', sans-serif;}
:-ms-input-placeholder { /* IE 10+ */color: #797979;font-size: 18px;font-family: 'Lato', sans-serif;}
:-moz-placeholder { /* Firefox 18- */color: #797979;font-size: 18px;font-family: 'Lato', sans-serif;}
.btnsearch{width: 55px;height: 55px;margin-left: -5px;background-color: #2E2E2E;border: 2px solid #2E2E2E;color: white;}
.adminname {color: white;font-size: 19px;padding-top: 11px;font-family: 'Ubuntu', sans-serif;}

/*overlay*/
.img-container {position: relative;width: 100%;}
.red {background-color: #B2B2B2; }
.image {opacity: 1;display: block;width: 100%;height: auto;transition: .5s ease;backface-visibility: hidden;}

.middle {transition: .5s ease;opacity: 0;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%)
}

.img-container .image {opacity: 0.3;}

.img-container .image_category {opacity: 0.7;}

.img-container .image_product {opacity: 1.0;}

.img-container .middle {opacity: 1;}

.text {background-color: transparent;color: white;font-size: 24px;padding: 16px 32px;font-family: 'Archivo Black', sans-serif;text-align: center;}
/*custom column div 5*/
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {position: relative;min-height: 1px;padding-right: 10px;padding-left: 10px;}
.col-md-15 img {height: 170px;width: 200px;}
.margin20{margin-top: 20px;}
.col-xs-15 {width: 20%;float: left;}

/*Product Description*/
.wrap-descript { max-width: 1103px; margin: 51px auto; }
#content-descript h1{font-family: 'Metropolis-Bold';font-weight: bold;font-size: 23px;margin-bottom: 22px;}
#content-descript .price {font-family: 'Metropolis-Medium';font-weight: 600;font-size: 20px;margin-bottom: 12px;}
#content-descript .stocknum {font-family: 'Metropolis-Bold';font-size: 15px;font-weight: 400;}
/*#content-descript input {width: 40px;}
#content-descript input {width: 69px;height: 36px;border: 1px solid black;margin-bottom: 41px;}*/

#content-descript .btncart{color: white;background-color: black;font-family: 'Metropolis-Medium';font-weight: bold;font-size: 14px;height: 36px;border: 1px solid black; margin-left: 44px; width: 145px;
} /*added*/
#content-descript h2{font-size: 23px; font-family: 'Open Sans';margin-bottom: -16px;}
#content-descript h2 span{font-size: 23px; font-family: 'Open Sans';font-weight: bold;}
#content-descript h3{font-size: 15px; font-family: 'Open Sans';}
#content-descript h3 span{font-size: 15px; font-family: 'Open Sans';font-weight: bold;}
html {font-size: 10px;-webkit-tap-highlight-color: rgba(0,0,0,0);background-color: #F3F3F3;}
#content-descript .prod-descript {font-family: 'Metropolis-Medium';max-width: 377px;}
.centering {display: flex; margin-top: 5px;}
#content-descript .quantity-p,#content-descript .size-p, #content-descript .color-p,#content-descript .email-p,#content-descript .name-p,#content-descript .address-p,#content-descript .contact-p,#content-descript .mode-p,#content-descript .beforeprice-p,#content-descript .saveprice-p{font-family: 'Metropolis-Medium'; font-size: 15px;}
#content-descript .quantity-box, #content-descript .size-box {margin-top:-6px;width: 91px;height: 31px;border: 1px solid black;padding-left: 10px; font-family: 'Metropolis-Medium';}
#content-descript .quantity-box{margin-left: 8px;}
#content-descript .size-box{margin-left: 41px;}
#content-descript .color-box {margin-left: 24px;background-color: transparent;border: 2px transparent;height: 30px;width: 52px;}
#content-descript .email-box, #content-descript .name-box,#content-descript .address-box,#content-descript .contact-box,#content-descript .mode-box {margin-top:-6px;width: 91px;height: 31px;border: 1px solid black;padding-left: 10px; font-family: 'Metropolis-Medium'; width: 247px;}
#content-descript .email-box{margin-left:106px;}
#content-descript .name-box{margin-left:101px;}
#content-descript .address-box{margin-left:83px;}
#content-descript .contact-box{margin-left:24px;}
#content-descript .mode-box{margin-left:15px;}
.preview img {width: 100%;height: 113px;margin-bottom: 6px;}
.main-img img {width: 100%;}
.row.div-tags {display: -moz-box;} /*added*/
.row.wrap-tablet { max-width: 991px;}

/*content-category*/
#content-refine .category {padding: 0;background: #fcfcfc;}
#content-refine .title-bg {background: #000;}
#content-refine .category h3.category-title {margin: 0;padding: 12px 0 10px 12px;font-size: 16px;color: #fff;text-transform: uppercase;font-family: 'Arial Black';}
#content-refine .category h3.category-title span {margin: 0;padding: 12px 0 10px 20px;font-size: 14px;color: #fff;text-transform: uppercase;font-family: 'Arial';font-weight: 700 !important;}
#content-refine .category ul {margin-bottom: 0;}
#content-refine .category li a {color: #666;font-size: 14px;border-bottom: 1px solid #eee;line-height: 40px;display: block;padding-left: 32px;text-decoration: none;}
#content-refine .category ul li a:after {content: "";border-top: 5px solid transparent;border-bottom: 5px solid transparent;border-left: 8px solid #746464;width: 0;height: 0;position: absolute;left: 88%;margin-top: 16px;}
.text-center {text-align: center;font-family: 'Metropolis-Bold', sans-serif;  font-weight: bold;margin-top: 10px;line-height: 6px;}
#content-refine .refine-price,#content-refine .refine-before,#content-refine .refine-percent{text-align: center;font-family: 'Metropolis-Medium', sans-serif;line-height: 6px;}
#content-refine .category li a:hover {color: white;background-color: gray;}
#content-refine .category ul li a::after:hover {content: "";border-top: 5px solid transparent;border-bottom: 5px solid transparent;border-left: 8px  solid white;width: 0;height: 0;position: absolute;left: 88%;margin-top: 16px;}
#content-refine button {background-color: black;border: none;}
#content-refine .category li a:active {color: #000;font-weight: bold;}
#content-refine .category li:last-child a {border-bottom: 0;}
#content-refine .category-selected h1 {padding: 0;margin: 0;font-size: 16px;font-family: 'Metropolis-Bold', sans-serif;}
#content-refine .category-item .category-selected {padding: 6px 0;}
#content-refine .category-item .items {background:transparent;margin: 0;}
#content-refine .category-item .item-first-row {padding-top: 10px;}
#content-refine .category-item .item-second-row {padding-top: 22px;}
.category .list-unstyled {padding-left: 0;list-style: none;background-color: white;}
body {background: #eee !important;}

.category_active {
    color: white;background-color: gray;
}

/*content purchase message*/
#content .content-purchasemessage .purchase-centerpanel {
    display: block;
    margin: 50px auto;
    max-width: 750px;
    font-family: 'Metropolis-Medium';
}
#content .content-purchasemessage .purchase-centerpanel h1 span {
    color: #1F7399;
    text-decoration: underline;
}
#content .content-purchasemessage .payment-opt h2 {
    font-size: 20px;
    margin-top: 31px;
    color: black;
}
#content .content-purchasemessage .headline 
{
    color:black;
}

#content .content-purchasemessage .note {
    font-size: 14px;
    color: black;
    margin-bottom: 20px;
    font-style: italic;
}
#content .content-purchasemessage .payment-details
{
    color:white;
    background-color: #539770;
    padding:20px;
    border-radius: 5px;
    width: 783px;
margin-left: -16px;
}

.panel1
{
    background-color: #1F7399;
    border-radius: 5px;
    width: 20px;   
    padding:20px;
    border-radius: 5px;
    color:white;
}
.panel2
{
    background-color: #CC6675;
    border-radius: 5px;
    width: 20px;  
    padding:20px; 
    color:white;
}
.note .note-highlight
{
    color:red;
}
.note .note-contact
{
    color: #1F7399;
}

/*Responsiveness*/

/*tablet*/
@media screen and (min-width: 768px) and (max-width: 991px)
{
#header img {padding-top: 28px;max-width: 193px; }
#header .searchbox {width: 239px;}
.wrap { max-width: 280px; margin: 0 auto; }
#content-refine .category-selected h1 {text-align: center;margin: 20px auto; }
.main-img img {width: 330px;margin-left: 101px;}
#content-descript .email-box, #content-descript .name-box, #content-descript .address-box, #content-descript .contact-box, #content-descript .mode-box {width: 203px;}
.main-img img {width: 100%;margin-left: 0px;}
.preview {margin-left: 30px;}
.preview img {width: 100%;height: 111px;margin-bottom: 6px;}
/*added*/
.row.div-tags {display: block;}
#content-descript .btncart{width: 311px; margin-top: 20px; margin-bottom: 30px; margin-left: 0px;}
/*.nav.navbar-nav.navbar-center {
    margin: 0px 104px;
}*/
}

/*mobile*/
@media screen and (max-width: 767px)
{
#header img {max-width: 142px;padding: 0px;padding-top: 17px;}
.btnsearch {width: 39px;height: 40px;margin-top: 13px;}
.navbar-header .navbar-toggle {margin-top: 4px;}
.main-descript img {width: 281px;}
#content-descript h1 {text-align: center;margin-bottom: 22px;margin-top: 39px;}
.preview img {height: 81px;margin-bottom: 6px;margin-right: 5px;width:100%;}
.preview {display: flex;}
#content-refine .category-selected h1 {text-align: center;margin: 0px auto;}
.refine-percent {margin-bottom: 35px;}
.text-center {text-align: center;margin-top: 17px;}
.align-img {margin: 0 auto;display: block;max-width: 144px;}
#content-descript .stocknum {margin-bottom: 22px;margin-top: 20px;}
#content-categories h2 {text-align: center;}
.centering {max-width: 250px;}
#content-descript h2 {font-size: 17px;font-family: 'Open Sans';margin-bottom: -12px;text-align: center;}
#content-descript .email-box {margin-left: 32px;}
#content-descript .name-box {margin-left: 28px;}
#content-descript .address-box {margin-left: 11px;}
#content-descript .contact-box {margin-left: 12px;}
#content-descript .mode-box {margin-left: -21px;width: 250px;}
#content-descript .color-box {margin-bottom: 6px;}
.navbar-inverse .navbar-toggle {border-color: #333;margin-top: 5px;}
#content-descript h2 span {font-size: 17px;text-align: center;}
#content-descript h3 {font-size: 14px;text-align: center;}
#content-descript h3 span {font-size: 14px;}
#content-descript .stocknum {text-align: center;}
#content-descript .price {margin-bottom: 12px;text-align: center;}
.wrap { max-width: 280px; margin: 0 auto; margin-bottom: 10px;}
#header .searchbox {width: 140px;height: 39px;margin-top: 13px;}
.btnsearch { width: 39px; height: 40px;}
.adminname { padding-top: 0px; text-align: center;}
.aliging {display: block;max-width: 273px;margin: 0 auto;}
.searchbox {width: 127px;height: 39px;margin-top: 13px;}
#header .header-graydiv {height: 149px;}
.wrap-descript { max-width: 280px; margin: 0 auto; display: block; }/*added*/
.row.div-tags {display: block;}
#content-descript .btncart{width: 262px;display: block;margin: 0 auto; margin-top: 20px; margin-bottom: 30px;}}

/*media query for column with sectioning of 15*/	
@media (min-width: 768px) {
.col-sm-15 {width: 20%;float: left;}
.navbar-nav {
    float: unset !important;
    margin: 0 !important;
    text-align: center;
    display: flex;
    justify-content: center;
}
#header .container-fluid {
    display: flex;
    justify-content: center;
    align-content: center;
}
}
@media (min-width: 992px) {
.col-md-15 {width: 20%;float: left;}
#content-descript h1,#content-descript .price,#content-descript .prod-descript,#content-descript .stocknum,#content-descript .quantity-p,#content-descript .size-p,#content-descript .color-p,#content-descript .email-p,#content-descript .name-p,#content-descript .address-p,#content-descript .contact-p,#content-descript .mode-p,#content-descript h2,#content-descript h3,#content-descript .beforeprice-p,#content-descript .saveprice-p{margin-left: 77px;}

}
@media (min-width: 1200px) {
.col-lg-15 {width: 20%;float: left;}
}

/*Custom headers*/
@media screen  and (min-width: 1007px) and (max-width: 1032px)
{
#header .searchbox {width: 445px;}
}
@media screen and (min-width: 992px) and (max-width: 1006px)
{
#header .searchbox {width: 343px;}
.adminname {font-size: 18px;padding-top: 14px;margin-left: -33px;}
}

@media screen and (min-width: 992px) and (max-width: 1110px)
{
.tags {width: 271px;}
.row.div-tags {display: grid;}
#content-descript .btncart{ margin-left: 79px;width: 145px;}
.main-img img {width: 100%;margin-left: 28px;}
}
@media screen and (max-width: 340px)
{
#header img {width: 142px;height:44px;}
.searchbox {height: 32px;}
}
@media screen and (min-width: 992px) and (max-width: 1110px)
{
    .preview img{margin-left: 20px;margin-right:40px; }
}
