.accordion {
    background-color: Transparent;
    background-repeat:no-repeat;
    cursor: pointer;
    padding: auto;
    width: auto;
    text-align: left;
    border: none;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    overflow: hidden;
}

.accordion.active, .accordion:hover {
    background-color: #ddd;
}

.accordion:after {
    content: '\1F5C0';
    color: #777;
    font-weight: bold;
    float: left;
    margin-right: 5px;
}

.accordion.active:after {
    content: "\1F5C1";
}

.panel {
    display: none;
}

.list-folders{
    list-style: none;
}

.list-button{
    background-color: Transparent;
    background-repeat:no-repeat;
    cursor: pointer;
    padding: auto;
    width: auto;
    text-align: left;
    border: none;
    outline: none;
    font-size: 12px;
    overflow: hidden;
}

.list-button: before{
    content: "\1F5B9";
} 


