.sd-global-soc-icons { width: auto; margin: 0 auto 12px; display: block; }
.sd-global-soc-icons > ul { padding: 0; margin: 0; list-style: none; text-align: center;}
.sd-global-soc-icons > ul > li { display: inline-block; height: 40px; width: 48px; position: relative; }
.sd-global-soc-icons > ul > li > a { z-index: 99; line-height: 40px; position:absolute; background-color: #6cbc49; border-radius: 50%; color: #fff; display: block; font-size: 20px; height: 40px; padding: 0; width: 40px; margin: 0 2px; }

.sd-global-soc-icons {position: relative;}
.sd-global-soc-icons .social-icons-container { box-shadow: 0 0 2px rgba(0,0,0,0.3); display:none; border: 1px solid #b8b8b8; padding: 15px; bottom: calc(100% + 16px); width: auto; max-width: 100%; position: absolute; left: 50%; background: #fff; z-index: 9999; border-radius: 2px; -webkit-transform:translate(-50%,0); -ms-transform:translate(-50%,0); transform:translate(-50%,0); }
.social-icons-container.show {display: block; }
.social-icons > ul > li > a { background-color: #6cbc49; border-radius: 50%; color: #fff; display: inline-block; font-size: 20px; height: 40px; line-height: 40px; margin: 0 2px; padding: 0; width: 40px; z-index: 9999; }
.social-icons.add-icons-list > ul { list-style: none; margin: 0; padding: 0; }
.social-icons.add-icons-list > ul > li { display: block; float: left; margin: 0 15px 0 0; padding:0; text-align: center; }
html body .sd-global-soc-icons > ul > li > a.add-icon { padding: 0; background: transparent none repeat scroll 0 0; border: 2px dashed; border-radius: 0; color: #a1a1a1; }
html body .sd-global-soc-icons > ul > li > a.add-icon:hover { border-color: #888; color: #888; }
.soc-pointer { position: absolute; width: 20px; height: 20px; content: ''; box-sizing: border-box; transform: rotate(-135deg); border-left: 1px solid #a1a1a1; color: #ccc; border-top: 1px solid #a1a1a1; background: #fff; bottom: -11px; left: 14px; box-shadow: 0 0 1px 0 0 1px rgba(0,0,0,0.2); }
.social-icons-container.url-icon-container { width: 100%; max-width: 500px; text-align: left; }
.soc-url { position: relative; }
.soc-url > .soc-pointer { bottom: -18px; z-index: -1; }
.soc-url > .soc-pointer { bottom: -18px; z-index: -1; left: 81px; }
.onleft { font-family: "Open Sans",sans-serif; position: absolute; right: 0; font-weight: 500; font-size: 12px; color: #646464; }
.onleft span { font-family: 'Open Sans',sans-serif; font-weight: 200;}
.sd-global-soc-icons > ul > li:hover > button.btn-delete-icon-func { display: block !important; }
.btn.btn-danger.btn-delete-icon-func { z-index: 99999 !important; border-radius: 50%; top: -8px !important; }
.sd-global-soc-icons > ul > li > .soc-pointer { display: none; bottom: unset; top: -26px; z-index: 9999; left: 12px; border-bottom-right-radius:65%;}
.sd-global-soc-icons > ul > li.active > .soc-pointer { display: block;}
.icon-edit {transition: .2s all;}
.icon-edit.shrink { transform: scale(0); }
.soc-url .btn { font-family: 'Open Sans', sans-serif; border-radius: 2px; float: right; margin: -4px 3px 11px; padding: 4px 12px; position: relative; font-size: 12px; }
.soc-url .btn.closesocialmodal {background-color: #fff; border-color: #ccc; color: #333;}
.soc-url .btn.closesocialmodal.focus, .soc-url .btn.closesocialmodal:focus { background-color: #e6e6e6; border-color: #8c8c8c; color: #333;}
.soc-url .form-control { border-radius: 2px; }
.active > .add-icon { background: #3498db none repeat scroll 0 0 !important; border: 2px dashed !important; box-shadow: 0 0 2px rgba(0, 0, 0, 0.5) inset; color: #fff !important; }
.add-icon-container > .sm-close { position: absolute; top: 0px; right: 2px; padding: 0; font-size: 12px; background: transparent; border: none; color: #888; }