/*
 * Globals
 */

.template-thumb-holder { display: block; text-align: center; position: relative; padding:100px 10px; max-height: 230px; border: 3px solid #fff; border-radius: 4px; box-shadow: 0 1px 3px #c1c1c1; }
.template-thumb-holder:hover { box-shadow: 0 0 6px 1px #add6ff; }
.template-thumb-holder .image-wrapper { left: 0; right: 0; top: 0; bottom: 0; width: auto; height: auto; z-index: 50; }
.template-thumb-holder .template-name { left: 0; right: 0; width: auto; z-index: 90; }
.template-thumb-holder .temp-button { display: inline-block; opacity: 0; filter:alpha(opacity=0); position: relative; z-index: 100; padding:8px 10px; background:rgba(0,0,0,0.7); color:#ffffff; border-radius:5px; text-decoration: none; }
.template-thumb-holder .temp-button:hover,
.template-thumb-holder .temp-button:focus { background:rgba(0,0,0,0.9); }
.template-thumb-holder:hover:after,
.template-thumb-holder:hover .temp-button { opacity: 1; filter:alpha(opacity=100);}
.template-thumb-holder:after { content:""; opacity: 0; filter:alpha(opacity=0); z-index: 80; display: block; position: absolute; left: 0; right: 0; top: 0; bottom: 0; background:rgba(255,255,255,0.5); }
 
/* Links */
a.valtemp, a.valtemp :focus, a.valtemp:hover { color: #fff; }

/*
 * Base structure
 */

html, body { height: 100%; }
body.cover { background-color: #fff; color: #424242; text-align: center; font-family: 'Open Sans', sans-serif; }
h1 {font-weight: 100; line-height: 1.2;}
.btn {border-radius: 0;}
body.scrollable { height: auto; }

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper { display: table; width: 100%; height: 100%; /* For at least Firefox */ min-height: 100%; -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5) box-shadow: inset 0 0 100px rgba(0,0,0,.5); }
.site-wrapper-inner { display: table-cell; vertical-align: top; }
.cover-container { margin-right: auto; margin-left: auto; }
.cardbox { text-align: left; }
a.btn {border-radius: 0;}
a.btn-primary.btn-lg:hover { background: #73ae14 none repeat scroll 0 0; border-color: #73ae14; }
.cardbox a.btn-primary.btn-lg { font-size: 22px; font-weight: 300; margin: 14px 0; }
.cardbox .btn-spaced {margin: 0 5px 0 0;}
h1.spaced { margin: 0  0 40px; }
.w165 { width: 165px;}
.fixedimage { position: fixed; width: 35%; right: 4%; top:0; }
.mtop20 { margin-top: 25px; }
.mtop35 { margin-top:35px; }
.mbottom20 { margin-bottom: 20px; }
.left-aligned {text-align: left;}
.center-aligned { text-align: center; }
.heading20 {margin-top:20px; margin-bottom:20px;}
.btn-right {float: right;}
.btn-left {float: left;}
a.btn-hover {border-radius: 50px; border: 2px solid #ccc;}
.btn-hover { overflow: hidden; width: 40px;
  -webkit-transition: width 0.5s ease-in-out;
  -moz-transition: width 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out;
  -ms-transition: width 0.5s ease-in-out;
  transition: width 0.2s ease-in-out;
 }
 .btn-hover > i { margin-right: 10px; }
 .btn-hover:hover { background: #f9f9f9 none repeat scroll 0 0; width: 110px; }
 .btn-text { color: #0073aa; }
 .btn-text:hover { color:#fff; background-color: #0073aa; border-color:#0073aa;}
 .grayed { background-color: #f3f3f3; }
 .template-thumb { height: 230px; margin-bottom: 25px;}
 .template-thumb > a { position:relative; border: 3px solid #fff; border-radius: 4px; box-shadow: 0 1px 3px #c1c1c1; display: block; height: 100%; width: 100%; }
 .template-thumb > a:hover { box-shadow: 0 0 6px 1px #add6ff; }
 .template-name { border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; background: #e4e4e4 none repeat scroll 0 0; bottom: 0; color: #555555; font-size: 13px; padding: 7px; position: absolute; text-align: center; width: 100%; }
 .image-wrapper { background-repeat: no-repeat; background-size: 100% auto; height: 100%; position: absolute; transition: opacity 0.2s ease 0s; width: 100%;}
 .valtemp:hover .template-name { background-color: #222; color: #f9f9f9; text-shadow: 0 0 1px #000; }
 .valtemp:hover .image-wrapper { opacity: 0.5; }
 .tag { transition: .2s opacity; opacity: 0; background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0; border-radius: 2px; height: 28px; left: 50%; margin-left: -60px; margin-top: -14px; padding: 4px; position: absolute; text-align: center; top: 50%; width: 120px; z-index: 999; }
 .valtemp:hover > .tag {opacity: 1;}
  .valtemp.disabled { pointer-events: none;}
  .alert.tagbox { border-bottom: 0 none; border-left: 5px solid #2ecc71; border-radius: 0; border-top: 0 none; margin: 0; padding: 5px 8px; position: absolute; width: 100%; z-index: 99; }

/* Padding for spacing */
.inner { padding: 30px; }

/*
 * Header
 */
.masthead-brand { margin-top: 10px; margin-bottom: 10px; }
.masthead-nav > li { display: inline-block; }
.masthead-nav > li + li { margin-left: 20px; }
.masthead-nav > li > a { padding-right: 0; padding-left: 0; font-size: 16px; font-weight: bold; color: #fff; /* IE8 proofing */ color: rgba(255,255,255,.75); border-bottom: 2px solid transparent; }
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus { background-color: transparent; border-bottom-color: #a9a9a9; border-bottom-color: rgba(255,255,255,.25); }
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus { color: #fff; border-bottom-color: #fff; }

/*search form */

#search {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.94);
    
    -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;

    -webkit-transform: translate(0px, -100%) scale(1, 1);
  -moz-transform: translate(0px, -100%) scale(1, 1);
  -o-transform: translate(0px, -100%) scale(1, 1);
  -ms-transform: translate(0px, -100%) scale(1, 1);
  transform: translate(0px, -100%) scale(1, 1);
    
    opacity: 0;
}

#search.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
  -o-transform: translate(0px, 0px) scale(1, 1);
  -ms-transform: translate(0px, 0px) scale(1, 1);
  transform: translate(0px, 0px) scale(1, 1); 
    opacity: 1;
    height: 180px;
}

#search input[type="search"] {
    position: absolute;
    top: 50%;
    width: 100%;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    font-size: 35px;
    font-weight: 300;
    text-align: center;
    border: 0px;
    margin: 0px auto;
    margin-top: -51px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
    left:0;
}
#search .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 18px;
    margin-left: -45px;
}
#search .close {
    position: fixed;
    top: 15px;
    right: 15px;
    color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
  opacity: 1;
  padding: 10px 17px;
  font-size: 27px;
  z-index: 9999;
}

.installing-overlay.downloading-overlay .progress.active .progress-bar, .installing-overlay.downloading-overlay .progress-bar.active { animation: 14s linear 0s normal none infinite running progress-bar-stripes; }

@media (min-width: 768px) { 
  .masthead-brand { float: left; }
  .masthead-nav { float: right; }
}

/*
 * Cover
 */
.cover { padding: 0 20px; }
.cover .btn-lg { padding: 10px 20px; font-weight: bold; }

/*
 * Footer
 */
.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*my own overlay*/
#modaldynamic .modal-backdrop {background: rgba(238, 238, 238, 0.9) none repeat scroll 0 0;}
#modaldynamic .modal-dialog { bottom: 0; height: 100%; margin: 0; top: 0; width: 100%; }
#modaldynamic .modal-content { border: 0 none; border-radius: 0; bottom: 20px; left: 20px; position: absolute; right: 20px; top: 20px; }
#modaldynamic  .sdremplate { height: 100%; position: relative; }
#modaldynamic  .sdremplate > .modal-footer { bottom: 0; position: absolute; width: 100%; background-color: #fff; }
#modaldynamic .modal-body { bottom: 0; min-height: 200px; overflow-y: auto; padding-bottom: 65px; position: absolute; top: 55px; width: 100%; z-index: 0; }
#modaldynamic button.close { border-left: 1px solid #ccc; margin: 0; padding: 18px 22px; position: absolute; right: 0; top: 0; }


.theme-screenshots { float: left; margin: 0 30px 0 0; max-width: 880px; text-align: center; width: 55%; }
.theme-screenshots .screenshot { margin-bottom:110px; border: 1px solid #fff; box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2); box-sizing: border-box; overflow: hidden; position: relative; }
.theme-screenshots .screenshot img { height: auto; left: 0; position: absolute; top: 0; width: 100%; }
.theme-screenshots .screenshot::after { content: ""; display: block; padding-top: 75%; }
.theme-info {  float: left; width: 40%; text-align: left;}
.theme-info .theme-version { color: #72777c; display: inline-block; float: none; font-size: 13px; font-weight: 400; margin-left: 10px; }
.theme-info .theme-name { color: #23282d; font-size: 32px; font-weight: 100; line-height: 1.3; margin: 10px 0 0; word-wrap: break-word; }
.theme-info .theme-author { color: #72777c; font-size: 16px; font-weight: 400; line-height: inherit; margin: 15px 0 25px; }
.theme-info .theme-description { color: #555; font-size: 15px; font-weight: 400; line-height: 1.5; margin: 30px 0 0; }
.theme-info .theme-tags { border-top: 3px solid #eee; color: #82878c; font-size: 13px; font-weight: 400; margin: 30px 0 0; padding-top: 20px; }

/*upload css*/
.upload-plugin .wp-upload-form, .upload-theme .wp-upload-form { background: #fafafa none repeat scroll 0 0; border: 1px solid #e5e5e5; margin: 30px auto; max-width: 430px; padding: 30px; }
form.sdcore-ux { color: #222; }
.sdcore-ux .button-disabled, .sdcore-ux .button-secondary.disabled, .sdcore-ux .button-secondary:disabled, .sdcore-ux .button-secondary[disabled], .sdcore-ux .button.disabled, .sdcore-ux .button:disabled, .sdcore-ux .button[disabled] {
  background: #f7f7f7 none repeat scroll 0 0 !important;
  border-color: #ddd !important;
  box-shadow: none !important;
  color: #a0a5aa !important;
  cursor: default;
  text-shadow: 0 1px 0 #fff !important;
  transform: none !important;
}
.sdcore-ux .button-disabled, .sdcore-ux .button-secondary.disabled, .sdcore-ux .button-secondary:disabled, .sdcore-ux .button-secondary[disabled], .sdcore-ux .button.disabled, .sdcore-ux .button:disabled, .sdcore-ux .button[disabled]
 { background: #f7f7f7 none repeat scroll 0 0 !important;
    border-color: #ddd !important;
    box-shadow: none !important;
    color: #a0a5aa !important;
    cursor: default;
    text-shadow: 0 1px 0 #fff !important;
    transform: none !important; }
.sdcore-ux .button, .sdcore-ux .button-secondary { background: #f7f7f7 none repeat scroll 0 0; border-color: #ccc; box-shadow: 0 1px 0 #ccc; color: #555; vertical-align: top; }
.sdcore-ux .button, .sdcore-ux .button-primary, .sdcore-ux .button-secondary { border-radius: 3px; border-style: solid; border-width: 1px; box-sizing: border-box; cursor: pointer; display: inline-block; font-size: 13px; height: 28px; line-height: 26px; margin: 0; padding: 0 10px 1px; text-decoration: none; white-space: nowrap; }
.sdcore-ux input[type="file"] { display: inline-block; padding: 3px 0;}
.install-help {text-align: center; font-size: 18px; font-weight: 500; }


/* for theme-slides slider-buttons */
.slidebuttons { display: block; height: 56px; left: 0; position: absolute; top: 0; width: 100px; }
.slidebuttons .carousel-control.left {  background-image: none; }
.slidebuttons .carousel-control.right {  background-image: none; }
.slidebuttons .carousel-control span { box-shadow: none; color: #666666; text-shadow: none; }
.slidebuttons > .carousel-control { border-right: 1px solid #c7c7c7; font-size: 35px; width: 50%; }


/*overlay themes*/

.installing-overlay {transition: .4s opacity; background: rgba(255, 255, 255, 0.95) none repeat scroll 0 0; bottom: 0; left: 0; padding: 20px; position: fixed; right: 0; top: 0; z-index: -1; opacity: 0; visibility: hidden; }
.installing-overlay.installing { z-index: 999999; opacity: 1; visibility: visible; }
.notificates { margin: 0 auto; max-width: 420px; min-width: 100px; }
.installing-overlay .progress { border-radius: 8px; margin: 20px auto; max-width: 700px; }
.centerme { height: 300px; left: 50%; margin-left: -400px; margin-top: -150px; position: absolute; top: 50%; width: 800px;} 
.notificates > p { font-size: 15px; margin: 22px 0; }
.counterx {font-weight: 800; color: #2ecc71;}

/* for the theme selection on edit page */
.themeselectionmodal { position: fixed; z-index: 999999999; }
.themeselectionmodal .modal-title, .modal-title { text-align: center; }
.themeselectionmodal #modaldynamic button.close { color: #000; }

#themes-slides .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
#themes-slides .carousel-inner .active {
  opacity: 1;
}
#themes-slides .carousel-inner .active.left,
#themes-slides .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
#themes-slides .carousel-inner .next.left,
#themes-slides .carousel-inner .prev.right {
  opacity: 1;
}
#themes-slides .carousel-control {
  z-index: 2;
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead { position: fixed; top: 0; } 
  .mastfoot { position: fixed; bottom: 0; }
  /* Start the vertical centering */
  .site-wrapper-inner { vertical-align: middle; }
  /* Handle the widths */
  .masthead, .mastfoot, .cover-container { width: 100%; /* Must be percentage or pixels for horizontal alignment */ }
}

@media(min-width:768px) and (max-width:991px) {
  .fixedimage { bottom: -110px; top: unset; width: 340px; }
  .cardbox h1 { font-size: 28px; }
}

@media (min-width: 992px) {
  .masthead, .mastfoot, .cover-container { width: 700px; }
}

@media (max-width: 767px) { 
  .cardbox > h1 { font-size: 27px; }
  /*for screenshots theme*/
  .theme-screenshots { display: block; float: unset; width: 100%; }
  .theme-screenshots .screenshot { margin-bottom: 12px; }
  .theme-info { float: unset; margin-top: 20px; text-align: left; width: 100%; }
  .theme-info { float: unset; margin-bottom: 110px; margin-top: 20px; text-align: left; width: 100%; }

  /*for search */
  #search .btn { left: 30px; margin-left: 0; position: absolute; top: 50%; }
  #search input[type="search"] { text-align: left; font-size: 14px; }

  /*for popup */
  #modaldynamic .modal-content { border: 0 none; border-radius: 0; bottom: 0; left: 0; position: relative; right: 0; top: 0; }

  /*for upload theme */
  .upload-plugin .wp-upload-form, .upload-theme .wp-upload-form { padding:30px 15px;}
  .install-help { font-size: 20px;}

}
