/*Banner*/
.banner{
    min-height: 400px;
    height: 600px;
    height: calc(100vh - 114px);
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url("../images/banner-bg.jpg") center / cover no-repeat;
    position: relative;
    z-index: 10;
}

.banner__overlay{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    z-index: 20;
    text-align: center;
    &__header{
        color: #fff;
        font-size: 36px;
        font-weight: 300;
        margin: 0;
    }
    &__subheader{
        color: #f5d44e;
        font-size: 56px;
        font-style: italic;
        font-family: $f-sec;
        margin-bottom: 35px;
    }
}