/*Buttons*/
.btn{
    font-family: $f-sec;
}

.btn-success{
    background-color: $c-pri;
    border-color: $c-pri;
    transition: all 300ms ease-in-out;
    &:hover, &:focus{
        background-color: darken($c-pri, 10);
        border-color: darken($c-pri, 10);
    }
}

.btn-lg{
    font-size: 26px;
    padding: 10px 45px;
    font-weight: 300;
}