/*Content*/
.section{
    padding: 50px 0;
    position: relative;
    &__header{
        text-align: center;
        margin-bottom: 50px;
        small, em{
            display: block;
            margin-bottom: 15px;
        }
        small{
            color: $c-pri;
            font-size: 26px;
        }
        em{
            font-family: $f-sec;
            font-size: 36px;
            color: #5d5d5d;
        }
    }
    &--about{
        padding: 100px 0;
        background: #f7f3d9 url("../images/about-bg.png") left bottom / contain no-repeat;
    }
    &--cta{
        background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("../images/cta-bg.jpg") center / cover;
        padding: 100px 0;
        .section__title{
            color: #fff;
            small, em{
                color: #fff;
            }
            small{
                font-size: 18px;
            }
        }
    }
}


.service{
    position: relative;
    color: #fff;
    max-width: 360px;
    margin: 0 auto 35px;
    &__img{
        width: 100%;
        height: auto;
    }
    &__content{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0), rgba(0,0,0,0.2),rgba(0,0,0,0.9));
    }
    &__content-wrap{
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -35px;
        padding: 15px;
    }
    &__title{
        font-family: $f-sec;
        font-style: italic;
    }
    p{
        margin-bottom: 25px;
    }
}


.list-social{
    text-align: center;
    > li{
        display: inline-block;
        margin-right: 10px;
        > a{
            font-size: 20px;
            color: #fff;
            border-radius: 50%;
            height: 38px;
            width: 38px;
            background-color: $c-pri;
            display: inline-block;
            line-height: 38px;
        }
        &:last-child{
            margin-right: 0;
        }
    }
}
