/*Fonts*/
$f-pri : 'Source Sans Pro';
$f-sec : 'Merriweather', serif;

@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700');

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700');