/*Header*/


.navbar-default {
    background-color: #fff;
    border-color: #d6d6d6;
    border-radius: 0;
    margin: 0;

    .navbar-brand{
        font-style: italic;
        font-weight: 700;
        font-size: 30px;
        font-family: $f-sec;
        color: $c-pri;
        margin: 0;
        > a{
            color: $c-pri;
        }
    }

    .navbar-header{
        padding: 10px 0;
    }

    .navbar-nav{
        padding: 10px 0;
        > li{
            > a{
                
                &:hover, &:focus{
                    color: $c-pri;
                    background-color: transparent;
                }
            }
        }
        > .active{
            > a{
                background-color: transparent;
                color: $c-pri;
                &:hover, &:focus{
                    color: $c-pri;
                    background-color: transparent;
                }
            }
        }
    }
}