/*Helper Class*/
@media only screen and (min-width:993px){
	.no-gutter{
		> [class*="col-"]{
			padding: 0;
		}
	}
}

.text-gray{
	color: #a5a5a5 !important; 
}

.pt10{
	padding-top: 10px;
}

.has-decor{
	&:after{
		content: url("../images/decor.png");
		display: block;
		margin: 0 auto;
	}
	&--green{
		&:after{
			content: url("../images/decor-green.png");
		}
	}
}

.mb25{
	margin-bottom: 25px;
}

.img-inline{
	max-width: 100%;
	width: auto;
}