// Large Devices, Widescreens
@media only screen and (max-width:1199px){

}
// Medium Devices, Desktops
@media only screen and (max-width:992px){
    .banner__overlay{
        width: 100%;
    }
    .section--about{
        background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("../images/about-bg.png");
    }
}

// Small Devices, Tablets
@media only screen and (max-width:768px){
    .banner__overlay__header {
        font-size: 22px;
    }
    .banner__overlay__subheader {
        font-size: 34px;
    }
    .btn-lg {
        font-size: 24px;
    }
    .section__header em {
        font-size: 30px;
    }
}

// Extra Small Devices, Phones
@media only screen and (max-width:480px){
    .banner__overlay__header {
        font-size: 20px;
    }
    .banner__overlay__subheader {
        font-size: 32px;
    }
    .btn-lg {
        font-size: 22px;
    }
    .section__header em {
        font-size: 28px;
    }
}

// Custom, iPhone Retina
@media only screen and (max-width:320px){
    .banner__overlay__header {
        font-size: 18px;
    }
    .banner__overlay__subheader {
        font-size: 26px;
    } 
}
