@mixin colorchanger($color, $color-name){
    body.#{$color-name}
        .banner__overlay__subheader{
            color: $color;
        }
        .banner__overlay__subheader {
            color: $color;
        }
        .btn-success{
            background-color: $color;
            border-color: $color;
            color: #fff;
            &:hover, &:focus{
                background-color: darken($color, 10);
                border-color: darken($color, 10);
            }
        }
        .has-decor--green::after {
            content: url("../images/decor-#{$color-name}.png");
        }
        .section__header small{
            color: $color;
        }
        .section--cta .section__header small{
            color: #fff;
        }
        .sd-global-soc-icons > ul > li > a{
            background-color: $color;
        }
    }
}


@include colorchanger(#c0392b, 'red-template');

@include colorchanger(#f39c12, 'orange-template');

@include colorchanger(#f1c40f, 'yellow-template');

@include colorchanger(#16a085, 'green-template');

@include colorchanger(#2980b9, 'blue-template');

@include colorchanger(#8e44ad, 'indigo-template');

@include colorchanger(#9b59b6, 'violet-template');