@mixin colorchanger($color, $color-name){
    body.#{$color-name}{
        #masthead .menu #navbar ul.navbar-nav li.active { box-shadow: 0 3px 0 0 $color; }
        #masthead .menu #navbar ul.navbar-nav li a:hover, #masthead .menu #navbar ul.navbar-nav li a:focus { box-shadow: 0 3px 0 0 $color; }
        #banner { background-image: url('../img/banner-#{$color-name}.png'); }
        #banner .banner-btn .btn.btn-primary { background-color: darken($color,20); border-color: darken($color,20); }
        #banner .banner-btn .btn.btn-primary:hover { background-color: #ffffff; color: $color; }
        #packages { background-image: url('../img/banner-2-#{$color-name}.png'); }
        #packages .package .package__details a { background-color: $color; border-color: $color; }
        #packages .package .package__details a:hover { background-color: #ffffff; border-color: $color; color: $color; }
        #packages .package .package__img figcaption { background-color: rgba($color, 0.8) }
        #packages .package .package__details h2 { color: lighten($color, 5); }
        #packages .package .package__details h2 span { color: lighten($color, 5); }
        #book-travel-form { background-image: url('../img/map-#{$color-name}.png'); }
        #book-travel-form h1 { color: #ffffff; }
        #book-travel-form .form-group label { color: #ffffff; }
        #book-travel-form .radio label { color: #ffffff; }
        #book-travel-form .btn.btn-primary { background-color: darken($color, 20); border-color: darken($color, 20); }
        #book-travel-form .btn.btn-primary:hover { background-color: #ffffff; border-color: darken($color, 20); color: darken($color, 20); }
        #gallery .home-slider .main-slider .slick-next, #gallery .home-slider .main-slider .slick-prev { background-color: darken($color, 10); }
        #footer .social-icons ul li { background-color: $color; border-color: $color; }
        #footer .social-icons ul li:hover { background-color: #ffffff; border-color: $color; }
        #footer .social-icons ul li:hover a i, #footer .social-icons ul li:focus a i { color: $color; }
        .sd-global-soc-icons > ul > li > a{ background-color: $color;}
    }
}


@include colorchanger(#c0392b, 'red-template');

@include colorchanger(#f39c12, 'orange-template');

@include colorchanger(#f1c40f, 'yellow-template');

@include colorchanger(#16a085, 'green-template');

@include colorchanger(#2980b9, 'blue-template');

@include colorchanger(#8e44ad, 'indigo-template');

@include colorchanger(#9b59b6, 'violet-template');
