*::-webkit-input-placeholder { /* WebKit, Blink, Edge */ color: #a2a5aa; font-family: "Source Sans Pro", sans-serif; }
*:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ color: #a2a5aa; font-family: "Source Sans Pro", sans-serif; opacity: 1; }
*::-moz-placeholder { /* Mozilla Firefox 19+ */ color: #a2a5aa; font-family: "Source Sans Pro", sans-serif; opacity: 1; }
*:-ms-input-placeholder { /* Internet Explorer 10-11 */ color: #a2a5aa; font-family: "Source Sans Pro", sans-serif; }
* { font-family: "Open Sans",sans-serif;}
img { max-width: 100%;}
.container { max-width: 1100px;}

body #masthead { position: relative; z-index: 10; padding: 0; }
.sd-image-logo { margin-top: 30px; }
html.canvas #masthead { padding-top:50px; }
#masthead:before { content: ""; background: #eebefc; display: block; position: absolute; left: 0; right: 0; top: 0; bottom: 0;}
#masthead .site-title h1 { font-size: 52px; }
#masthead .site-title h1 a { text-transform: capitalize; color: #58565B; font-family: 'Cookie', cursive; }
#masthead .site-title h1 a:hover,
#masthead .site-title h1 a:focus { text-decoration: none; outline: none; }
#masthead .alignright { text-align: right;}
#masthead .alignright h2 { color: #ffffff; text-shadow: 0 2px #999; margin-bottom: 0; font-size: 28px;}
#masthead .alignright h1 { font-weight: 700; text-shadow: 0 2px #999; margin-top: 0; margin-bottom: 20px;}
#masthead .alignright h1 a { color: #ffffff;}

#navbar > ul { background: #9f5bb2; float: unset; display: block; color: #ffffff; text-align: center; }
#navbar > ul > li { float: unset; display: inline-block; position: relative;}
#navbar > ul > li:before { content: "\f111"; position: absolute; margin-top: -3px; left: 100%; right: 0; top: 50%; bottom: 0; display: block; font-family: 'FontAwesome'; font-size: 5px; color: #ffffff; }
#navbar > ul > li:last-child:before { content: "";}
#navbar > ul > li a { color: #ffffff; font-size: 16px; text-transform: uppercase; font-weight: 400; padding: 15px 30px;}
#navbar > ul > li > a:hover, #navbar > ul > li a:focus { color: #ffffff; background: transparent;}
#navbar > ul > li a:hover, #navbar > ul > li a:focus {background:rgba(0,0,0,0.2);}
#navbar > ul ul { background: #9f5bb2; left: 0; }
#navbar > ul li:hover > ul { display: block; }
#navbar > ul ul li a { padding:8px 30px; }

#masthead .menu #navbar > ul.navbar-nav li.active { box-shadow: 0 3px 0 0 #56b6ee; color: #303030;}
#masthead .menu #navbar > ul.navbar-nav li a { color: #ffffff; font-size: 16px; font-family: 'Open Sans',sans-serif; transition: all 300ms ease 0s;}
#masthead .menu #navbar > ul.navbar-nav li a:hover,
#masthead .menu #navbar > ul.navbar-nav li a:focus { background: transparent; box-shadow: 0 3px 0 0 #56b6ee; color: #303030; transition: all 300ms ease 0s;}
#banner .carousel-inner .item img { }
#banner .carousel-inner .item { height: 500px; width: 100% }
#banner .carousel-inner .item .carousel-caption { left: 3%; background: rgba(0,0,0,0.5); max-width: 500px; bottom: 25%; padding: 50px 0;}
#banner .carousel-inner .item .carousel-caption .banner-text { color: #ffffff; text-align: center;}
#banner .carousel-inner .item .carousel-caption .banner-text h1 { font-family: 'Cookie', cursive; font-size: 60px; text-shadow: none; margin:0;}
#banner .carousel-inner .item .carousel-caption .banner-text h1 span { font-size: 60px; color: #edbdfb; font-family: 'Cookie',cursive;}

#content_area { position: relative; z-index: 5; }
#content_area:hover { z-index: 30; }

.section-banner { position: relative; margin-top: 8px; }
.section-banner:before { z-index: 1; content: ""; display: block; height: 50%; position: absolute; top: -8px; left: 0; right: 0; background-color: #eebefc; }
.section-banner > div { position: relative; z-index: 10; }

#banner .carousel-indicators { bottom: -9.5%;}
#banner .carousel-indicators li { background: #a9a9a9; width: 12px; height: 12px; margin:0; border:0;}
#banner .carousel-indicators li.active { background: #9d5ab0; border:0;}
#banner{ z-index: 10; margin-bottom: 50px; }
.ui-state-default.section-appender.banner-section-appender{ position: relative; z-index: 10; padding: 0 !important;}


.text.text-colored h2, .text.text-colored h1{ color: #565656;}
.text.text-colored h1 { margin-bottom: 20px;}
.text h2, .text h1 { text-align: center; color: #ffffff; margin:0;}
.text h2 { font-weight: 300; letter-spacing: -1px;}
.text h1 { font-family: 'Cookie', cursive; font-size: 50px;}

.welcome { padding: 50px 0;}
.welcome .content { max-width: 900px; margin: 40px auto;} 
.welcome .content p { font-size: 16px; margin-bottom: 10px; color: #565656;}
.welcome .content p span { float: left; margin-right: 30px;}
.welcome ul li a { min-width: 150px;}
.welcome ul li a.btn-about { display: block; background: #9d5ab0; padding: 10px; color: #ffffff; border:0; font-size: 15px; font-weight: 400;}
.welcome ul li a.btn-contact { display: block; background: #acacac; padding: 10px; color: #ffffff; border:0; font-size: 15px; font-weight: 400;}

.best-meals { padding: 30px 0; background: #edbdfb; border-bottom: 1px solid #ffffff;}
.best-meals ul { padding: 0; margin: 50px auto 0px;}
.best-meals ul li { padding: 0;}

.contact-form { background:#3e2d43 ; padding: 50px 0;}
.contact-form .text { margin-bottom: 50px;}
.contact-form .box { margin: 0 auto; max-width: 800px;}
.contact-form label, .contact-form textarea { font-weight: 300; letter-spacing: -1px; color: #ffffff}
.contact-form input, .contact-form textarea { border-radius: 0; box-shadow: none; border:0; color: #333333;}
.contact-form textarea.form-control { height: 108px;}
.contact-form .one-line .form-group { display: inline-block; width: 49%;}
.contact-form .one-line .form-group:first-child { margin-right: 3px;}
.contact-form .btn-submit { background: #9d5ab0; margin: 20px 0 10px; padding: 10px; color: #ffffff; border:0; font-size: 15px; font-weight: 400; display: inline-block; min-width: 150px;}

#footer { padding: 20px 0; position: relative; background: #2a202d; color: #ffffff;}
#footer p { color: #7f7973; letter-spacing: -1px; margin:0; }

@media screen and (min-width: 768px) and (max-width: 991px) {
	.container { width: auto;}
	#masthead:before { height: 400px;}
	#masthead .site-title h1 { line-height: normal;}
	#navbar > ul > li a { padding: 15px;}
	#banner .carousel-inner .item .carousel-caption { bottom: 5%; padding: 20px 0 30px;}
}
@media screen and (max-width: 767px) {
	#masthead:before { height: 330px;}
	#masthead .site-title h1 { text-align: center; font-size: 32px; line-height: normal;}
	#masthead .alignright { text-align: center;}
	#masthead .alignright h2 { margin-top: 10px;}
	#masthead .menu-mobile { position: relative; background:#eebefc; transition: all 0.3s ease 0s; padding: 10px 15px; }
	#masthead .navbar-header .navbar-toggle { background: #303030;}
	#masthead .navbar-header .navbar-toggle .icon-bar { background: #ffffff;}
	#masthead .menu-mobile #navbar2 { border:0;}
	#masthead .menu-mobile #navbar2 ul { margin: 0; border-top: 1px solid #333333;}
	#masthead .menu-mobile #navbar2 ul li { border-bottom: 1px solid #333333;}
	#masthead .menu-mobile #navbar2 ul li.active { font-weight: 700; color: #303030;  }
	#masthead .menu-mobile #navbar2 ul li a { font-family: 'Open Sans',sans-serif; font-size: 16px; color: #303030;}
	#masthead .menu-mobile #navbar2 ul li a:hover, #masthead .menu-mobile #navbar2 ul li a:focus { background: transparent; color: #ffffff;}
	#banner .banner-text h1, #banner .banner-text h2 { font-size: 20px; margin: 0;}
	#banner .banner-text h2:before,
	#banner .banner-text h2:after { visibility: hidden;}
	#banner .banner-text h3 { font-size: 16px;}
	#banner .banner-btn .btn.btn-primary { font-size: 24px; min-width: 200px; padding: 15px;}

	#banner .carousel-inner .carousel-caption { display: none;}
	#banner .carousel-indicators { bottom: -25%;}

	.welcome .content p { font-size: 14px;}
	.welcome .content p span { float: unset; margin-right: 0; text-align: center; display: block;}
	.welcome .content p span img { margin-bottom: 10px;}
	.welcome ul { margin: 0;}
	
	.best-meals ul { margin: 30px auto 0;}

	.text h1, .text.text-colored h1 { font-size: 32px;}
	.text h2, .text.text-colored h2 { font-size: 24px;}

	.contact-form { padding: 30px 0;}
	.contact-form .text { margin-bottom: 30px;}
	.contact-form .one-line .form-group:first-child { margin:0;}
	.contact-form .one-line .form-group { width: 100%;}
	.contact-form .btn-submit { width: 100%;}

}

@media screen and (max-width: 631px) {
	.best-meals ul li { width: 50%;}
}

@media screen and (max-width: 480px) {
	.welcome ul li { display: block; margin-bottom: 10px;}
}