body.red-template #masthead .menu #navbar ul.navbar-nav li.active {
  -webkit-box-shadow: 0 3px 0 0 #c0392b;
  box-shadow: 0 3px 0 0 #c0392b; }

body.red-template #masthead .menu #navbar ul.navbar-nav li a:hover, body.red-template #masthead .menu #navbar ul.navbar-nav li a:focus {
  -webkit-box-shadow: 0 3px 0 0 #c0392b;
  box-shadow: 0 3px 0 0 #c0392b; }

body.red-template #banner .banner-btn .btn.btn-primary {
  background-color: #c0392b;
  border-color: #c0392b; }

body.red-template #banner .banner-btn .btn.btn-primary:hover {
  background-color: #fff;
  color: #c0392b;
  border-color: #c0392b; }

body.red-template #packages .package .package__details h2, body.red-template #packages .package .package__details h2 span {
  color: #c0392b; }

body.red-template #packages .package .package__details a {
  background-color: #c0392b;
  border: 1px solid #c0392b; }

body.red-template #packages .package .package__img figcaption {
  background-color: #c0392b;
  opacity: .8; }

body.red-template #book-travel-form {
  background: url("../img/map-red-template.jpg"); }

body.red-template #book-travel-form .btn.btn-primary {
  border: 1px solid #c0392b;
  background-color: #962d22; }

body.red-template #book-travel-form .btn.btn-primary:hover {
  background-color: #fff;
  color: #c0392b; }

body.red-template #gallery .home-slider .main-slider .slick-prev {
  background-color: #c0392b; }

body.red-template #gallery .home-slider .main-slider .slick-next {
  background-color: #c0392b; }

body.red-template #footer .social-icons ul li {
  background-color: #c0392b;
  border-color: #c0392b; }

body.red-template .sd-global-soc-icons > ul > li > a {
  background-color: #c0392b; }

body.orange-template #masthead .menu #navbar ul.navbar-nav li.active {
  -webkit-box-shadow: 0 3px 0 0 #f39c12;
  box-shadow: 0 3px 0 0 #f39c12; }

body.orange-template #masthead .menu #navbar ul.navbar-nav li a:hover, body.orange-template #masthead .menu #navbar ul.navbar-nav li a:focus {
  -webkit-box-shadow: 0 3px 0 0 #f39c12;
  box-shadow: 0 3px 0 0 #f39c12; }

body.orange-template #banner .banner-btn .btn.btn-primary {
  background-color: #f39c12;
  border-color: #f39c12; }

body.orange-template #banner .banner-btn .btn.btn-primary:hover {
  background-color: #fff;
  color: #f39c12;
  border-color: #f39c12; }

body.orange-template #packages .package .package__details h2, body.orange-template #packages .package .package__details h2 span {
  color: #f39c12; }

body.orange-template #packages .package .package__details a {
  background-color: #f39c12;
  border: 1px solid #f39c12; }

body.orange-template #packages .package .package__img figcaption {
  background-color: #f39c12;
  opacity: .8; }

body.orange-template #book-travel-form {
  background: url("../img/map-orange-template.jpg"); }

body.orange-template #book-travel-form .btn.btn-primary {
  border: 1px solid #f39c12;
  background-color: #c87f0a; }

body.orange-template #book-travel-form .btn.btn-primary:hover {
  background-color: #fff;
  color: #f39c12; }

body.orange-template #gallery .home-slider .main-slider .slick-prev {
  background-color: #f39c12; }

body.orange-template #gallery .home-slider .main-slider .slick-next {
  background-color: #f39c12; }

body.orange-template #footer .social-icons ul li {
  background-color: #f39c12;
  border-color: #f39c12; }

body.orange-template .sd-global-soc-icons > ul > li > a {
  background-color: #f39c12; }

body.yellow-template #masthead .menu #navbar ul.navbar-nav li.active {
  -webkit-box-shadow: 0 3px 0 0 #f1c40f;
  box-shadow: 0 3px 0 0 #f1c40f; }

body.yellow-template #masthead .menu #navbar ul.navbar-nav li a:hover, body.yellow-template #masthead .menu #navbar ul.navbar-nav li a:focus {
  -webkit-box-shadow: 0 3px 0 0 #f1c40f;
  box-shadow: 0 3px 0 0 #f1c40f; }

body.yellow-template #banner .banner-btn .btn.btn-primary {
  background-color: #f1c40f;
  border-color: #f1c40f; }

body.yellow-template #banner .banner-btn .btn.btn-primary:hover {
  background-color: #fff;
  color: #f1c40f;
  border-color: #f1c40f; }

body.yellow-template #packages .package .package__details h2, body.yellow-template #packages .package .package__details h2 span {
  color: #f1c40f; }

body.yellow-template #packages .package .package__details a {
  background-color: #f1c40f;
  border: 1px solid #f1c40f; }

body.yellow-template #packages .package .package__img figcaption {
  background-color: #f1c40f;
  opacity: .8; }

body.yellow-template #book-travel-form {
  background: url("../img/map-yellow-template.jpg"); }

body.yellow-template #book-travel-form .btn.btn-primary {
  border: 1px solid #f1c40f;
  background-color: #c29d0b; }

body.yellow-template #book-travel-form .btn.btn-primary:hover {
  background-color: #fff;
  color: #f1c40f; }

body.yellow-template #gallery .home-slider .main-slider .slick-prev {
  background-color: #f1c40f; }

body.yellow-template #gallery .home-slider .main-slider .slick-next {
  background-color: #f1c40f; }

body.yellow-template #footer .social-icons ul li {
  background-color: #f1c40f;
  border-color: #f1c40f; }

body.yellow-template .sd-global-soc-icons > ul > li > a {
  background-color: #f1c40f; }

body.green-template #masthead .menu #navbar ul.navbar-nav li.active {
  -webkit-box-shadow: 0 3px 0 0 #16a085;
  box-shadow: 0 3px 0 0 #16a085; }

body.green-template #masthead .menu #navbar ul.navbar-nav li a:hover, body.green-template #masthead .menu #navbar ul.navbar-nav li a:focus {
  -webkit-box-shadow: 0 3px 0 0 #16a085;
  box-shadow: 0 3px 0 0 #16a085; }

body.green-template #banner .banner-btn .btn.btn-primary {
  background-color: #16a085;
  border-color: #16a085; }

body.green-template #banner .banner-btn .btn.btn-primary:hover {
  background-color: #fff;
  color: #16a085;
  border-color: #16a085; }

body.green-template #packages .package .package__details h2, body.green-template #packages .package .package__details h2 span {
  color: #16a085; }

body.green-template #packages .package .package__details a {
  background-color: #16a085;
  border: 1px solid #16a085; }

body.green-template #packages .package .package__img figcaption {
  background-color: #16a085;
  opacity: .8; }

body.green-template #book-travel-form {
  background: url("../img/map-green-template.jpg"); }

body.green-template #book-travel-form .btn.btn-primary {
  border: 1px solid #16a085;
  background-color: #107360; }

body.green-template #book-travel-form .btn.btn-primary:hover {
  background-color: #fff;
  color: #16a085; }

body.green-template #gallery .home-slider .main-slider .slick-prev {
  background-color: #16a085; }

body.green-template #gallery .home-slider .main-slider .slick-next {
  background-color: #16a085; }

body.green-template #footer .social-icons ul li {
  background-color: #16a085;
  border-color: #16a085; }

body.green-template .sd-global-soc-icons > ul > li > a {
  background-color: #16a085; }

body.blue-template #masthead .menu #navbar ul.navbar-nav li.active {
  -webkit-box-shadow: 0 3px 0 0 #2980b9;
  box-shadow: 0 3px 0 0 #2980b9; }

body.blue-template #masthead .menu #navbar ul.navbar-nav li a:hover, body.blue-template #masthead .menu #navbar ul.navbar-nav li a:focus {
  -webkit-box-shadow: 0 3px 0 0 #2980b9;
  box-shadow: 0 3px 0 0 #2980b9; }

body.blue-template #banner .banner-btn .btn.btn-primary {
  background-color: #2980b9;
  border-color: #2980b9; }

body.blue-template #banner .banner-btn .btn.btn-primary:hover {
  background-color: #fff;
  color: #2980b9;
  border-color: #2980b9; }

body.blue-template #packages .package .package__details h2, body.blue-template #packages .package .package__details h2 span {
  color: #2980b9; }

body.blue-template #packages .package .package__details a {
  background-color: #2980b9;
  border: 1px solid #2980b9; }

body.blue-template #packages .package .package__img figcaption {
  background-color: #2980b9;
  opacity: .8; }

body.blue-template #book-travel-form {
  background: url("../img/map-blue-template.jpg"); }

body.blue-template #book-travel-form .btn.btn-primary {
  border: 1px solid #2980b9;
  background-color: #20638f; }

body.blue-template #book-travel-form .btn.btn-primary:hover {
  background-color: #fff;
  color: #2980b9; }

body.blue-template #gallery .home-slider .main-slider .slick-prev {
  background-color: #2980b9; }

body.blue-template #gallery .home-slider .main-slider .slick-next {
  background-color: #2980b9; }

body.blue-template #footer .social-icons ul li {
  background-color: #2980b9;
  border-color: #2980b9; }

body.blue-template .sd-global-soc-icons > ul > li > a {
  background-color: #2980b9; }

body.indigo-template #masthead .menu #navbar ul.navbar-nav li.active {
  -webkit-box-shadow: 0 3px 0 0 #8e44ad;
  box-shadow: 0 3px 0 0 #8e44ad; }

body.indigo-template #masthead .menu #navbar ul.navbar-nav li a:hover, body.indigo-template #masthead .menu #navbar ul.navbar-nav li a:focus {
  -webkit-box-shadow: 0 3px 0 0 #8e44ad;
  box-shadow: 0 3px 0 0 #8e44ad; }

body.indigo-template #banner .banner-btn .btn.btn-primary {
  background-color: #8e44ad;
  border-color: #8e44ad; }

body.indigo-template #banner .banner-btn .btn.btn-primary:hover {
  background-color: #fff;
  color: #8e44ad;
  border-color: #8e44ad; }

body.indigo-template #packages .package .package__details h2, body.indigo-template #packages .package .package__details h2 span {
  color: #8e44ad; }

body.indigo-template #packages .package .package__details a {
  background-color: #8e44ad;
  border: 1px solid #8e44ad; }

body.indigo-template #packages .package .package__img figcaption {
  background-color: #8e44ad;
  opacity: .8; }

body.indigo-template #book-travel-form {
  background: url("../img/map-indigo-template.jpg"); }

body.indigo-template #book-travel-form .btn.btn-primary {
  border: 1px solid #8e44ad;
  background-color: #703688; }

body.indigo-template #book-travel-form .btn.btn-primary:hover {
  background-color: #fff;
  color: #8e44ad; }

body.indigo-template #gallery .home-slider .main-slider .slick-prev {
  background-color: #8e44ad; }

body.indigo-template #gallery .home-slider .main-slider .slick-next {
  background-color: #8e44ad; }

body.indigo-template #footer .social-icons ul li {
  background-color: #8e44ad;
  border-color: #8e44ad; }

body.indigo-template .sd-global-soc-icons > ul > li > a {
  background-color: #8e44ad; }

body.violet-template #masthead .menu #navbar ul.navbar-nav li.active {
  -webkit-box-shadow: 0 3px 0 0 #9b59b6;
  box-shadow: 0 3px 0 0 #9b59b6; }

body.violet-template #masthead .menu #navbar ul.navbar-nav li a:hover, body.violet-template #masthead .menu #navbar ul.navbar-nav li a:focus {
  -webkit-box-shadow: 0 3px 0 0 #9b59b6;
  box-shadow: 0 3px 0 0 #9b59b6; }

body.violet-template #banner .banner-btn .btn.btn-primary {
  background-color: #9b59b6;
  border-color: #9b59b6; }

body.violet-template #banner .banner-btn .btn.btn-primary:hover {
  background-color: #fff;
  color: #9b59b6;
  border-color: #9b59b6; }

body.violet-template #packages .package .package__details h2, body.violet-template #packages .package .package__details h2 span {
  color: #9b59b6; }

body.violet-template #packages .package .package__details a {
  background-color: #9b59b6;
  border: 1px solid #9b59b6; }

body.violet-template #packages .package .package__img figcaption {
  background-color: #9b59b6;
  opacity: .8; }

body.violet-template #book-travel-form {
  background: url("../img/map-violet-template.jpg"); }

body.violet-template #book-travel-form .btn.btn-primary {
  border: 1px solid #9b59b6;
  background-color: #804399; }

body.violet-template #book-travel-form .btn.btn-primary:hover {
  background-color: #fff;
  color: #9b59b6; }

body.violet-template #gallery .home-slider .main-slider .slick-prev {
  background-color: #9b59b6; }

body.violet-template #gallery .home-slider .main-slider .slick-next {
  background-color: #9b59b6; }

body.violet-template #footer .social-icons ul li {
  background-color: #9b59b6;
  border-color: #9b59b6; }

body.violet-template .sd-global-soc-icons > ul > li > a {
  background-color: #9b59b6; }
