.main-slider .slide { background-position: center center; background-repeat: no-repeat; height: 500px; background-size: cover; }
.nav-slider .slide { background-position: center center; background-repeat: no-repeat; height: 150px; background-size: cover; }
.gallery-slick h1.sd-content-title { font-family: inherit; margin-bottom: 30px; margin-top: 10px; text-align: center; }
.gallery-slick .home-slider .main-slider .slide { margin-bottom: 40px; margin-left: 20px; margin-right: 20px; }
.gallery-slick .home-slider .nav-slider .slide { cursor: pointer; margin-bottom: 40px; margin-left: 20px; margin-right: 20px; }
.gallery-slick .home-slider .main-slider .slick-next, .gallery-slick .home-slider .main-slider .slick-prev { background-color: #303030; background-position: center center; background-repeat: no-repeat; border-radius: 0; color: transparent; display: inline-block; height: 52px; position: absolute; top: 45%; transform: translateY(-45%); width: 86px; z-index: 99; }
.gallery-slick .home-slider .main-slider .slick-prev { background-image: url("../slick/prev.png"); left: -5px; }
.gallery-slick .home-slider .main-slider .slick-next { background-image: url("../slick/next.png"); right: -5px; }
.gallery-slick .home-slider .main-slider .slick-prev::before { content: ""; }
.gallery-slick .home-slider .main-slider .slick-next::before { content: ""; }
.gallery-slick .galleryShow { top: 15px; }

/* style for two squared image */
.two-coltext h1.sd-content-title { font-family: inherit; margin-bottom: 30px; margin-top: 10px; text-align: center; }
.two-coltext .editable { font-weight: 500; }

/* style for two squared image */
.two-sqimage h1.sd-content-title { font-family: inherit; margin-bottom: 30px; margin-top: 10px; text-align: center; }
.two-sqimage .sd-image-container { height: 240px; margin-bottom: 15px; position: relative; }
.two-sqimage .sd-image-container .galleryShow { right: 10px; top: 10px; background-size: cover; background-repeat: no-repeat;}
.two-sqimage .editable { font-weight: 500; }

/* style for three circled image */
.three-circimage h1.sd-content-title { font-family: inherit; margin-bottom: 30px; margin-top: 10px; text-align: center; }
.three-circimage .sd-image-container { border-radius: 50%; height: 240px; margin: 0 auto 15px; position: relative; width: 240px; }
.three-circimage .sd-image-container .galleryShow { background-repeat: no-repeat; background-size: cover; border: 3px solid #fff; left: unset; padding: 0; right: 25px; top: 25px; }
.three-circimage .editable { font-weight: 500; }

/* style for three sq image */
.three-sqimage h1.sd-content-title { font-family: inherit; margin-bottom: 30px; margin-top: 10px; text-align: center; }
.three-sqimage .sd-image-container { margin-bottom: 20px; position: relative; height:240px; }
.three-sqimage .sd-image-container .galleryShow { right: 10px; top: 10px; background-size: cover; background-repeat: no-repeat;}
.three-sqimage .editable { font-weight: 500; }

/* style for content with title only */
.contentwithtitle h1.sd-content-title { font-family: inherit; margin-bottom: 30px; margin-top: 10px; text-align: center; }
.contentwithtitle .editable { font-weight: 500; }

/* style for image on left with text */
.imgtext-left h1.sd-content-title { font-family: inherit; margin-bottom: 30px; margin-top: 10px; text-align: center; }
.imgtext-left .editable { font-weight: 500; }
.imgtext-left .wp-image-24 { background-repeat: no-repeat; background-size: cover; display: block; float: left; height: 292px; margin-bottom: 20px; }

/* style for photogallery */

.colored-gallery h1.sd-content-title { font-family: inherit; margin-bottom: 30px; margin-top: 30px; text-align: center; }
.colored-gallery .section {background-color: #c47144;}
.colored-gallery .services-text {padding-top: 25%; height: 100%;}
.colored-gallery .service-content .services-text h1{color: #fff; font-family: "Merriweather", serif; text-align: center; font-size: 40px; font-weight: 700; top: 20px; margin: auto; opacity: 0;}
.colored-gallery .service-content .services-text:hover h1{opacity: 1; color:#fff; font-family: "Merriweather", serif; font-weight: 700;}
.colored-gallery .service-content .services-text:hover {background: rgba(0,0,0,0.5);}
.colored-gallery .col-sm-4 .service-content {margin-bottom: 0; height: 250px; width: 100%;}
.colored-gallery .col-sm-4 .service-content:hover { cursor: pointer; opacity: 0.8; }
.colored-gallery .col-sm-4 .cabinets {background: rgba(0, 0, 0, 0) url("http://design.sprintdesignsph.com/furniture1/wp-content/uploads/2016/07/page1.jpg") no-repeat scroll center center / cover ;}
.colored-gallery .col-sm-4 .outdoor-tables {background: rgba(0, 0, 0, 0) url("http://design.sprintdesignsph.com/furniture1/wp-content/uploads/2016/07/page2-1.jpg") no-repeat scroll center center / cover ;}
.colored-gallery .col-sm-4 .table {background: rgba(0, 0, 0, 0) url("http://design.sprintdesignsph.com/furniture1/wp-content/uploads/2016/07/page3-1.jpg") no-repeat scroll center center / cover ;}
.colored-gallery .col-sm-4 .diner {background: rgba(0, 0, 0, 0) url("http://design.sprintdesignsph.com/furniture1/wp-content/uploads/2016/07/page4-1.jpg") no-repeat scroll center center / cover ;}
.colored-gallery .col-sm-4 .chairs {background: rgba(0, 0, 0, 0) url("http://design.sprintdesignsph.com/furniture1/wp-content/uploads/2016/07/page5-1.jpg") no-repeat scroll center center / cover ;}
.colored-gallery .col-sm-4 .decor {background: rgba(0, 0, 0, 0) url("http://design.sprintdesignsph.com/furniture1/wp-content/uploads/2016/07/page6-1.jpg") no-repeat scroll center center / cover ;}

.colored-gallery .row.no-gutters {
   margin-right: 0;
   margin-left: 0;
}
.colored-gallery .row.no-gutters > [class^="col-"],
.colored-gallery .row.no-gutters > [class*=" col-"] {
   padding-right: 0;
   padding-left: 0;
}
.colored-gallery {/*background: #C47144;*/ padding:0 0 30px;}