/*color changer css*/

body.red-template::after { background: #f06858 none repeat scroll 0 0; }
body.red-template .sd-nav .pitched { background: #c0392b none repeat scroll 0 0; }
body.red-template .btn-layerslide { background: #c0392b none repeat scroll 0 0; box-shadow: 0 0 3px #222; color: #fff; padding: 7px 20px; }
body.red-template .btn-layerslide:hover { color: #fff; background: #f06858; }
body.red-template .sd-main-content > section #first { color: #f06858; }
body.red-template .sd-main-content > .colored-gallery { background: #f06858 none repeat scroll 0 0; }
body.red-template .pitched .navbar-nav > li:hover, body.red-template .pitched .navbar-inverse .navbar-nav > .active > a { background-color: #f06858; }

body.orange-template::after { background: #f39c12 none repeat scroll 0 0; }
body.orange-template .sd-nav .pitched { background: #d35400 none repeat scroll 0 0; }
body.orange-template .btn-layerslide { background: #d35400 none repeat scroll 0 0; box-shadow: 0 0 3px #222; color: #fff; padding: 7px 20px; }
body.orange-template .btn-layerslide:hover { color: #fff; background: #f39c12; }
body.orange-template .sd-main-content > section #first { color: #f39c12; }
body.orange-template .sd-main-content > .colored-gallery { background: #f39c12 none repeat scroll 0 0; }
body.orange-template .pitched .navbar-nav > li:hover, body.orange-template .pitched .navbar-inverse .navbar-nav > .active > a { background-color: #f39c12; }


body.yellow-template::after { background: #fafa85 none repeat scroll 0 0; }
body.yellow-template .sd-nav .pitched { background: #f1c40f none repeat scroll 0 0; }
body.yellow-template .pitched .navbar-inverse .navbar-nav > li > a { color: #222; font-family: "Open Sans",sans-serif; text-transform: uppercase; }
body.yellow-template .btn-layerslide { background: #f1c40f none repeat scroll 0 0; box-shadow: 0 0 3px #222; color: #fff; padding: 7px 20px; }
body.yellow-template .btn-layerslide:hover { color: #222; background: #fafa85; }
body.yellow-template .sd-main-content > section #first { color: #fafa85; }
body.yellow-template .sd-main-content > .colored-gallery { background: #fafa85 none repeat scroll 0 0; }
body.yellow-template .pitched .navbar-nav > li:hover, body.yellow-template .pitched .navbar-inverse .navbar-nav > .active > a { background-color: #fafa85; color:#222 !important; }


body.green-template::after { background: #59e092 none repeat scroll 0 0; }
body.green-template .sd-nav .pitched { background: #27ae60 none repeat scroll 0 0; }
body.green-template .btn-layerslide { background: #27ae60 none repeat scroll 0 0; box-shadow: 0 0 3px #222; color: #fff; padding: 7px 20px; }
body.green-template .btn-layerslide:hover { color: #fff; background: #59e092; }
body.green-template .sd-main-content > section #first { color: #59e092; }
body.green-template .sd-main-content > .colored-gallery { background: #59e092 none repeat scroll 0 0; }
body.green-template .pitched .navbar-nav > li:hover, body.green-template .pitched .navbar-inverse .navbar-nav > .active > a { background-color: #59e092; }

body.blue-template::after { background: #75ccff none repeat scroll 0 0; }
body.blue-template .sd-nav .pitched { background: #2980b9 none repeat scroll 0 0; }
body.blue-template .btn-layerslide { background: #2980b9 none repeat scroll 0 0; box-shadow: 0 0 3px #222; color: #fff; padding: 7px 20px; }
body.blue-template .btn-layerslide:hover { color: #fff; background: #75ccff; }
body.blue-template .sd-main-content > section #first { color: #75ccff; }
body.blue-template .sd-main-content > .colored-gallery { background: #75ccff none repeat scroll 0 0; }
body.blue-template .pitched .navbar-nav > li:hover, body.blue-template .pitched .navbar-inverse .navbar-nav > .active > a { background-color: #75ccff; }


body.indigo-template::after { background: #b631e0 none repeat scroll 0 0; }
body.indigo-template .sd-nav .pitched { background: #8601B0 none repeat scroll 0 0; }
body.indigo-template .btn-layerslide { background: #8601B0 none repeat scroll 0 0; box-shadow: 0 0 3px #222; color: #fff; padding: 7px 20px; }
body.indigo-template .btn-layerslide:hover { color: #fff; background: #b631e0; }
body.indigo-template .sd-main-content > section #first { color: #b631e0; }
body.indigo-template .sd-main-content > .colored-gallery { background: #b631e0 none repeat scroll 0 0; }
body.indigo-template .pitched .navbar-nav > li:hover, body.indigo-template .pitched .navbar-inverse .navbar-nav > .active > a { background-color: #b631e0; }


body.violet-template::after { background: #dd9bf8 none repeat scroll 0 0; }
body.violet-template .sd-nav .pitched { background: #9b59b6 none repeat scroll 0 0; }
body.violet-template .btn-layerslide { background: #9b59b6 none repeat scroll 0 0; box-shadow: 0 0 3px #222; color: #fff; padding: 7px 20px; }
body.violet-template .btn-layerslide:hover { color: #fff; background: #dd9bf8; }
body.violet-template .sd-main-content > section #first { color: #dd9bf8; }
body.violet-template .sd-main-content > .colored-gallery { background: #dd9bf8 none repeat scroll 0 0; }
body.violet-template .pitched .navbar-nav > li:hover, body.violet-template .pitched .navbar-inverse .navbar-nav > .active > a { background-color: #dd9bf8; }

