@charset "UTF-8";
/*for advanced */
body { overflow-x: hidden; }
/*Top panel*/
#progress-label { color: white; }
.sdlogin-bar { background: #2B3742 none repeat scroll 0 0; font-family: "Open Sans",sans-serif; color: #fff; font-size: 12px; height: 40px; padding-left: 10px; padding-right: 10px; position: fixed; top: 0; width: 100%; z-index: 9999999; }
.sdlogin-bar > ul { list-style: outside none none; margin: 0; padding: 0; }
.sdlogin-bar > ul > li { line-height: 32px; }
.page-head { margin-bottom: 20px; }
.maintools { float: left; }
.profile-stat { float: right; }
.profile-stat li { display: inline-block; padding: 0 5px; }
.maintools > li { display: inline-block; overflow: hidden; }
.maintools > li.websitename { display: inline-block; overflow: hidden; max-width: 105px; }
.loggedin nav#mainNav { margin-top: 32px; }
.websitename.hidden-xs > a { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 105px; }
.maintools .sdicon { overflow: auto; max-width: 140px; margin: 2px 0 0; }
.maintools a { display: block; width: 100%; }
.sdicon img { width: 100%; }
.websitename { overflow: hidden; padding: 0 10px; -o-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; }
.sdlogin-bar .btn { border: medium none; }
.sdlogin-bar .btn.btn-transparent.btn-default { background: transparent none repeat scroll 0 0; color: #fff; font-weight: 400; padding: 4px 10px; text-transform: none; }
.sdlogin-bar .btn { -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; display: unset; margin-top:4px; font-size: 15px !important; padding: 1px 14px; }
.sdlogin-bar .dropdown.open { background-color: #1d1d1d; }
.sdlogin-bar .dropdown-menu { background-color: #1d1d1d; border: medium none; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; margin: 0; left:unset; right: 0;}
.sdlogin-bar .dropdown-menu > li { width: 100%; font-size: 13px; display: block; }
.sdlogin-bar .dropdown-menu > li .fa.fa-user { padding: 0 3px; }
.sdlogin-bar .dropdown-menu > li > a { color: #fff; }
.sdlogin-bar .dropdown-menu > li > a:focus, .sdlogin-bar .dropdown-menu > li > a:hover { background-color: transparent; color: #fff; text-decoration: none; }
.sdlogin-bar .boxed > img { display: block; margin: 10px auto 0; width: 28px; }
.sdlogin-bar .dropdown-toggle { color: #fff; }
.sdlogin-bar .dropdown-toggle:hover, .sdlogin-bar .dropdown-toggle:focus { text-decoration: none; }
/*page header*/
.page-header.navbar { background: #777; background-image: none; border: 0 none; -webkit-box-shadow: none; box-shadow: none; -webkit-filter: none; filter: none; height: 50px; margin: 0; min-height: 50px; padding: 0; width: 100%; }
.page-header.navbar .page-logo .logo-default { margin: 12px 10px 0; width: 150px; }
.page-header.navbar .page-logo { display: block; float: left; height: 50px; padding-left: 20px; padding-right: 20px; width: 265px; }
.page-container { margin: 0; padding: 0; position: relative; }
.page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle { padding: 12px 10px 6px; }
.page-header.navbar .top-menu .navbar-nav > li.dropdown { display: inline-block; height: 50px; margin: 0; padding: 0; }
.sdlogin-bar .dropdown:hover { background: #1d1d1d; }
.sdlogin-bar .dropdown:hover > .dropdown-menu { display: block; }
.sdlogin-bar .dropdown > .dropdown-menu::after,
.sdlogin-bar .dropdown-toggle > .dropdown-menu::after,
.sdlogin-bar .btn-group > .dropdown-menu::after,
.sdlogin-bar .dropdown > .dropdown-menu::before,
.sdlogin-bar .dropdown-toggle > .dropdown-menu::before,
.sdlogin-bar .btn-group > .dropdown-menu::before { border-color: rgba(255,255,255,0); }
.page-header-fixed .page-container { margin-top: 50px; }
.page-sidebar, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover { -webkit-border-radius: 0; border-radius: 0; }
.page-sidebar.fixed-sidebar { border-left: none; background: #35414e; height: 100%; padding: 50px 0; position: fixed; top: 0;}
.page-sidebar { float: left; margin-bottom: 10px; margin-right: -100%; position: relative; width: 175px; }
.page-content-wrapper .page-content { margin-left: 175px; margin-top: 0; min-height: 600px; padding: 10px 0 0 20px; }
.page-content-wrapper .page-content { margin-left: 175px; margin-top: 0; min-height: 600px; padding: 10px 20px 0; }
.page-head .page-title > h1 { color: #697882; font-size: 22px; font-weight: 200; margin: 0; padding: 0; }
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > button, .page-sidebar .page-sidebar-menu > li.active > button { border-left: 3px solid #5c9acf !important; margin-left: -3px; padding-left: 15px; }
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > button, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > button, .page-sidebar .page-sidebar-menu > li.active > button, .page-sidebar .page-sidebar-menu > li.active.open > button { background: #f2f6f9 none repeat scroll 0 0; color: #5b9bd1; }
.page-header.navbar .page-logo { display: block; float: left; height: 50px; padding-left: 0; padding-right: 20px; width: 265px; }
.btn { background-image: none !important; -webkit-border-radius: 0; border-radius: 0; border-width: 0; -webkit-box-shadow: none; box-shadow: none; -webkit-filter: none; filter: none; font-size: 14px; outline: medium none !important; padding: 3px 14px; text-shadow: none; }
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a, .page-sidebar .page-sidebar-menu > li.active > a { border-left: 0px solid transparent; margin-left: 0; padding-left: 15px; }
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a, 
.page-sidebar .page-sidebar-menu > li.active > a, 
.page-sidebar .page-sidebar-menu > li.active.open > a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a:hover, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a:hover, 
.page-sidebar .page-sidebar-menu > li.active > a:hover, 
.page-sidebar .page-sidebar-menu > li.active.open > a:hover,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a, 
.page-sidebar .page-sidebar-menu > li:hover > a, 
.page-sidebar .page-sidebar-menu > li.open > a { border-color:#0977c9 !important; background: #0977c9; color: #ffffff; }
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a, .page-sidebar .page-sidebar-menu > li > a { color: #cad5ea; }
.plugins-item { cursor: pointer; }
.plugin-list li.plugins-item:hover { background: #f2f2f2; }

/*switch */
input[type="checkbox"].ios-switch { position: absolute; opacity: 0; }

/* Normal Track */
input[type="checkbox"].ios-switch + div { vertical-align: middle; width: 40px; height: 20px; border: 1px solid rgba(0, 0, 0, 0.4); -webkit-border-radius: 999px; border-radius: 999px; background-color: rgba(0, 0, 0, 0.1); -webkit-transition-duration: .4s; -webkit-transition-property: background-color, -webkit-box-shadow; -webkit-box-shadow: inset 0 0 0 0px rgba(0, 0, 0, 0.4); box-shadow: inset 0 0 0 0px rgba(0, 0, 0, 0.4); margin: 5px 0 5px 0; }

/* Checked Track (Blue) */
input[type="checkbox"].ios-switch:checked + div { width: 40px; background-position: 0 0; background-color: #3b89ec; border: 1px solid #0e62cd; }

/* Tiny Track */
input[type="checkbox"].tinyswitch.ios-switch + div { width: 34px; height: 19px; position: relative; }

/* Big Track */
input[type="checkbox"].bigswitch.ios-switch + div { width: 50px; height: 25px; }

/* Green Track */
input.green.ios-switch[type="checkbox"]:checked + div { background-color: #5cb85c; border: 1px solid #449d44; -webkit-box-shadow: 0 0 0 12px #5cb85c inset; box-shadow: 0 0 0 12px #5cb85c inset; }

/* Normal Knob */
input[type="checkbox"].ios-switch + div > div { float: left; width: 18px; height: 18px; -webkit-border-radius: inherit; border-radius: inherit; background: #ffffff; -webkit-transition-timing-function: cubic-bezier(0.54, 1.85, 0.5, 1); -webkit-transition-duration: 0.4s; -webkit-transition-property: -webkit-transform, background-color, -webkit-box-shadow; -moz-transition-timing-function: cubic-bezier(0.54, 1.85, 0.5, 1); -moz-transition-duration: 0.4s; -moz-transition-property: transform, background-color; -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(0, 0, 0, 0.4); box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(0, 0, 0, 0.4); pointer-events: none; margin-top: 1px; margin-left: 1px; }

/* Checked Knob (Blue Style) */
input[type="checkbox"].ios-switch:checked + div > div { -webkit-transform: translate3d(20px, 0, 0); -moz-transform: translate3d(20px, 0, 0); background-color: #ffffff; -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px #0850ac; box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px #0850ac; }

/* Tiny Knob */
input[type="checkbox"].tinyswitch.ios-switch + div > div { width: 16px; height: 16px; margin-top: 1px; }

/* Checked Tiny Knob (Blue Style) */
input[type="checkbox"].tinyswitch.ios-switch:checked + div > div { -webkit-transform: translate3d(16px, 0, 0); -moz-transform: translate3d(16px, 0, 0); -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px #0850ac; box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px #0850ac; }

/* Big Knob */
input[type="checkbox"].bigswitch.ios-switch + div > div { width: 23px; height: 23px; margin-top: 1px; }

/* Checked Big Knob (Blue Style) */
input[type="checkbox"].bigswitch.ios-switch:checked + div > div { -webkit-transform: translate3d(25px, 0, 0); -moz-transform: translate3d(16px, 0, 0); -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3), 0px 0px 0 1px #0850ac; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3), 0px 0px 0 1px #0850ac; }

/* Green Knob */
input[type="checkbox"].green.ios-switch:checked + div > div { -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0 0 0 1px #00a23f; box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0 0 0 1px #00a23f; }

.ddeye-handle, .ddeye-handle > label { cursor: pointer; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.custom-grid { position: relative; }
.ddeye-handle > label { display: unset; height: 29px; left: 2px; position: relative; }
.onswitch, .offswitch { line-height: 1; position: absolute; }
.onswitch { font-size: 8px; left: 2px; top: 5px; }
.offswitch { color: #888; font-size: 8px; right: 2px; top: 5px; }
.no-click { pointer-events: none; opacity: 0.6; background: #ccc; }
.plugin-list { border: 1px solid #ccc; background-color: #fff; margin-right: 100%; min-height: 500px; padding: 10px; position: relative; width: 230px; z-index: 9; }
.plugin-list > ul { list-style: outside none none; margin: 0; padding: 0; }
.plugin-list li { background: #f9f9f9 none repeat scroll 0 0; border: 1px solid #e6e9f0; display: table; padding: 2px 5px; position: relative; width: 100%; }
.plugin-list li:after { display: block; width: 100%; bottom: 0; position: absolute; content: ''; clear: both; }
.plugin-list > ul > li > div { display: block; float: left; }
.ddeye-handle.eye-active { width: 40px; }
.plugin-name { width: -webkit-calc(100% - 40px); width: calc(100% - 40px); }
.plugin-name { line-height: 2; padding-left: 4px; width: -webkit-calc(100% - 40px); width: calc(100% - 40px); }
.onswitch { color: #fff; }
.plugin-settings-container { position: relative; overflow: hidden; min-height: 30px; display: block; margin-bottom: 20px; width: 100%; }
.plugin-settings { margin-left: 235px; min-height: 40px; padding-left: 15px; position: absolute; top: 0; width: -webkit-calc(100% - 235px); width: calc(100% - 235px); z-index: 9; }
.plugin-list > ul > li .btn.btn-danger.btn-delete { font-size: 12px; padding: 9px 6px; position: absolute; right: 0; top: 0; }
.contactform-container-buttons > .btn { float: right; font-size: 12px; margin: 0 0 0 4px; padding: 2px 8px; }
.contactform-container-buttons > .btn.btn-success { background: #5cb85c; }
.plugin-settings-container .title { color: #666666; font-size: 20px; margin: 8px 0; padding: 0 5px; }
.plugin-settings-container .table-responsive { margin: 25px 0 0; }
.page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle > .username { color: #fff; }
.page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle > .username { color: #222; font-weight: 200; }
.plugin-list li.active { -webkit-box-shadow: 0 0 0 3px #5096d2; box-shadow: 0 0 0 3px #5096d2; }
.plugin-settings-container > #page-content-wrapper > div { border: 1px solid #ccc; min-height: 500px; -webkit-transition: .5s all; -o-transition: .5s all; transition: .5s all; background: #fff none repeat scroll 0 0; padding: 8px; }
.plugin-2-page { width: 100%; min-height: 10px; opacity: 1; overflow-x: hidden; padding: 0; position: absolute; top: 0; visibility: hidden; -webkit-transform: translate(100%); -ms-transform: translate(100%); -o-transform: translate(100%); transform: translate(100%); }
.plugin-2-page.show { opacity: 1; visibility: visible; padding: 8px; left: 0; -webkit-transform: translate(0); -ms-transform: translate(0); -o-transform: translate(0); transform: translate(0); }
.backeddown { opacity: 0.9 !important; background: #ddd none repeat scroll 0 0 !important; -webkit-transform: translate(-15%); -ms-transform: translate(-15%); -o-transform: translate(-15%); transform: translate(-15%); }
.backeddown > div { background: #ddd; }
.btn.btn-default.backpage > i { color: #616161; font-size: 30px; margin-left: -12px; }
.plugin-settings-container .plugin-2-page .title { margin-left: 53px; -webkit-transition: all .6s ease 0s; -o-transition: all .6s ease 0s; transition: all .6s ease 0s; opacity: 0; }
.plugin-settings-container .plugin-2-page.show .title { margin-left: 0 !important; opacity: 1; }
.slider-gallery-preloader.show { background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0; border: 1px solid #bdbdbd; -webkit-border-radius: 5px; border-radius: 5px; height: 200px; left: 50%; margin-left: -100px; margin-top: -100px; position: absolute; top: 50%; width: 200px; z-index: 9999; }
.full-loader { background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0; bottom: 0; left: 0; position: fixed; right: 0; top: 0; z-index: 9999; opacity: 0; visibility: hidden; }
.full-loader.loading { opacity: 1; visibility: visible; }
.slider-gallery-preloader.show > img { height: 50px; left: 50%; margin-left: -25px; margin-top: -10px; position: absolute; top: 50%; width: 50px; }
.loadertext { color: #727272; font-size: 18px; position: absolute; text-align: center; top: 50px; width: 100%; }
.disabled { pointer-events: none; opacity: 0.5; }
.plugin-settings-container > div#page-content-wrapper { max-height: 500px; overflow: auto; }
.contactform-container-buttons { margin-top: 4px; }
.portlet.scrolly { height: 230px; overflow: auto; }
.title > button.add-new-field { margin-left: 20px; }
tr.add-new-field-tr .form-control { border-radius: 0; height: 24px; margin: 2px 0; }
.plugin-settings-container .portlet.scrolly .table-responsive { margin: 0; }
.scrolly .btn.btn-primary.add-new-field { bottom: 0; margin-top: -25px; }
 
/* checkbox Base for label styling */
.sdCheckbox:active, .sdCheckbox:visited, .sdCheckbox:focus { outline: 0; }

.sdCheckbox:not(:checked), .sdCheckbox:checked { position: absolute; left: -9999px; }

.sdCheckbox:not(:checked) + label, .sdCheckbox:checked + label { position: relative; padding-left: 25px; cursor: pointer; }

/* checkbox aspect */
.sdCheckbox:not(:checked) + label:before, .sdCheckbox:checked + label:before { content: ''; position: absolute; left: 0; top: 6px; width: 17px; height: 17px; border: 1px solid #aaa; background: #f8f8f8; -webkit-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3); box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3); }

/* checked mark aspect */
.sdCheckbox:not(:checked) + label:after, .sdCheckbox:checked + label:after { content: '✔'; position: absolute; top: 6px; left: 2px; font-size: 18px; line-height: 0.8; color: #09ad7e; -webkit-transition: all 0.2s; -o-transition: all 0.2s; transition: all 0.2s; }

/* checked mark aspect changes */
.sdCheckbox:not(:checked) + label:after { opacity: 0; -webkit-transform: scale(0); -ms-transform: scale(0); -o-transform: scale(0); transform: scale(0); }

.sdCheckbox:checked + label:after { opacity: 1; -webkit-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); }

/* disabled checkbox */
.sdCheckbox:disabled:not(:checked) + label:before, .sdCheckbox:disabled:checked + label:before { -webkit-box-shadow: none; box-shadow: none; border-color: #bbb; background-color: #ddd; }

.sdCheckbox:disabled:checked + label:after { color: #999; }

.sdCheckbox:disabled + label { color: #aaa; }

/* accessibility */
.sdCheckbox:checked:focus + label:before, .sdCheckbox:not(:checked):focus + label:before { border: 1px dotted transparent; }

/* hover style just for information */
label.sdChecklabel:hover:before { border: 1px solid #4778d9 !important; }
.table.compressed td, .table.compressed tr { font-size: 13px; line-height: 2.2; padding: 0 8px !important; }
.nobordertop { border: medium none !important; }
form.form-inline { border-top: 1px solid #ccc; padding: 4px 0; }
form.form-inline.last { border-bottom: 1px solid #ccc; margin-bottom: 10px; }
form.form-inline input.form-control { -webkit-border-radius: 0; border-radius: 0; font-size: 12px; height: 26px; padding: 2px; }
.form-group > label { color: #525252; font-size: 13px; margin-right: 4px; }
.portlet.topbox { padding-top: 20px; }

#contact-form-response {position: absolute;width: 100%;z-index: 9999999999;}

.go-back-btn { left: 175px; position: absolute; top: 12px; }

.boxnote-form { background: rgba(255, 255, 255, 0.95) none repeat scroll 0 0; bottom: 0; left: 0; padding: 20px; position: absolute; right: 0; text-align: center; top: 0; }
.btn.btn-primary.btn-large { font-size: 20px; }
.boxnote-form .btn.btn-primary.btn-large { margin-top: 15px; }

/*Theme Editor*/
form.select-theme-form { display: block; margin: 0 auto 20px; }
.editor-files-container h3.editor-file-selected { font-size: 18px; font-weight: bold; margin: 0 0 15px; padding: 0; display: block; }
.editor-files-container #editor { margin-bottom: 20px; }
.editor-files-container .list-folders { padding: 0; }
.editor-files-container .list-folders li { margin: 0 0 8px; }
.editor-files-container .list-folders li form { position: relative; padding-left: 30px; }
.editor-files-container .accordion { font-size: inherit; position: relative; color: #34495e; font-weight: bold; padding:5px 5px 5px 30px; display: block; width: 100%; background:#cccccc; -moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;}
.editor-files-container .accordion.active { background: #dddddd; }
.editor-files-container .accordion i,
.editor-files-container .list-folders li form i { position: absolute; left: 5px; top: 7px; color: #34495e;}
.editor-files-container .list-folders li form i { top:0; }
.editor-files-container .list-folders li form input { padding:0; }
.editor-files-container .accordion i.fa-folder { display: block; }
.editor-files-container .accordion i.fa-folder-open { display: none; }
.editor-files-container .accordion.active i.fa-folder { display: none; }
.editor-files-container .accordion.active i.fa-folder-open { display: block; }
.editor-files-container .accordion:after,
.editor-files-container .accordion.active:after { content: none; }
.editor-files-container .panel { background: none; padding-left:20px; margin: 0; border:0; }
.editor-files-container .panel .list-folders { margin-top: 8px; }

/*overlay css */
.installing-overlay { background: rgba(255, 255, 255, 0.95) none repeat scroll 0 0; bottom: 0; left: 0; opacity: 0; padding: 20px; position: fixed; right: 0; top: 0; transition: opacity 0.4s ease 0s; visibility: hidden; z-index: -1; }
.installing-overlay.installing { background: #fff none repeat scroll 0 0; opacity: 1; visibility: visible; z-index: 99999999; }
.centerme { height: 300px; left: 50%; margin-left: -400px; margin-top: -150px; position: absolute; top: 50%; width: 800px; }
.notificates { margin: 0 auto; max-width: 420px; min-width: 100px; }
.notificates p, .notificates h1 { text-align: center; }
.installing-overlay .progress { border-radius: 8px; margin: 20px auto; max-width: 700px; }


@media only screen and (max-width: 767px) {
	.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a, .page-sidebar .page-sidebar-menu > li > a { border-top:0; }
	.editor-files-container > .row > .pull-right { float: none !important; }	
	.page-sidebar.fixed-sidebar { margin: 0; }
	.page-header-fixed .page-content-wrapper .page-content { padding-top: 50px !important; }
}

/* For Online Store */
.page-bar {
  padding: 0px;
  background-color: #f7f7f7;
  margin-bottom: 25px;
  text-align: right;
}
.page-bar .breadcrumb {
  padding: 5px !important;
}

.dataTables_filter {
	text-align: right !important;
}