@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,700");
body.logged-in { margin-top: 40px; }

a:focus, a:hover { color: #23527c; text-decoration: none; outline:0; }

.btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus { outline: none; outline-offset: -2px; }

.sdlogin-bar { background: #2B3742 none repeat scroll 0 0; font-family: "Open Sans",sans-serif; color: #fff; font-size: 12px; height: 40px; padding-left: 10px; padding-right: 10px; position: fixed; top: 0; width: 100%; z-index: 9999999; }

.sdlogin-bar > ul { list-style: outside none none; margin: 0; padding: 0; }

.sdlogin-bar > ul > li { line-height: 32px; }

.maintools { float: left; }

.profile-stat { float: right; }

.profile-stat li { display: inline-block; padding: 0 5px; }

.maintools > li { display: inline-block; overflow: hidden; }

.maintools > li.websitename { display: inline-block; overflow: hidden; max-width: 105px; }

.loggedin nav#mainNav { margin-top: 32px; }

.logged-in .header .nav a { z-index: 99999; }

.websitename.hidden-xs > a { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 105px; }

.maintools .sdicon { overflow: auto; max-width: 140px; margin: 2px 0 0; }

.maintools a { display: block; width: 100%; }

.sdicon img { width: 100%; }

.websitename { overflow: hidden; padding: 0 10px; -o-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; }

.sdlogin-bar .btn { border: medium none; }

.sdlogin-bar .btn.btn-transparent.btn-default { background: transparent none repeat scroll 0 0; color: #fff; font-weight: 400; padding: 4px 10px; text-transform: none; }

.sdlogin-bar .btn { -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; display: unset; margin-top:4px; font-size: 15px !important; padding: 1px 14px; }

.sdlogin-bar .dropdown.open { background-color: #1d1d1d; }

.sdlogin-bar .dropdown-menu { background-color: #1d1d1d; border: medium none; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; margin: 0; left:unset; right: 0;}

.sdlogin-bar .dropdown-menu > li { width: 100%; font-size: 13px; display: block; }

.sdlogin-bar .dropdown-menu > li .fa.fa-user { padding: 0 3px; }

.sdlogin-bar .dropdown-menu > li > a { color: #fff; }

.sdlogin-bar .dropdown-menu > li > a:focus, .sdlogin-bar .dropdown-menu > li > a:hover { background-color: transparent; color: #fff; text-decoration: none; }

.sdlogin-bar .boxed > img { display: block; margin: 10px auto 0; width: 28px; }

.sdlogin-bar .dropdown-toggle { color: #fff; }

.sdlogin-bar .dropdown-toggle:hover, .sdlogin-bar .dropdown-toggle:focus { text-decoration: none; }

/*edit page css */
.ui-sortable-helper { border: 4px dashed #153B64; background: #005ec1 none repeat scroll 0 0; opacity: 0.8; }

.addable:hover, .addable.open { background-color: #111; }

.addable .btn.btn-primary { border: 2px solid #ccc; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; height: 36px; left: 50%; margin-left: -19px; margin-top: -14px; opacity: 0; position: absolute; top: 0; -webkit-transition: all 0.4s ease 0s; -moz-transition: all 0.4s ease 0s; -o-transition: all 0.4s ease 0s; transition: all 0.4s ease 0s; width: 38px; z-index: 999; background-color: #535353; }

.addable { -webkit-transition: all 0.4s ease 0s; -moz-transition: all 0.4s ease 0s; -o-transition: all 0.4s ease 0s; transition: all 0.4s ease 0s; height: 8px; padding: 0; position: relative; }

.hoverable-trigger { display: block; height: 40px; position: absolute; top: -20px; width: 100%; z-index: 99; }

.hoverable-trigger:hover + .btn.btn-primary, .addable.open .btn.btn-primary { opacity: 1; }

.addable .btn.btn-primary:hover { opacity: 1; }

section, aside, header { position: relative; }

.after-section { bottom: 0; position: absolute; width: 100%; }

.handle.btn { background-color: #005ec1; font-size: 24px; opacity: 0.9; position: absolute; right: 20px; top: 20px; z-index: 999; }

.handle.btn:hover { -webkit-box-shadow: 0 0 2px #005ec1; -moz-box-shadow: 0 0 2px #005ec1; box-shadow: 0 0 2px #005ec1; }

.ui-sortable-placeholder.ui-state-highlight { background: #2ecc71; }

.mce-content-body { -webkit-transition: .2s outline; -moz-transition: .2s outline; -o-transition: .2s outline; transition: .2s outline; position: relative; }

.mce-content-body::before { color: #0976CA; content: "\f040"; opacity:0; font-family: FontAwesome; font-size: 20px; height: 20px; position: absolute; right: 0; top: 0; width: 20px; }

.mce-content-body:hover::before { opacity:1;}

.mce-content-body:hover, #clock:hover { background: #5abeff none repeat scroll 0 0; box-shadow: 0 0 26px #3498db, 0 0 26px #3498db; outline: 1px solid #fff; }

.c-hamburger { display: block; position: relative; overflow: hidden; margin: 0; padding: 0; width: 96px; height: 96px; font-size: 0; text-indent: -9999px; -webkit-appearance: none; -moz-appearance: none; appearance: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; -webkit-border-radius: none; -moz-border-radius: none; border-radius: none; border: none; cursor: pointer; -webkit-transition: background 0.3s; -moz-transition: background 0.3s; -o-transition: background 0.3s; transition: background 0.3s; }

.c-hamburger:focus { outline: none; }

.c-hamburger span { display: block; position: absolute; top: 44px; left: 5px; right: 5px; height: 2px; background: white; }

.c-hamburger span::before, .c-hamburger span::after { background-color: #fff; content: ""; display: block; height: 2px; left: 0; position: absolute; width: 100%; }

.c-hamburger span::before { top: -20px; }

.c-hamburger span::after { bottom: -20px; }

.c-hamburger--htx { background-color: #ff3264; }

.c-hamburger--htx span { -webkit-transition: background 0s 0.3s; -moz-transition: background 0s 0.3s; -o-transition: background 0s 0.3s; transition: background 0s 0.3s; }

.c-hamburger--htx span::before, .c-hamburger--htx span::after { -webkit-transition-duration: 0.3s, 0.3s; -moz-transition-duration: 0.3s, 0.3s; -o-transition-duration: 0.3s, 0.3s; transition-duration: 0.3s, 0.3s; -webkit-transition-delay: 0.3s, 0s; -moz-transition-delay: 0.3s, 0s; -o-transition-delay: 0.3s, 0s; transition-delay: 0.3s, 0s; }

.c-hamburger--htx span::before { -webkit-transition-property: top, -webkit-transform; -moz-transition-property: top, -moz-transform; -o-transition-property: top, -o-transform; transition-property: top, transform; }

.c-hamburger--htx span::after { -webkit-transition-property: bottom, -webkit-transform; -moz-transition-property: bottom, -moz-transform; -o-transition-property: bottom, -o-transform; transition-property: bottom, transform; }

/* active state, i.e. menu open */
.c-hamburger--htx.is-active { background-color: #cb0032; }

.c-hamburger--htx.is-active span { background: none; }

.c-hamburger--htx.is-active span::before { top: 0; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); }

.c-hamburger--htx.is-active span::after { bottom: 0; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); }

.c-hamburger--htx.is-active span::before, .c-hamburger--htx.is-active span::after { -webkit-transition-delay: 0s, 0.3s; -moz-transition-delay: 0s, 0.3s; -o-transition-delay: 0s, 0.3s; transition-delay: 0s, 0.3s; }

.pickRow { height: 0; overflow: hidden; background: #222 none repeat scroll 0 0; -webkit-border-radius: 2%; -moz-border-radius: 2%; border-radius: 2%; left: 50%; margin-left: -200px; position: absolute; top: 35px; width: 400px; z-index: 999999; }

.addable.open .pickRow { border: 1px solid #575757; height: 275px; opacity: 1; overflow: visible; visibility: visible; }

.wnd-insert-arrow { -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; background: #242424 none repeat scroll 0 0; border-color: -moz-use-text-color -moz-use-text-color rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.25); -webkit-border-image: none; -moz-border-image: none; -o-border-image: none; border-image: none; border-style: none none solid solid; border-width: medium medium 1px 1px; display: block; height: 10px; left: 50%; margin-left: -5px; position: absolute; top: -5px; -webkit-transform: rotate(135deg); -moz-transform: rotate(135deg); -ms-transform: rotate(135deg); -o-transform: rotate(135deg); transform: rotate(135deg); width: 10px; }

.controw > h2 { font-family: 'Oswald', sans-serif; color: #ffffff; font-size: 14px; margin: 20px 0 10px !important; padding-bottom: 8px; padding-left: 15px; text-align: left !important; }

.controw button::before { content: ""; display: block; height: 35px; margin-left: 10px; width: 60px; }

.controw { display: table; margin: 6px 0 0; padding: 0 15px; position: relative; width: 100%; }

.controw .col-md-4 > button { background: transparent none repeat scroll 0 0; border: 1px solid #6c6c6c; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; color: #f1f1f1; font-size: 12px; padding: 5px; }

.one-col::before { background: transparent url("images/images.svg") no-repeat scroll -237px 6px; }

.two-col::before { background: transparent url("images/images.svg") no-repeat scroll -240px -391px; }

.three-col::before { background: transparent url("images/images.svg") no-repeat scroll -296px 6px; }

.photo-gallery-col::before { background: transparent url("images/images.svg") no-repeat scroll -296px -95px; }

.two-col-sq-img::before { background: transparent url("images/images.svg") no-repeat scroll -295px -44px; }

.three-col-circ-img::before { background: transparent url("images/images.svg") no-repeat scroll -296px -195px; }

.img-lefttext::before { background: transparent url("images/images.svg") no-repeat scroll -237px -342px; }

.pickRow .carousel-indicators { bottom: unset; top: -35px; right: 22px; left: unset; width: 45px; }

.sd-banner .pickRow .item, .pickRow .item { height: 275px; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat: no-repeat; background-position: center; }

.btn.btn-transparent.btn-default { border: medium none; background: transparent none repeat scroll 0 0; color: #fff; font-weight: 400; padding: 6px 10px; text-transform: none; }

.edit-menu-left { -webkit-transition: .2s all; -moz-transition: .2s all; -o-transition: .2s all; transition: .2s all; overflow: hidden; top: 40px; background: #35414E none repeat scroll 0 0; height: 100%; position: fixed; width:55px; z-index: 9999999; }

.edit-menu-left.show, .edit-menu-left:hover { width: 220px; overflow:unset !important; }

.container-x { background: #35414e none repeat scroll 0 0; height: 100%; }

.container-x > ul { list-style: none; margin: 0; padding: 0; width: 100%; }

.edit-menu-left .container-x button.truncate, .edit-menu-left .container-x button, .edit-menu-left a.truncate, .close-edit-menu { background: transparent none repeat scroll 0 0; border: medium none; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; color: #cad5ea; font-size: 16px; font-weight: 400; position: relative; padding-left: 17px; padding-top: 12px; padding-bottom: 12px; }

.dd-item { border-radius: 4px; }
.dd-item > button { color: #444; }

i.icons { margin-right: 6px; }

.menuli { display: none; }

.edit-menu-left.show span.menuli, .edit-menu-left:hover span.menuli { display: unset; }

.linkx { position: absolute; right: 8px; top: 12px; display: none; }
.edit-menu-left.show .linkx, .edit-menu-left:hover .linkx {display: block;}

.container-x button, .container-x a.truncate { display: block; text-align: left; width: 100%; border-bottom:1px solid #535e73 !important;}

.edit-menu-left .container-x ul li > button:hover, .edit-menu-left .container-x ul li > a:hover, .edit-menu-left .container-x ul li > a.highlight, .edit-menu-left .container-x ul li > button.highlight { background: #0977c9 none repeat scroll 0 0; border-color: #0977c9; color: #fff; }

.edit-menu-left .close-edit-menu { background: #28343f none repeat scroll 0 0; float: right; font-size: 18px; padding: 12px 20px; }

.headbox { background: transparent none repeat scroll 0 0; border-right: 1px solid transparent; height: 45px; width: 100%; margin: -2px 0; }

.truncate { width: 310px; white-space: nowrap; overflow: hidden; -o-text-overflow: ellipsis; text-overflow: ellipsis; }

.edit-menu-left > .layer-2 { color: #fff; height: 100%; left: 0; overflow-x: hidden; overflow-y: auto; position: fixed; top: 40px; -webkit-transition: all 0.2s ease 0s; -moz-transition: all 0.2s ease 0s; -o-transition: all 0.2s ease 0s; transition: all 0.2s ease 0s; width: 0; z-index: -3; }

.edit-menu-left > .layer-2.open-panel { padding: 5px 10px; left: 220px; width: 767px; }

.avatar-circle { display: none; border-radius: 50%; width: 32px; margin-top: 4px; }

.edit-menu-left > .layer-3 { color: #fff; height: 95%; left: 0; overflow-x: hidden; overflow-y: auto; position: fixed; top: 40px; -webkit-transition: all 0.2s ease 0s; -moz-transition: all 0.2s ease 0s; -o-transition: all 0.2s ease 0s; transition: all 0.2s ease 0s; width: 0; z-index: -3; }

.edit-menu-left > .layer-3.open-panel { padding: 5px 10px; left: 220px; width: 720px; }

.edit-menu-left > .layer-4 { color: #fff; height: 95%; left: 0; overflow-x: hidden; overflow-y: auto; position: fixed; top: 40px; -webkit-transition: all 0.2s ease 0s; -moz-transition: all 0.2s ease 0s; -o-transition: all 0.2s ease 0s; transition: all 0.2s ease 0s; width: 0; z-index: -3; }

.edit-menu-left > .layer-4.open-panel { padding: 5px 10px; left: 220px; width: 994px; }

.edit-menu-left > .layer-5 { color: #fff; height: 95%; left: 0; overflow-x: hidden; overflow-y: auto; position: fixed; top: 40px; -webkit-transition: all 0.2s ease 0s; -moz-transition: all 0.2s ease 0s; -o-transition: all 0.2s ease 0s; transition: all 0.2s ease 0s; width: 0; z-index: -3; }

.edit-menu-left > .layer-5.open-panel { padding: 5px 10px; left: 220px; width: 994px; }

.edit-menu-left > .layer-6 { color: #fff; height: 95%; left: 0; overflow-x: hidden; overflow-y: auto; position: fixed; top: 40px; -webkit-transition: all 0.2s ease 0s; -moz-transition: all 0.2s ease 0s; -o-transition: all 0.2s ease 0s; transition: all 0.2s ease 0s; width: 0; z-index: -3; }

.edit-menu-left > .layer-6.open-panel { padding: 5px 10px; left: 220px; width: 994px; }

.searchlist > input { background: transparent none repeat scroll 0 0; border-left: 0 none; border-right: 0 none; border-top: 0 none; height: 45px; padding-left: 55px; width: 100%; color: #fff; }
.searchlist > .icon-magnifier { color:#fff; position: absolute; font-size: 20px; padding: 18px; }

.highlight > .anglebox { border-color: transparent rgb(73,79,85) transparent transparent; border-style: solid; border-width: 18px 24px 18px 0; height: 0; width: 0; position: absolute; top: 6px; right: 0; box-shadow: transparent inset; }

.layer-3.open-panel, .layer-2.open-panel, .layer-4.open-panel, .layer-5.open-panel, .layer-6.open-panel { background: rgba(53, 65, 78, 0.88) none repeat scroll 0 0; }

.layer-2 .layer-container-x { padding: 8px; }

.layer-4 .layer-container-x { padding: 8px; }

.layer-5 .layer-container-x { padding: 8px; }

.layer-6 .layer-container-x { padding: 8px; }

.layer-2 .layer-container-x > .add-item { background: transparent none repeat scroll 0 0; border: 4px dashed; display: block; width: 100%; font-size: 14px; }

.layer-2 .layer-container-x > .add-item.mini { background: #0977c9 none repeat scroll 0 0; padding: 3px 14px; line-height: 1.2; margin-left: 6px; font-size: 16px; position: relative; top: -2px; color: #efefef; }

.add-item.mini { background: #0977c9 none repeat scroll 0 0; border: medium none; color: #efefef; font-size: 14px; line-height: 1.2; margin-left: 6px; padding: 7px 12px; position: relative; top: -2px; }
.add-item.mini.btn-add-slide { padding:7px 6px; }
.add-item.mini.page-management-tutorials > img { /*display: none;*/ margin-right: 4px; margin-top: -4px; width: 20px; }
.add-item.mini.page-management-tutorials.sd-tutorials { /*border-right: 1px solid #fff; background: transparent;*/ position: absolute; right: 60px; top: 20px; }
.add-item.mini.page-management-tutorials.sd-tutorials:hover { color: #99ffff;/* border-right: 1px solid #fff;*/ }

.first-cover.page-management-cover.show > img { left: -8%; position: relative; top: 90px; width: 92px; }

.overlay-tutorials div.hole.show-12 { height: 31px; left: 313px; top: 59px; width: 98px; }


.layer-2 .headerlayer { background: transparent none repeat scroll 0 0; color: #fff; padding: 12px; font-size: 22px; font-weight: 200; }

.layer-2 .navsort > h4 { font-size: 18px; font-weight: 200; }

.dd-dragel { position: absolute; pointer-events: none; z-index: 999999999999999; }

.layer-2 .navsort { display: block; padding: 1px 0; margin: 10px 0 0; }

.layer-close { background: none; border: none; margin-top: 0 !important; float: right; }

.layer-3 .layer-container-x { padding: 8px; }

.layer-3 .layer-container-x > .add-item { background: transparent none repeat scroll 0 0; border: 4px dashed; display: block; width: 100%; font-size: 14px; }

.layer-3 .headerlayer { font-weight: 100px; background: transparent none repeat scroll 0 0; color: #fff; font-size: 22px; font-weight: 400; padding: 12px; }

.layer-3 .navsort > h4 { font-size: 18px; font-weight: 200; }

.layer-3 .navsort { display: block; padding: 1px 0; margin: 10px 0 0; }

.layer-3 .layer-close-2 { float: right; margin-top: -13px; }

.layer-4 .layer-close { float: right; margin-top: -13px; }

.layer-4 .headerlayer { background: transparent none repeat scroll 0 0; color: #fff; padding: 12px; font-size: 22px; font-weight: 200; }

.layer-5 .layer-close { float: right; margin-top: -13px; }

.layer-5 .headerlayer { background: transparent none repeat scroll 0 0; color: #fff; padding: 12px; font-size: 22px; font-weight: 200; }

.layer-5 .portbox.relative { min-height: 300px; width: 100%; height: 300px; }

.layer-6 .layer-close { float: right; margin-top: -13px; }

.layer-6 .headerlayer { background: transparent none repeat scroll 0 0; color: #fff; padding: 12px; font-size: 22px; font-weight: 200; }


.navsort .menu-list { overflow-y: auto; padding: 0 5px; }

.navsort .menu-list .list-item { background: #1b1b1b none repeat scroll 0 0; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; display: table; margin: 8px 0; position: relative; width: 100%; }

.navsort .menu-list .list-item > span { font-size: 16px; font-weight: 200; margin-left: 15px; }

.list-item button { -webkit-transition: .2s all; -moz-transition: .2s all; -o-transition: .2s all; transition: .2s all; opacity: 0; font-size: 15px; margin: 0; padding: 10px 15px; }

.navsort .menu-list .list-item > span { text-transform: capitalize; font-size: 16px; font-weight: 200; margin-left: 15px; line-height: 2.5; }

.list-item .sd-duplicate { background-color: #2980b9; }

.list-item .sd-deletepage { background-color: #c0392b; }

.list-item .sd-settings { background-color: #7f8c8d; }

.float-right-button { display: -webkit-inline-box; display: -webkit-inline-flex; display: -moz-inline-box; display: -ms-inline-flexbox; display: inline-flex; float: right; }

.navsort .menu-list .list-item.activ { background: #04a247 none repeat scroll 0 0; }

.navsort .menu-list .list-item.activ button, .navsort .menu-list .list-item:hover button { opacity: 1; }

.section-appender .btn.btn-danger { border-radius: 50%; height: 45px; right: 25px; top: -91px; width: 45px; z-index: 999; }

.fl-rich-text.sd-col-content > p { display: block; float: left; position: relative; z-index: 99999; }
button.galleryShow { position: absolute; right: 15px; /*z-index: 99999;*/ border-radius: 0; border: none medium; background: #222; color: #cccccc; border-radius: 50%; height: 30px; top: -6px; width: 30px; }
.circleimg > button.galleryShow { left: 50%; margin-left: -15px; margin-top: -15px; right: unset; top: 50%; }
.service-content button.galleryShow { position: absolute; right: 5px; z-index: 99999; border-radius: 0; border: none medium; background: #222; color: #cccccc; border-radius: 50%; height: 30px; top: 5px; width: 30px; }
.ui-state-default.section-appender { padding: 30px 0 45px !important; }

/*marketing banner*/

.marketing-banner-list { padding: 20px; margin: 0; list-style: none; }
.marketing-banner-list > li { width: 20%; float: left; }
.open-marketing-banner > img { background: #fff none repeat scroll 0 0; height: 55px; left: -20px; margin-right: 2px; position: relative; width: 40%; }
.open-marketing-banner > span { color: #616161; display: inline-block; font-family: "Open Sans",sans-serif; font-size: 12px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 75px; }
.marketing-banner-list .open-marketing-banner { transition: .2s all; position:relative; border: 1px solid #ccc; margin: 6px 1px; padding-left: 0; display: block; width: 171px; }
.marketing-banner-list .open-marketing-banner:hover {box-shadow: 1px 1px 2px #bbb;}
.marketing-banner-list:after { clear: both; height: 1px; width: 100%; content: ''; display: block; }
.marketing-banner-settings .row { margin: 0; padding: 10px 20px; }
.left-settings, .right-settings { box-sizing: border-box; float: left; width: 50%; padding: 10px 5px; }
.marketing-banner-settings .form-group, .right-settings > label { display: block; width: 100%; margin: 0 0 10px; color: #5e5e5e; }
.marketing-banner-settings { box-shadow: 0px -1px 1px #909090; padding-top: 15px; }
.marketing-banner-photo { min-height: 200px; }
.marketing-banner-photo > img { width: 100%; }
/*my own overlay*/

#modaldynamic .modal-dialog { bottom: 0; height: 100%; margin: 0; top: 0; width: 100%; }
#modaldynamic .modal-content { border: 0 none; border-radius: 0; bottom: 20px; left: 20px; position: absolute; right: 20px; top: 20px; }
#modaldynamic  .sdremplate { height: 100%; position: relative; }
#modaldynamic  .sdremplate > .modal-footer { bottom: 0; position: absolute; width: 100%; background-color: #fff; }
#modaldynamic .modal-body { bottom: 0; min-height: 200px; overflow-y: auto; padding-bottom: 65px; position: absolute; top: 55px; width: 100%; z-index: 0; }
#modaldynamic button.close { border-left: 1px solid #ccc; margin: 0; padding: 18px 22px; position: absolute; right: 0; top: 0; }

.theme-screenshots { float: left; margin: 0 30px 0 0; max-width: 880px; text-align: center; width: 55%; }
.theme-screenshots .screenshot { margin-bottom:110px; border: 1px solid #fff; box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2); box-sizing: border-box; overflow: hidden; position: relative; }
.theme-screenshots .screenshot img { height: auto; left: 0; position: absolute; top: 0; width: 100%; }
.theme-screenshots .screenshot::after { content: ""; display: block; padding-top: 75%; }
.theme-info {  float: left; width: 40%; text-align: left;}
.theme-info .theme-version { color: #72777c; display: inline-block; float: none; font-size: 13px; font-weight: 400; margin-left: 10px; }
.theme-info .theme-name { color: #23282d; font-size: 32px; font-weight: 100; line-height: 1.3; margin: 10px 0 0; word-wrap: break-word; }
.theme-info .theme-author { color: #72777c; font-size: 16px; font-weight: 400; line-height: inherit; margin: 15px 0 25px; }
.theme-info .theme-description { color: #555; font-size: 15px; font-weight: 400; line-height: 1.5; margin: 30px 0 0; }
.theme-info .theme-tags { border-top: 3px solid #eee; color: #82878c; font-size: 13px; font-weight: 400; margin: 30px 0 0; padding-top: 20px; }

#modaldynamic.small .modal-body { padding-bottom:0; } 
#modaldynamic.small { position: fixed; z-index: 999999999; }
#modaldynamic.small .modal-dialog { left: 50%; margin-left: -200px; max-width: 400px; z-index: 999999999; }
#modaldynamic.small .modal-header { border-bottom: 1px solid #131313; }
#modaldynamic button.close { border-left: 1px solid #000000; margin: 0; padding: 18px 22px; position: absolute; right: 0; top: 0; color: #fff; }
#modaldynamic.small .modal-content { background: #2b3742 none repeat scroll 0 0; color: #fff; height: 230px; margin-top: -115px; top: 50%; }

#modaldynamic.medium .modal-body { padding-bottom:0; } 
#modaldynamic.medium { position: fixed; z-index: 999999999; }
#modaldynamic.medium .modal-dialog { left: 50%; margin-left: -300px; max-width: 600px; z-index: 999999999; }
#modaldynamic.medium .modal-header { border-bottom: 1px solid #131313; }
#modaldynamic.medium .modal-content { background: #2b3742 none repeat scroll 0 0; color: #fff; height: 300px; margin-top: -150px; top: 50%; }


.sd-modal.small .modal-body { padding-bottom:0; } 
.sd-modal.small { position: fixed; z-index: 999999999; }
.sd-modal.small .modal-dialog { left: 50%; margin-left: -200px; max-width: 400px; z-index: 999999999; }
.sd-modal.small .modal-header { border-bottom: 1px solid #131313; }
.sd-modal button.close { border-left: 1px solid #000000; margin: 0; padding: 18px 22px; position: absolute; right: 0; top: 0; color: #fff; }
.sd-modal.small .modal-content { background: #2b3742 none repeat scroll 0 0; color: #fff; height: 230px; margin-top: -175px; top: 50%; }
 
.modal-footer { position: absolute; width: 100%; bottom: 0; border-top: 1px solid; border-color: #0f0f0f; }
.modal-body > p { font-size: 18px; }
.pageCreator .form-control { background: transparent; color: #fff; border-radius: 0; resize: none; }
.pageCreator select.form-control { text-transform: capitalize; }
.pageCreator .form-control option { background:#222; text-transform: capitalize; }
.pageCreator label { font-size: 14px; font-weight: 200; }
form.pageCreator { padding: 15px; }
.btn.btn-gold { background: #daa520 none repeat scroll 0 0; border-color: orange; border-radius: 0; color: #080808; }

/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con { -webkit-filter: blur(0); -moz-filter: blur(0); -o-filter: blur(0); -ms-filter: blur(0); filter: blur(0); opacity: 0.96; position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; z-index: 99999999999; background: url(images/sdgraylogo.png) center no-repeat #dde6ec; }
#form-add-page > span#page-error-message { color: #BB0C00; position: absolute; top: 6px; }


.alert {position: absolute; width: 100%; z-index: 99; }
.image-gallery { background: #e9e9e9 none repeat scroll 0 0; clear: both; display: table; list-style: outside none none; margin: 0 0 40px; padding: 12px; width: 100%; }
.image-gallery .imglicontainer { transition: .2s all; box-sizing: border-box; display: block; float: left; padding: 4px; position: relative; width: 16.667%; }
.imglicontainer.removeout { opacity: 0.3; transform: scale(0); }
.imglicontainer > a::before { content: ""; display: block; padding-top: 100%; }
.imglicontainer > a { opacity: 0.96; transition: .2s opacity; background: #fefefe none repeat scroll 0 0; display: block; height: 100%; position: relative; width: 100%; }
.imglicontainer > a:hover, .imglicontainer > a:focus, .imglicontainer > a:active { opacity:1; outline: 0; text-decoration: none; }
.imglicontainer .imagebox { bottom: 0; display: block; height: 100%; left: 0; overflow: hidden; position: absolute; right: 0; top: 0; width: 100%; border: 1px solid #c8c8c8;}
.imglicontainer .btn.btn-danger.btn-delete-image-func { border-radius: 50%; opacity: 0.95; }
.centered { bottom: 0; display: block; height: 100%; left: 0; position: absolute; right: 0; top: 0; transform: translate(50%, 50%); width: 100%;}
.img-responsive { bottom: 0; left: 0; position: absolute; right: 0; top: 0; transform: translate(-50%, -50%);}
.crop-section { opacity:0; visibility: hidden; display: block; height: 100%; position: fixed; top: 0; width: 100%; z-index: -1; background: rgba(0,0,0,1);}
.crop-section.swipe { opacity: 1; visibility: visible; z-index: 9999999999999; overflow-y: auto; }
.crop-section .jcrop-holder { width: 100% !important; height:100% !important;}
.jcrop-tracker { box-shadow: 4px 1px 29px #000; cursor: crosshair; height: 696px; left: -2px; position: absolute; top: -2px; width: 1028px !important; z-index: 290;}
/*.crop-section .exitCrop { background: transparent none repeat scroll 0 0; border: medium none; color: #fff; font-size: 23px; padding: 10px 40px; position: fixed; right: 0; top: 0; }*/
.crop-section { background: #ccc none repeat scroll 0 0; display: block; height: 100%; opacity: 0; position: fixed; top: 0; visibility: hidden; width: 100%; z-index: -1;}
/*.cropFunctions { bottom: -25px; display: block; height: 100px; left: 50%; margin-left: -50px; position: fixed; width: 100px; z-index: 2147483647; }*/
.cropFunctions { background-color: #2B3742; display: block; height: 50px; left: 3%; margin-left: -50px; position: fixed; top: 0; width: 101%; z-index: 2147483647;}
/*.saveCrop, .cancelCrop { border: medium none; border-radius: 50%; float: left; font-size: 21px; height: 40px; margin: 0 5px; width: 40px; }*/
.saveCrop, .cancelCrop { border: medium none; color: #ffffff; float: left; font-size: 16px; height: 32px; left: 41%; margin: 7px 5px 0; position: relative; width: 99px;}
.saveCrop { background-color: #5BB55B;}
.cancelCrop { background-color: #C9302C;}
.load-for-crop { left: -2%; padding: 17% 0 16% 42%; position: absolute; top: -2px; z-index: 2;}
.crop-section-core { opacity:0; visibility: hidden; display: block; height: 100%; position: fixed; top: 0; width: 100%; z-index: -1; background: rgba(0,0,0,1);}
.crop-section-core.swipe { opacity: 1; visibility: visible; z-index: 9999999999999; overflow-y: auto; }
.crop-section-core { background: #ccc none repeat scroll 0 0; display: block; height: 100%; opacity: 0; position: fixed; top: 0; visibility: hidden; width: 100%; z-index: -1;}
.cropFunctions-core { background-color: #2B3742; display: block; height: 50px; left: 3%; margin-left: -50px; position: fixed; top: 0; width: 101%; z-index: 2147483647;}
.saveCrop-core, .cancelCrop-core { border: medium none; color: #ffffff; float: left; font-size: 16px; height: 32px; left: 41%; margin: 7px 5px 0; position: relative; width: 99px;}
.saveCrop-core { background-color: #5BB55B;}
.cancelCrop-core { background-color: #C9302C;}
.load-for-crop-core { left: -2%; padding: 17% 0 16% 42%; position: absolute; top: -2px; z-index: 2;}
.portlet-body .dropzone .dz-default.dz-message { background-image: url("images/upload2.jpg"); background-position: 0 0; background-repeat: no-repeat; background-size: 100% 100%; filter: none; height: 150px; left: 50%; margin: -75px 0 0 -240px; opacity: 1; position: absolute; top: 50%; transition: opacity 0.3s ease-in-out 0s; width: 480px; }
.layer-container-x .dropzone { background-color: #fff; min-height: 200px; box-shadow: 1px 0px 2px #676767 inset; }
.layer-container-x .dropzone:before { position: absolute; display: block; content: ""; border: 4px dashed #ccc; top: 8px; left: 8px; right: 8px; bottom: 8px; }
.imagebox.dropzone:before { border: none; }
.imagebox.dropzone { background-color: #5a5a5a; background-image: url("images/preloaderimage.png"); background-position: center center; background-repeat: no-repeat; border: medium none; border-radius: 0; min-height: unset; padding: 10px 12px; }
.imagebox.dropzone .progress-bar { background-color: #fff; box-shadow: none; color: #fff; float: left; font-size: 12px; height: 100%; line-height: 20px; text-align: center; transition: width 0.6s ease 0s; width: 0; }
.imagebox.dropzone .progress { background-color: transparent; border: 1px solid #f5f5f5; border-radius: 4px; height: 8px; margin-bottom: 0; overflow: hidden; position: absolute; width: 75px; top: 50%; margin-top: -4px; }
.imagebox.dropzone > span { font-size: 12px; width: 100%; text-align: center; display: block; margin-top: 16px; color: #fff; }

.portlet.box { background: #fff;  margin: 4px 0; }
.portlet.box .portlet-title { color:#6c6c6c; background: #bcbcbc none repeat scroll 0 0; padding: 8px 10px; }
.portlet.box > .portlet-body, .portlet.box > .portlet.title { padding: 0 12px 12px 12px; }
.row-inside { width: 100%; display: table; }
.row-inside .col-md-12 { padding:0; }
.menu-button-holder > button.btn { font-size: 12px; padding: 5px 10px; margin: 0 0 0 -4px; border-radius: 0; }
.menu-button-holder { position: absolute; right: 0; top: 0; z-index: 999; opacity: 0; visibility: hidden; }
.portlet.box.blue .portlet-body, .portlet.box.green .portlet-body { height: 200px; overflow-y: auto; transition: height 0.2s ease 0s; padding-bottom: 50px; }
.dragover-image { visibility: hidden; background: rgba(10, 97, 160, 0.8) none repeat scroll 0 0; bottom: 0; left: 0; opacity: 0; border: 2px dashed #fff; position: absolute; right: 0; top: 0; transition: all 0.3s ease 0s; z-index: 2; cursor: pointer; }
.dragover-title { text-shadow: 1px 1px 1px #323232; font-weight: 600; font-size: 50px; text-align: center; width: 400px; line-height: 1.2; height: 120px; left: 50%; position: absolute; margin-left: -200px; top: 50%; margin-top: -60px; }
.dz-drag-hover .dragover-image {opacity: 1; visibility: visible; }

.ddeye-handle { background: #fff none repeat scroll 0 0; border: 1px solid #aaa; border-radius: 0; cursor: pointer; left: 29px; margin: 0; overflow: hidden; position: absolute; text-indent: unset; top: 0; white-space: nowrap; width: 41px; height:30px; }
/*.ddeye-handle::before { color: #fff; content: "\f06e"; display: block; font-size: 20px; font-weight: normal; left: 0; position: absolute; text-align: center; text-indent: 0; top: 3px; width: 100%; font-family: 'FontAwesome';}*/
.dd3-content { padding: 5px 10px 5px 80px; }
.dd-item.hoverme { box-shadow: 0px 2px 2px #7a7a7a; }
.dd3-handle::before { background: #fff; color:#727272; }

.ddeye-handle.eye-active { border-color: #ccc; }
.menu-button-holder.menu-show { opacity:1; visibility: visible; }
.menu-button-holder.show-fixed { opacity:1; visibility: visible; }
.dd-handle.dd3-handle { background: #fff none repeat scroll 0 0; }


#nestable_list_1 .dd3-content { padding: 5px 10px 5px 40px; }
#nestable_list_1 .ddeye-handle { display: none; } 
.dd-content.dd3-content > input { height: 20px; width: 150px; }
.dd-content > a { display: block; float: left; text-align: left; width: 100%; }

.btn.btn-primary.pull-right.btn-save-nav-menu { border-radius: 0; left: 125px; line-height: 1; position: absolute; top: 8px; z-index: 999; }
.btn-save-nav-menu > .fa.fa-exclamation-circle { background: #fff none repeat scroll 0 0; border-radius: 80%; color: #e74c3c; font-size: 17px; position: absolute; top: -5px; }
.btn-save-slide-changes > .fa.fa-exclamation-circle { background: #fff none repeat scroll 0 0; border-radius: 80%; color: #e74c3c; font-size: 17px; position: absolute; top: -5px; }
/*switch */
input[type="checkbox"].ios-switch { 
	position: absolute;
	opacity: 0;
}

/* Normal Track */
input[type="checkbox"].ios-switch + div {
	vertical-align: middle;
	width: 40px;	height: 20px;
	border: 1px solid rgba(0,0,0,.4);
	border-radius: 999px;
	background-color: rgba(0, 0, 0, 0.1);
	-webkit-transition-duration: .4s;
	-webkit-transition-property: background-color, box-shadow;
	box-shadow: inset 0 0 0 0px rgba(0,0,0,0.4);
	margin: 5px 0 5px 0;
}

/* Checked Track (Blue) */
input[type="checkbox"].ios-switch:checked + div {
	width: 40px;
	background-position: 0 0;
	background-color: #3b89ec;
	border: 1px solid #0e62cd;
	box-shadow: inset 0 0 0 10px rgba(59,137,259,1);
}

/* Tiny Track */
input[type="checkbox"].tinyswitch.ios-switch + div {
	width: 34px;	height: 19px; position: relative;
}

/* Big Track */
input[type="checkbox"].bigswitch.ios-switch + div {
	width: 50px;	height: 25px;
}

/* Green Track */
input.green.ios-switch[type="checkbox"]:checked + div {
  background-color: #5cb85c;
  border: 1px solid rgba(68, 157, 68, 1);
  box-shadow: 0 0 0 12px rgba(92, 184, 92, 1) inset;
}

/* Normal Knob */
input[type="checkbox"].ios-switch + div > div {
	float: left;
	width: 18px; height: 18px;
	border-radius: inherit;
	background: #ffffff;
	-webkit-transition-timing-function: cubic-bezier(.54,1.85,.5,1);
	-webkit-transition-duration: 0.4s;
	-webkit-transition-property: transform, background-color, box-shadow;
	-moz-transition-timing-function: cubic-bezier(.54,1.85,.5,1);
	-moz-transition-duration: 0.4s;
	-moz-transition-property: transform, background-color;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(0, 0, 0, 0.4);
	pointer-events: none;
	margin-top: 1px;
	margin-left: 1px;
}

/* Checked Knob (Blue Style) */
input[type="checkbox"].ios-switch:checked + div > div {
	-webkit-transform: translate3d(20px, 0, 0);
	-moz-transform: translate3d(20px, 0, 0);
	background-color: #ffffff;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(8, 80, 172,1);
}

/* Tiny Knob */
input[type="checkbox"].tinyswitch.ios-switch + div > div {
	width: 16px; height: 16px;
	margin-top: 1px;
}

/* Checked Tiny Knob (Blue Style) */
input[type="checkbox"].tinyswitch.ios-switch:checked + div > div {
	-webkit-transform: translate3d(16px, 0, 0);
	-moz-transform: translate3d(16px, 0, 0);
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(8, 80, 172,1);
}

/* Big Knob */
input[type="checkbox"].bigswitch.ios-switch + div > div {
	width: 23px; height: 23px;
	margin-top: 1px;
}

/* Checked Big Knob (Blue Style) */
input[type="checkbox"].bigswitch.ios-switch:checked + div > div {
	-webkit-transform: translate3d(25px, 0, 0);
	-moz-transform: translate3d(16px, 0, 0);
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(8, 80, 172,1);
}

/* Green Knob */
input[type="checkbox"].green.ios-switch:checked + div > div {
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 162, 63,1);
}

.ddeye-handle > label { display: unset; height: 29px; left: 2px; position: relative; }
.onswitch, .offswitch { line-height: 1; position: absolute; }
.onswitch { font-size: 8px; left: 2px; top: 5px; }
.offswitch { color: #888; font-size: 8px; right: 2px; top: 5px; }
.no-click { pointer-events: none; opacity: 0.6; background: #ccc; }

.portlet-footer { padding: 8px 10px; border-top: 1px solid #ccc; }
#nestable_list_1.dd, #nestable_list_2.dd { margin-bottom: 20px; }

.sd-loadbar { background: #dde6ec none repeat scroll 0 0; bottom: 0; left: 0; position: fixed; right: 0; top: 0; z-index: 99999999; }
#progress_div .bar { background-color: #8797a2; height: 100%; }
.sd-loadbar .boxcontainer { height: 200px; left: 50%; margin-left: -150px; margin-top: -100px; position: fixed; top: 50%; width: 300px; }
.sd-loadbar .progress { background: transparent none repeat scroll 0 0; border: 1px solid #8797a2; height: 8px; width: 200px; margin: 0 auto; }
.bar { width:0; }
.loadlogo { background-image: url("images/sdgraylogo.png"); background-position: center center; background-repeat: no-repeat; background-size: 100% auto; display: block; height: 120px; margin: 0 auto 22px; width: 120px; }
.lotext > div{ display: inline; }
.lotext { color: #6e6e6e; display: block; margin: 8px 0; text-align: center; }
.portlet.light > #form-nav-function { position: relative; }
#form-nav-function > #page-manager-response { position: absolute; width: 100%; z-index: 99999; top:4px; }
#form-nav-function > #page-manager-response > .alert { padding: 10px; border-radius: 0; }
.relative { position: relative; }
.custom-slide-container.relative { min-height: 320px; overflow: hidden;}
.custom-slide-container .ls-slide, .custom-slide-container  .ls-layer { display: unset; width: 100%; overflow: unset; }
.custom-slide-container .ls-slide .ls-bg { width: 100%; }
.custom-slide-container > .btn.btn-warning { position: absolute; z-index: 9; right: 5px; top: 5px; border-radius: 2px; }
.portlet.light.contx { background: #fff none repeat scroll 0 0; color: #6b6b6b; }
.portlet.light.contx > .portlet-body { box-sizing: border-box; display: table; width: 100%; }
.slidelist { overflow-y: auto; float: left; height: 500px; width: 150px; border-right: 1px solid #909090; padding: 10px; }
.slideview { float: left; height: 500px; width: calc( 100% - 150px ); padding: 10px 70px; }
.portbox { display: table; width: 100%; background: #fff; }
.slideview .ls-l.ls-title { border: medium none !important; font-size: 20px; line-height: 50px; margin-left: unset; margin-top: unset; text-align: center; text-shadow: 1px 10px 33px #000000 !important; top: 106px; width: 100%; z-index: 99; }
.slideview #sd-slide-sub-view.ls-l.ls-mini-text { font-size: 13px; top: 140px; width: 100%; z-index: 99; }
.slideview .ls-l.ls-mini-text { font-size: 10px; top: 120px; width: 100%; z-index: 99; }
.slideview .portlet.box .custom-slide-container .ls-slide.ls-slide1 { overflow: hidden; }
.custom-slide-container .ls-l.ls-mini-text { top: 185px; }
.slide-controllers { color: #737373; font-weight: 200; }
.slide-controllers .form-group { margin-top: 10px; }
.slide-controllers .form-group > label { font-weight: 500; }
.slider.slider-basic.bg-red.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all { margin-top: 12px; background: #e3e3e3 none repeat scroll 0 0; height: 5px; }
.ui-slider-handle.ui-state-default.ui-corner-all { border-radius: 50%; box-shadow: -1px 1px 3px #4f4e4e; border: medium none; top: -8px; }
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: medium none; background: #fff none repeat scroll 0 0; }
.ls-sd-overlay { background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0; bottom: 0; left: 0; position: absolute; right: 0; top: 0; z-index: 1; }
.noscroll { overflow: hidden; }
.slidelist a.sel-slider { overflow: hidden; box-shadow: 1px 0 2px #222; display: block; height: 90px; margin: 0 auto; position: relative; width: 100%; }
.slidelist > label { color: #747474; font-size: 20px; font-weight: 400; }
.slidelist a.sel-slider > .slider-centered { bottom: 0; left: 0; position: absolute; right: 0; top: 0; transform: translate(50%, 50%); }
.slidelist .slider-centered > img { position: absolute; transform: translate(-50%, -50%); }
.slider-gallery-show { padding: 15px; transition: .2s all; transform: scale(0.5); opacity:0; visibility: hidden; background: #222e3b none repeat scroll 0 0; bottom: 0; left: 0; position: absolute; right: 0; top: 0; z-index: 1; box-shadow: 1px 0px 10px #222; }
.slider-gallery-show.show { z-index: 9999; opacity: 1; visibility: visible; transform: scale(1);} 
.slider-gallery-close { background: #fff none repeat scroll 0 0; border: 2px solid #273340; border-radius: 50%; color: #54606d; height: 30px; position: absolute; right: 1px; text-align: center; top: -50px; width: 30px; }
.slider-gallery-preloader { height: 200px; left: 50%; margin-left: -100px; position: absolute; top: 50%; width: 200px; margin-top: -100px; }
.sel-slider.sd-slider-active { border: 4px solid; box-shadow: 1px 1px 4px #337ab7 !important; }
.sel-slider:hover { box-shadow: 1px 1px 4px #337ab7 !important; }
.slider-gallery-show .imglicontainer > a:hover::before { background: rgba(0,0,0,0.6); z-index: 9999; position: relative; } 
.slider-gallery-show .imglicontainer > a span { display: none; }
.slider-gallery-show .imglicontainer > a:hover span { display: block; color: #fff; z-index: 9999; position: absolute; text-align: center; width: 100%; font-size: 18px; height: 26px; top: 50%; margin-top: -13px; }
.sd-banner-menu-item {transition: .2s all; position: relative; margin: 15px auto; display: block; width: 116px; }
.sd-banner-menu-item .btn.btn-danger { position: absolute; z-index: 9; font-size: 8px; padding: 5px 7px; border-radius: 50%; opacity: 0; right: -4px; top: -7px; }
.sd-banner-menu-item:hover .btn.btn-danger { opacity: 0.95;}
.sd-banner-menu-item.removeout { opacity: 0; transform: scale(0.5); }
#banner-gallery-container > .image-gallery { background: #e9e9e9 none repeat scroll 0 0; clear: both; display: table; height: 300px; list-style: outside none none; margin: 0 0 40px; min-height: 450px; overflow-y: auto; padding: 12px; width: 100%; }
.front-dbar.open > .dropdown-menu { display: block; left: unset; right: 0; }
.disabled-function { pointer-events: none; opacity: 0.4; }
.slider-gallery-show.show > h1 { margin: -11px 0 9px; font-size: 22px; font-weight: 300; }
.ui-state-default.section-appender.banner-section-appender .after-section.sd-column-shell { z-index: 9999; }
/*end of switch*/


/*preloaders */

#fullpageloader-response { transition: .2s all; opacity:0; visibility: hidden; background: rgba(34, 44, 53, 0.9) none repeat scroll 0 0; opacity:0; visibility: hidden; bottom: 0; opacity:0; visibility: hidden; left: 0; opacity:0; visibility: hidden; position: fixed; opacity:0; visibility: hidden; right: 0; opacity:0; visibility: hidden; top: 0; opacity:0; visibility: hidden; z-index: 99999999; }
#fullpageloader-response.show { opacity:1; visibility: visible; }
.full-page-reloader > p.big { color: #ffffff; font-size: 31px; position: absolute; text-align: center; top: 55%; width: 100%; }

/* for colorpicker */

.maintools.colorpicker { height: 40px; border-left: 2px solid #fff; padding: 0 0 0 14px; }
.sdlogin-bar > ul.maintools.colorpicker > li { height: 40px; }
.maintools.colorpicker .colorpaint { border: medium none; border-radius: 50%; color: #7e7e7e; display: block; font-weight: 700; height: 18px; line-height: 1.2; margin-top: 10px; width: 18px; }
.colorpaint.red { background: #c0392b; }
.colorpaint.orange { background: #f39c12; }
.colorpaint.yellow { background: #f1c40f; }
.colorpaint.green { background: #16a085; }
.colorpaint.blue { background: #2980b9; }
.colorpaint.indigo { background: #8e44ad; }
.colorpaint.violet { background: #9b59b6; }

.text.text-primary.got-it { margin-right: 14px; position: relative; top: 6px;}
.sd-pannel-out { background-color: transparent; height: 100%; position: fixed; width: 100%; z-index: 9999999;}
.profile-stat.navbar-right .btn.btn-danger {position: relative;}
.fa.fa-exclamation-circle.blink.sd-publish::after { background: #fff none repeat scroll 0 0; content: ""; display: block; height: 15px; left: 5px; position: absolute; top: 5px; width: 10px; z-index: -1; }
.fa.fa-exclamation-circle.blink.sd-publish { color: orange; right: -8px; top: -8px; }
.se-pre-con .sd-note { color: #717e87; font-size: 20px; position: absolute; text-align: center; top: 70%; width: 100%; }

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.blink { animation: blink 1s; animation-iteration-count: infinite; }
.fa.fa-exclamation-circle.blink { font-size: 25px; position: absolute; top: -3px; }

.absolute.button-slide-open-container { top:0; position: absolute; right: 15px; z-index: 9999; width:200px; }
.relative.sd-sl { height: 150px; width: 100%; }
.sd-slmenu span {visibility: hidden;}
.sd-slmenu > i.fa { position: absolute; right: 8px; top: 7px; font-size: 18px; }
.sd-slmenu { cursor:pointer; background: #2b3742 none repeat scroll 0 0; border: 4px solid #9c9c9c; border-radius: 22px; box-shadow: 1px 1px 0 #222; color: #fff; font-weight: 600; height: 40px; padding: 5px 14px; position: absolute; right: 8px; text-align: left; top: 8px; transition: all 0.3s ease 0s; white-space: nowrap; width: 40px; }
/*.sd-slmenu:hover {width: 175px; padding-right: 40px;}*/
/*.sd-slmenu:hover span { visibility: visible; }*/
.slider-list-menu > li.indicators-sd { border-color: transparent transparent #1c2833; border-style: solid; border-width: 0 10px 9px; height: 0; position: absolute !important; right: 6px; top: -12px; width: 0; }
.sd-sl .slider-list-menu.show, .sd-slmenu:hover .slider-list-menu, .sd-sl .slider-list-menu:hover {display: block;}
.sd-sl .slider-list-menu { background: #35414e none repeat scroll 0 0; border: 4px solid #1c2833; border-radius: 6px; box-shadow: 1px 2px 2px #222; color: #ccc; display: none; font-weight: 400; list-style: outside none none; padding: 0 0 6px; position: absolute; right: -2px; top: 50px; }
.sd-sl .slider-list-menu > li button { text-align: left; padding: 2px 8px; background: transparent; border: none; font-weight: 400; width:100%; display: block; }
.sd-sl .slider-list-menu > li button:hover { background:#0977c9 none repeat scroll 0 0; color: #fff; }
.sd-sl .slider-list-menu > li { position: relative; }
.slider-list-menu > li:first-child::after { background: #737373 none repeat scroll 0 0; bottom: 0; clear: both; color: #fff; content: ""; height: 1px; left: 0; position: absolute; width: 100%; }
.slider-list-menu > li:first-child { padding: 8px 8px; font-size: 15px; margin-top: -4px; margin-bottom: 5px; }
.slide-num { color: #4f4f4f; left: -8px; position: absolute; font-weight: 700; font-family: cursive; font-size: 12px; }


.sd-banner.first-sec { min-height: 8px; position: relative; z-index: 30; height: auto;}
.first-sec > .after-section.sd-column-shell { margin-top:0 !important; }

.sd-main-content { position: relative; z-index: 20; }

/*right click on slidelist css*/ 
/* CSS3 */ 
/* The whole thing */
.custom-menu { background: #35414e none repeat scroll 0 0; border: 2px solid #2b3742; border-radius: 0; box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); color: #fff; display: none; font-family: sans-serif; overflow: hidden; padding: 0; position: fixed; white-space: nowrap; z-index: 99999999; }
/* Each of the items in the list */
.custom-menu li { padding: 8px 12px; cursor: pointer; list-style-type: none; transition: all .3s ease; }
.custom-menu li:hover { background-color: #0977C9; }
 
/* tutorials overlay*/
.ui-tooltip.ui-widget.ui-corner-all.ui-widget-content { background:#2B3742; color:#fff; border-radius: 0; box-shadow: 1px 1px 2px rgba(0,0,0,0.7); border: 4px solid #1c2833; }
.overlay-tutorials { visibility:hidden; display:none; position: fixed; top:0; bottom:0; left:0; right:0; z-index: 99999999; font-family:'Open Sans', sans-serif; color:#d4d4d4;}
.overlay-tutorials.run { display: block; visibility: visible;}
.overlay-tutorials > div { visibility: hidden; opacity: 0; transition: .3s all; z-index: 999999999; position: absolute; }
.overlay-tutorials > div.showtuts { visibility: visible; opacity: 1; }
.overlay-tutorials .first-cover-2 { margin-top: 1%; width: 100%; margin-left: 33%; }
.overlay-tutorials .first-cover { margin-left: 2%; margin-top: 13%; text-align: center; width: 100%; }
.overlay-tutorials .first-cover.show { visibility: visible; opacity: 1; }
.overlay-tutorials .first-cover-2.show { visibility: visible; opacity: 1; }
.first-cover-2.page-management-cover.show > img { width: 100px; position: relative; top: 90px; left: -107px; }
.overlay-tutorials h1 { font-family: "Cookie",cursive; font-size: 5.5vw; }
.overlay-tutorials h5 { font-family: "Cookie",cursive; font-size: 5vw; } 
.overlay-tutorials p { font-family: Open Sans; font-size: 1.5vw; margin-bottom: 25px; }
.overlay-tutorials button { background: transparent none repeat scroll 0 0; border: 2px solid #d4d4d4; border-radius: 2px; font-size: 1.2vw; margin: 0 10px; padding: 6px 20px; }
.overlay-tutorials button:hover { background:#d4d4d4; color:#333; }
.btn-guide.start-guide { background: #0976ca; border: 2px solid #0976ca; }
.btn-guide.start-guide:hover { background: #0962b6; color: #fff; border-color: #0962b6; }
.btn-guide > i.fa { font-size: 25px; top: 2px; position: relative; }
.btn-guide > i.fa-angle-left { margin-left: -10px; margin-right: 3px;}
.btn-guide > i.fa-angle-right { margin-right: -10px; margin-left: 3px; } 
.overlay-tutorials div.hole { visibility: visible; opacity: 1; position: absolute; box-shadow: 0 0 0 99999px rgba(0, 0, 0, .93); transition:.2s all; }
.logged-in > .sd-tutorials { background: #3498db none repeat scroll 0 0; border: medium none; border-radius: 50%; bottom: 8%; box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9); color: #fff; font-size: 21px; height: 50px; padding: 10px; position: fixed; right: 3%; width: 50px; z-index: 999999999; }
.logged-in > .sd-tutorials > img { width: 100%; }

/* the divs */
.walkthrough-1 { left: 20%; max-width: 630px; text-align: right; top: 20%; }
.overlay-tutorials div.hole.show-1 { border: 2px solid #fff; height: 46px; width: 226px; }
.walkthrough-1 > img { top:12%; left: 12%; position: fixed; width: 10%; }

.walkthrough-2 { left: 24%; max-width: 630px; text-align: right; top: 20%; }
.overlay-tutorials div.hole.show-2 { border: 2px solid #fff; height: 46px; left: 200px; width: 111px; }
.walkthrough-2 > img { left: 17%; position: fixed; top: 12%; width: 10%; }
 
.walkthrough-3 { left: 30%; max-width: 630px; text-align: right; top: 20%; }
.overlay-tutorials div.hole.show-3 { border: 2px solid #fff; height: 46px; left: 312px; width: 200px; }
.walkthrough-3 > img { left: 26%; position: fixed; top: 12%; width: 10%; }

.walkthrough-4 { left: 16%; max-width: 630px; text-align: right; top: 20%; }
.overlay-tutorials div.hole.show-4 { border: 2px solid #fff; height: 300px; left: 0; width: 65px; top: 33px; }
.walkthrough-4 > img { left: 75px; position: fixed; top: 20%; transform: rotate(-95deg); width: 10%; }

.walkthrough-5 { max-width: 630px; right: 10%; text-align: left; top: 20%; }
.overlay-tutorials div.hole.show-5 { border: 2px solid #fff; height: 50px; top: 0; width: 155px; right: 0; }
.walkthrough-5 > img { position: fixed; top: 12%; width: 10%; transform: scaleX(-1); right: 2%; }

.walkthrough-6 > img { position: fixed; right: 12%; top: 12%; transform: scaleX(-1); width: 10%; }
.overlay-tutorials div.hole.show-6 { border: 2px solid #fff; height: 50px; right: 8%; top: 0; width: 170px; }
.walkthrough-6 { max-width: 630px; right: 18%; text-align: left; top: 20%; }

.walkthrough-7 > img { bottom: 12px; position: fixed; right: 8%; top: unset; transform: scaleX(-1) rotate(-60deg); width: 10%; }
.walkthrough-7 { max-width: 630px; right: 5%; text-align: left; top: unset; bottom: 15%; }

/*.walkthrough-8.showtuts { right: 18px; text-align: center; top: 60px; width: 400px; }*/
.walkthrough-8.showtuts { right: 427px; top: 418px; width: 400px; }
/*.walkthrough-8.showtuts > img { left: -160px; position: absolute; top: -37px; transform: rotate(193deg); width: 109px; }*/
.walkthrough-8.showtuts > img { left: -131px; position: absolute; top: 11px; transform: rotate(-1deg); width: 109px; }
.walkthrough-8.showtuts > h5 { font-size: 4vw; }
.walkthrough-8.showtuts p { font-size: 14px; margin-bottom: 25px; }
/*.overlay-tutorials div.hole.show-8 { border: 2px solid #fff; height: 285px; left: 240px; top: 128px; width: 720px; }*/
.overlay-tutorials div.hole.show-8 { height: 283px; left: 242px; top: 128px; width: 720px; }

/*.walkthrough-9.showtuts { text-align: center; top: 60px; width: 400px; left: 50px; }*/
.walkthrough-9.showtuts { left: 316px; top: 359px; width: 400px; }
/*.walkthrough-9.showtuts > img { position: absolute; transform:rotate(180deg); width: 109px; bottom: -60px; right: -64px; }*/
.walkthrough-9.showtuts > img { bottom: 211px; position: absolute; right: 320px; transform: rotate(270deg) scaleX(-1); -webkit-transform: rotate(270deg) scaleX(-1); -moz-transform: rotate(270deg) scaleX(-1); -ms-transform: rotate(270deg) scaleX(-1); width: 101px; }
/*.overlay-tutorials div.hole.show-9 { border: 2px solid #fff; height: 200px; left: 240px; width: 720px; top: 400px; }*/
.overlay-tutorials div.hole.show-9 { height: 192px; left: 255px; top: 169px; width: 30px; }
.walkthrough-9.showtuts > h5 { font-size: 4vw; }
/*.walkthrough-9.showtuts p { font-size: 23px; margin-bottom: 25px; }*/
.walkthrough-9.showtuts p { font-size: 15px; margin-bottom: 25px; }

/*.walkthrough-10.showtuts { text-align: center; top: 60px; width: 400px; left: 100px; }*/
.walkthrough-10.showtuts { left: 613px; top: 168px; width: 400px; }
.walkthrough-10.showtuts > img { bottom: -9px; position: absolute; right: 437px; transform: rotate(-179deg) scaleX(-1); -webkit-transform: rotate(-179deg) scaleX(-1); -moz-transform: rotate(-179deg) scaleX(-1); -ms-transform: rotate(-179deg) scaleX(-1); width: 130px; }
.overlay-tutorials div.hole.show-10 { border: 2px solid #fff; height: 45px; left: 250px; top: 365px; width: 120px; }
/*.walkthrough-10.showtuts > h5 { font-size: 4vw; }*/
.overlay-tutorials div.hole.show-10 { height: 237px; left: 243px; top: 418px; width: 720px; }
.walkthrough-10.showtuts p { font-size: 17px; margin-bottom: 25px; }

/*.walkthrough-11.showtuts { left: 400px; text-align: center; top: 60px; width: 400px; }*/
.walkthrough-11.showtuts { left: 487px; top: 219px; width: 400px; }
/*.walkthrough-11.showtuts > img { left: -60px; position: absolute; top: 50px; transform: rotate(0); width: 110px; }*/
.walkthrough-11.showtuts > img { left: -135px; position: absolute; top: -16px; transform: rotate(0deg); width: 110px; }
/*.overlay-tutorials div.hole.show-11 { border: 2px solid #fff; height: 39px; left: 308px; top: 55px; width: 108px; }*/
.overlay-tutorials div.hole.show-11 { height: 24px; left: 331px; top: 173px; width: 65px; }
.walkthrough-11.showtuts > h5 { font-size: 4vw; margin-bottom: 30px; }
.walkthrough-11.showtuts p { font-size: 17px; margin-bottom: 25px; }

/*.walkthrough-12.showtuts { left: 100px; text-align: center; top: 225px; width: 400px; }*/
.walkthrough-13.showtuts { left: 369px; top: 106px; width: 400px; }
.walkthrough-13.showtuts .pagebar { position: fixed; top: 165px; left: 256px; width: 678px; }
.walkthrough-13.showtuts > img { bottom: 57px; position: absolute; right: -109px; transform: rotate(-356deg) scaleX(-1); -webkit-transform: rotate(-356deg) scaleX(-1); -moz-transform: rotate(-356deg) scaleX(-1); -ms-transform: rotate(-356deg) scaleX(-1); width: 130px; }
.overlay-tutorials div.hole.show-13 { height: 31px; left: 830px; top: 59px; width: 98px; }
.walkthrough-13.showtuts > h5 { font-size: 4vw; }
/*.walkthrough-12.showtuts p { font-size: 23px; margin-bottom: 25px; }*/
.walkthrough-13.showtuts p { font-size: 14px; margin-bottom: 25px; }

/*end of tutorials overlay */

.btn-add-slide.marketing-upload.pull-right.btn.btn-success { border-radius: 0; position: absolute; right: 25px; text-transform: capitalize; }
#tweeterShareLink {
  background-color: #1da1f2;
  border-radius: 0;
  margin-right: 3px;
}
#facebookShareLink {
  background-color: #4867aa;
  border-radius: 0;
}

@media (max-width: 767px) { 
  /*for popup */
  #modaldynamic .modal-content { border: 0 none; border-radius: 0; bottom: 0; left: 0; position: absolute; right: 0; top: 0; }
  .fl-button { margin: 10px 0; display: block; }
  .ui-state-default.section-appender { padding: 40px 0 75px; }
} 

@media(max-width:480px) { 
  .maintools .sdicon { display: none;}
  .sdlogin-bar .dropdown-menu { right: 0; left: unset; }
  .sdlogin-bar .dropdown-toggle > span { display: none; }
  .maintools > li.websitename {display:none;}
}

/*for header */
.container { max-width: 1100px;}
#masthead { background-color: #fff; padding: 20px 0; z-index: 9999; }
#masthead .site-title h1 { margin:0; line-height: 1.5; font-size: 40px;}
#masthead .site-title h1 a { text-transform: capitalize; color: #303030; letter-spacing: -1px;}
#masthead .site-title h1 a:hover,
#masthead .site-title h1 a:focus { text-decoration: none; outline: none; }
#masthead .menu #sd-nav-bar-container ul.navbar-nav li { float: unset; display: inline-block;}
#masthead .menu #sd-nav-bar-container ul.navbar-nav li.active { box-shadow: 0 3px 0 0 #6CBC49; color: #303030;}
#masthead .menu #sd-nav-bar-container ul.navbar-nav li a { text-transform: capitalize; color: #303030; font-size: 16px; font-family: 'Open Sans',sans-serif; transition: all 300ms ease 0s;}
#masthead .menu #sd-nav-bar-container ul.navbar-nav li a:hover,
#masthead .menu #sd-nav-bar-container ul.navbar-nav li a:focus { background: transparent; box-shadow: 0 3px 0 0 #6CBC49; color: #303030; transition: all 300ms ease 0s;}
#masthead .menu-mobile { border: 0 none; margin: 20px 0; }
#masthead .menu-mobile ul { border-top: 1px solid #d1d1d1; margin: 0; }
#masthead .menu-mobile ul li.active { color: #303030; font-weight: 700; }
#masthead .menu-mobile ul li { border-bottom: 1px solid #d1d1d1; }
#masthead .menu-mobile ul li a { color: #303030; font-family: "Open Sans",sans-serif; font-size: 16px; }
#masthead .menu .navbar-header .navbar-toggle { background: #6CBC49 none repeat scroll 0 0; }
#masthead .menu .navbar-header .navbar-toggle .icon-bar { background: #ffffff none repeat scroll 0 0; }
.ui-state-default.section-appender { padding: 30px 0; }
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { color: #454545; font-weight: bold; }
.dropdown:hover > ul  { display: block; }
.dropdown-menu > li { display: block; width: 100%; }
.dropdown-menu > li > a { display: block; width: 100%; }

/* end for header */

@media screen and (max-width: 767px) {
  #masthead .site-title h1 { text-align: center; font-size: 32px; line-height: normal;}
  #masthead #mobile-menu { position: relative;}
  #masthead .menu .navbar-header .navbar-toggle { background: #303030;}
  #masthead .menu .navbar-header .navbar-toggle .icon-bar { background: #ffffff;}
  #masthead .menu-mobile #navbar2 { margin: 20px 0; border:0;}
  #masthead .menu-mobile #navbar2 ul li.active { font-weight: 700; color: #303030;  }
  #masthead .menu-mobile #navbar2 ul li a { font-family: 'Open Sans',sans-serif; font-size: 16px; color: #303030;}
  #banner { padding: 70px 0;}
  #banner .banner-text h1,
  #banner .banner-text h2 { font-size: 40px; margin: 0;}
  #banner .banner-text h2:before,
  #banner .banner-text h2:after { visibility: hidden;}
  #banner .banner-text h3 { font-size: 16px;}
  #banner .banner-btn .btn.btn-primary { font-size: 24px; min-width: 200px; padding: 15px;}
  #book-travel-form h1,
  #gallery h1 { font-size: 32px;}
  .dropdown:hover > ul  { display: none; }
  .dropdown.open > ul { display: block; }
  .dropdown > .dropdown-toggle { position: absolute; right: 0; padding: 10px 16px; border: none; top: 0; background: rgb(68,157,68); color: #fff; }
  #masthead .menu-mobile .dropdown ul li { border-bottom: none; }
}