.slides-container {overflow-y: auto; margin-left:15px; height: 70%; padding-bottom: 10px; padding-top: 10px; position: absolute; width: 200px; background: #fff; border: 1px solid #e2e2e2; box-shadow: 1px 1px -1px rgba(0,0,0, 0.2); padding-left: 12px; padding-right: 12px; }
.sd-banner {transform: scale(0.75) translateX(140px); -webkit-transform: scale(0.75) translateX(140px); -moz-transform: scale(0.75) translateX(140px);}
.slider-boxer > button { border: 3px dashed #bfbfbf; height: 100%; width: 100%; font-size: 19px; color: #7b7b7b; }
.slider-boxer > button:hover { opacity: 1; background: rgba(41, 128, 185,0.4); border-color:rgb(41, 128, 185); }
.slider-boxer.editslide > button { opacity:0; }
.slider-boxer.editslide > button:hover { opacity: 1; color: #fff; font-weight: 700; text-shadow: 1px 1px 1px #000; }
.slider-boxer { position: relative; background: #f5f5f5 none repeat scroll 0 0; border: 1px solid #e2e2e2; display: block; height: 100px; margin: 12px 0; width: 100%; background-size: 100%; background-repeat: no-repeat; background-position: center; }
.saveSlide { float: right; margin-top:-45px;}
.slider-boxer.editslide > .deleteSlide { display:none; background: #f1353d none repeat scroll 0 0; border: medium none; border-radius: 50%; color: #fff; font-size: 0; height: 25px; opacity: 1; position: absolute; right: -10px; top: -11px; width: 26px; z-index: 9999; }
.slider-boxer.editslide.wiggling > .deleteSlide { display:block; }
.deleteSlide > .fa.fa-close { font-size: 10px; }
.editslide.wiggling { box-shadow: 1px 2px 2px #ccc; border: 2px solid red; } 

@media(min-width: 992px) {
  .sd-banner .col-md-12 > h1 { margin-top: -55px; color: #6f6f6f; margin-bottom: 20px; }
}
@media(max-width:991px) {
  .sd-banner {transform: unset; -webkit-transform: unset; -moz-transform: unset;}  	
  .page-header-inner .container-fluid > h1 { text-align: center; font-size: 22px; margin: 10px 0; }
  .page-sidebar-closed-hide-logo .page-header.navbar { min-height: 50px; } 
} 