.page-header.navbar .page-logo .logo-default { margin: 29px 10px 0; width: 140px; }
.page-header.navbar { background-image: none; border: 0 none; box-shadow: 0 0 2px rgba(0, 0, 0, 0.5); filter: none; height: 40px; margin: 0; min-height: 40px; padding: 0; width: 100%; }
.page-header.navbar .page-logo { display: block; float: left; height: 40px; padding-left: 20px; padding-right: 20px; width: 265px; }
.page-sidebar, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover { border-radius: 0; }
.page-header.navbar .page-logo .logo-default { margin: 10px 0; width: 115px; }
.page-header.navbar .top-menu .navbar-nav > li.dropdown { display: inline-block; height: 30px; margin: 0; padding: 0; }
.page-header-fixed .page-container { margin-top: 40px; }
.page-header.navbar .menu-toggler.sidebar-toggler { float: right; margin: 12px 0 0; }
.page-header.navbar .top-menu .navbar-nav > li.dropdown > .dropdown-toggle { margin: 0; padding: 10px 12px 9px; }
.page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle { padding: 7px 10px 2px; }
.page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle > img { display: inline-block; height: 34px; margin-left: 5px; margin-top: -6px; }
.page-footer-inner img { margin-top: -2px; width: 100px; margin-left: -2px;}
.note.bordered p { font-size: 13px; width: 310px; }
.note.note-info.bordered.note-shadow { border-bottom: 1px solid #91d9e8; border-right: 1px solid #91d9e8 !important; border-top: 1px solid #91d9e8 !important; display: table; width: 100%; }
.btn.btn-right { float: right; font-size: 16px; margin-top: 0; position: relative; top: 0; }
.btn.btn-right.btn-primary {border-bottom: 3px solid #1f68a7;}
.btn.btn-right.btn-danger {border-bottom: 3px solid #be3834;}
.note.bordered p { margin: 0; font-size: 13px; width: 355px; float: left; }
.note > img { background: #ffffff none repeat scroll 0 0; float: left; height: 100%; margin: -14px 15px -14px -14px; padding: 28px 11px; width: 120px; }
.top .jquery-notific8-notification { margin-top: 20px; }

@media(max-width: 767px) {
  .page-header.navbar .menu-toggler.responsive-toggler { display: none; float: right; margin: 10px 14px 0 6px; }
  .note > img { display: none; }
  .note.bordered > p { float: unset; margin: 0 0 10px; display: block; text-align: center; width: 100%; }
  .note.bordered > .btn.btn-right { display: block; float: unset; font-size: 13px; margin: 0 auto; position: relative; top: 0; }
}