body { color: #444; }
header.logo-center { margin: 40px 0 0; }
.logo-center > img { width: 200px; margin:0 auto; display: block; }
.white-box { background: #fff none repeat scroll 0 0; box-shadow: 0 0 2px #d6d6d6; margin: 25px auto; max-width: 700px; padding: 15px 20px; }
p, ol { color: #444; font-size: 15px; line-height: 1.5; }
p {margin: 15px 0;}
ol {margin: 20px 0;}
b, strong { font-weight: 600; }
h1 { font-size: 26px; }
ul li { font-size: 14px; margin-bottom: 10px; }
.note > p {margin:0;}
.button.button-large { border-radius: 3px; border-style: solid; border-width: 1px; box-sizing: border-box; cursor: pointer; display: inline-block; font-size: 13px; height: 30px; line-height: 28px; padding: 0 12px 2px; background: #f7f7f7 none repeat scroll 0 0; border-color: #ccc; box-shadow: 0 1px 0 #ccc; color: #555; vertical-align: top; }
.button.button-large:hover {text-decoration: none; background-color: #fff; border-color: #aaa;}

.form-table th { text-align: left; width: 140px; }
.form-table td, .form-table th { font-size: 14px; padding: 10px 20px 10px 0; vertical-align: top; }
.form-table input[type="email"], .form-table input[type="password"], .form-table input[type="text"], .form-table input[type="url"] { border-radius: 0; padding: 8px; width: 100%; }
.form-table input { border: 1px solid #ddd; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07) inset; font-size: 15px; line-height: 20px; padding: 3px 5px; }
label { cursor: pointer; font-size: 14px; font-weight: 400; }
.form-table span.description.important { font-size: 12px; line-height: 0; position: relative; top: -12px; }
.form-table label { font-weight: bold; }
td > p { margin:0; }

@media(max-width:767px) {
	.page-content-wrapper { padding: 0 15px; }
	.form-table span.description, .form-table td input[type="text"], .form-table td input[type="email"], .form-table td input[type="url"], .form-table td input[type="password"], .form-table td select, .form-table td textarea { box-sizing: border-box; display: block; font-size: 16px; line-height: 1.5; max-width: none; padding: 7px 10px; width: 100%; }
	.form-table td, .form-table th { display: block; vertical-align: middle; width: auto; }
}