.copyright img { width: 85px; }
.login { background-color: #c9d4e3 !important; }
.login .content h3 { color: #696969; font-size: 28px; font-weight: 400 !important; text-align: center; }
.text-center > a { color: #474747; font-size: 16px; margin: 0; }
.text-center {margin-bottom: 20px;}
.logo img { width: 200px; }